@use 'sass:color';

@use '../../../00-settings/colors' as *;
@use '../../../00-settings/borders' as *;
@use '../../../00-settings/fonts' as *;
@use '../../../../assets/variables' as *;
@use '../../../00-settings/sizes' as *;

@use '../../../01-tools/flex-align' as *;

.ClinicalBadge {
	@include flex-center-total();
	border: 1px solid $light-grey;
	border-radius: $border-radius-default;
	color: $mid-light-grey;

	flex-direction: column;
	height: 50px;
	padding: 3px 5px;
	position: relative;
	width: 32px;

	&:hover {
		background-color: $sapphire-light;
	}

	&--noHover {
		pointer-events: none;
	}

	&.ColorZetaBG {
		border: none;
		color: $regular-beta;

		&:hover {
			background-color: color.adjust($regular-zeta, $lightness: -5%);
		}
	}

	&.ColorLightRedBG {
		border: none;
		color: $regular-red;

		&:hover {
			background-color: color.adjust($light-red, $lightness: -5%);
		}
	}

	&.ColorLightGreenBG {
		border: none;
		color: $regular-green;

		&:hover {
			background-color: color.adjust($light-green, $lightness: -5%);
		}
	}

	&.ColorLightBlueBG {
		border: none;
		color: $regular-blue;

		&:hover {
			background-color: color.adjust($light-blue, $lightness: -5%);
		}
	}

	&.ColorMidDarkGreyBG {
		border: none;
		color: $regular-white;

		&:hover {
			background-color: color.adjust($mid-dark-grey, $lightness: -5%);
		}
	}

	&-label {
		font-size: $font-size-small;
	}

	.icon {
		font-size: $font-size-heading3;
	}
}

.ClinicalBadgeWarning {
	display: block;
	position: relative;

	&::after {
		color: $regular-red;
		content: '\e939';
		font-family: $font-family-icons;
		position: absolute;
		right: -3px;
		top: -6px;

		.AR & {
			left: -3px;
			right: auto;
		}
	}
}

.PatientHabitsContainer {
	display: flex;
	gap: $sapphire-sizes--xsmall;

	> .OSInline {
		display: inline-block;
		vertical-align: middle;
	}
}
