@use '../../../00-settings/colors' as *;
@use '../../../00-settings/url' as *;
@use '../../../00-settings/fonts' as *;

@use '../../../01-tools/scrollbar' as *;

@use '../../../01-tools/alignment' as *;

.Sidebar {
	border-left: 1px solid #ddd;
	height: 100%;
	padding: 24px 18px;
	position: fixed;
	right: -320px;
	top: 50px;
	width: 300px;
}

.ISidebar {
	display: flex;

	.ISidebar-content {
		@include component-scroll(true, 0);

		.SegmentedControl {
			.ButtonGroup_button.Button {
				background-color: $sapphire-grey-blue;
				border: none;
				user-select: none;
				-moz-user-select: none;
				-webkit-user-select: none;

				&:active,
				&.active {
					background-color: $regular-alpha;
					color: $regular-white;
					font-weight: bold;
				}

				label {
					color: $light-grey !important;
					cursor: pointer;
				}
			}
		}

		.Dropdown {
			background-color: $sapphire-grey-blue;
			background-image: $icon__arrow-sideBar;
			border: none;
			color: $light-grey;
			cursor: pointer;

			&:hover {
				box-shadow: none;
			}
		}

		.TextInput {
			background-color: $sapphire-grey-blue;
			border: none;
			color: $light-grey;

			&.Not_Valid {
				border: 1px solid $regular-red;
				border-left-width: 3px;
			}

			&:focus {
				box-shadow: none;
			}

			&::placeholder {
				color: $regular-grey;
			}
		}

		.ValidationMessage {
			position: initial;
		}
	}

	.DepartmentName {
		color: $light-grey;
		font-size: $font-size-tiny;
		line-height: 1em;
		margin-top: 5px;
		max-width: 180px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&.open {
		.ISidebar-user {
			max-width: 262px;
		}

		.ISidebar-menu {
			background-color: $sapphire-grey-blue;
		}

		.ISidebar-content {
			max-width: 262px;
			min-width: 262px;
			padding-left: 18px;
			padding-right: 58px;
		}

		.ISidebar-user-login {
			opacity: 1;

			.VersionInfo {
				color: $light-grey;
				display: block;

				&:hover {
					color: $regular-alpha;
				}
			}
		}

		.ISidebar-user-login-name {
			color: $light-grey;
			margin: 4px 0 2px 0;

			.UserLink {
				color: $regular-white;

				&:hover {
					color: $regular-alpha;
				}

				.UserName {
					display: inline;
					margin: 0;
				}
			}
		}

		.ISidebar-user-login-name .ISidebar .wbTasks .ISidebar-content-panel-content>div {
			margin-bottom: 10px;
		}
	}

	.TextInput_Container.OSInline {
		display: inline-block;
	}

	.FieldsSlider.Tab1 {
		.FieldsSliderTab1 {
			display: block;
		}
	}

	.FieldsSlider.Tab1 {
		.FieldsSliderTab2 {
			display: none;
		}
	}

	.FieldsSlider.Tab2 {
		.FieldsSliderTab1 {
			display: none;
		}
	}

	.FieldsSlider.Tab2 {
		.FieldsSliderTab2 {
			display: block;
		}
	}

	.SearchSideBar {
		.ButtonGroup_button.Button {
			width: 50%;
		}
	}

	input[type='number'] {
		text-align: center;
	}

	.SearchSideBar {
		>.SearchSideBarFields {
			margin-top: 0;
		}

		>.SearchSideBarLabel {
			color: unset;
			font-size: unset;
			font-weight: 400;
			height: auto;
		}

		>.SearchSideBarLabel {
			>div:first-of-type {
				font-size: unset;
			}
		}
	}
}

.department-selector-container {

	//tooltipster
	.department-menu.department-menu-scrollbar {
		background-color: $sapphire-grey-blue;
	}
}

.ISidebar-menu {
	background-color: $sapphire-grey-blue;
	height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	z-index: 1;

	.verticalAlignHelper {
		display: none;
	}
}

.AR {
	.ISidebar-menu {
		left: 0;
		right: auto;
	}

	.ISidebar-user {
		left: 0;
		right: auto;
	}

	.ISidebar-user-logout {
		left: 0;
		right: auto;
	}

	.ISidebar.open .ISidebar-content {
		padding-left: 50px;
		padding-right: 10px;
	}

	.ISidebar-age-format {
		margin-left: 0;
		margin-right: 10px;
	}
}

.ISidebar-user {
	background-color: $sapphire-dark-blue;
	border-top: 1px solid $sapphire-grey-blue;
	bottom: 0;
	height: 60px;
	max-width: 40px;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 2;

	.icon-myinfo {
		display: none;
	}
}

.ISidebar-user-login {
	display: block;
	height: 60px;
	opacity: 0;
	padding: 3px 18px;
	transition: all 0.5s ease;
	white-space: nowrap;
	width: calc(100% - 40px);

	.VersionInfo {
		display: none;
		position: absolute;
		top: -25px;
	}
}

.ISidebar-user-login-location {
	.VersionInfoWhite {
		color: $regular-white;
	}
}

.ISidebar-user-logout {
	background-color: $sapphire-grey-blue;
	height: 58px;
	line-height: 58px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;

	a {
		color: $light-grey;
		cursor: pointer;
		font-size: $font-size-heading3;
		height: 30px;
		margin: 0;
		text-align: right;
		width: 40px;

		&:hover {
			color: $regular-alpha;
		}
	}
}

.ISidebar-shield {
	background-color: $dark-grey;
	flex-basis: 100%;
	opacity: 0.2;
}

.ISidebar-content {
	background-color: $sapphire-dark-blue;
	height: 100vh;
}

.ISidebar-content-panel {
	display: none;
	width: 190px;
}

.ISidebar-content-panel-title {
	color: #fff;
	display: block;
	font-family: $font-family-latin-bold;
	font-size: $font-size-heading2;
	line-height: 50px;
}

.AR .ISidebar-content-panel-title {
	font-family: $font-family-arabic-bold;
}

.ISidebar-content-panel-content {
	height: calc(100vh - 150px);
	overflow-x: hidden;
	overflow-y: auto;
}

.ISidebar .SearchSideBar>.SearchSideBarFields>div.SliderWrapper>div.FieldsSlider>div {
	width: 100%;
}

.ISidebar.notExpandable .ISidebar-content {
	min-width: 262px;
}

.ISidebar .SearchSideBar>.SearchSideBarFields>div.SliderWrapper>div.FieldsSlider,
.ISidebar .SearchSideBar>.SearchSideBarFields>div.SliderWrapper>div.FieldsSlider.Tab1,
.ISidebar .SearchSideBar>.SearchSideBarFields>div.SliderWrapper>div.FieldsSlider.Tab2 {
	display: block;
	margin: 0;
	padding: 0;
	transition: none;
	white-space: normal;
}

.ISidebar .SearchSideBar>.SearchSideBarFields>div.SliderWrapper>div.FieldsSlider.Tab1>div:last-child input,
.ISidebar .SearchSideBar>.SearchSideBarFields>div.SliderWrapper>div.FieldsSlider.Tab2>div:first-child input {
	display: block;
}

.ISidebar-age-format {
	margin-left: 10px;
	margin-top: 0;
	width: 125px;
}

.ISidebar .Page.FA .SearchSideBar>.SearchSideBarFields>div.SliderWrapper>div.FieldsSlider.Tab2,
.Page.AR .SearchSideBar>.SearchSideBarFields>div.SliderWrapper>div.FieldsSlider.Tab2 {
	margin: 0;
}

// .ISidebar-content .FieldsSlider input + span.ValidationMessage {
// 	background-color: #a55555;
// 	border-bottom-left-radius: 5px;
// 	border-bottom-right-radius: 5px;
// 	color: #fff;
// 	font-size: $font-size-small;
// 	font-weight: 400;
// 	line-height: 14px;
// 	padding: 5px;
// 	text-align: right;
// 	width: fit-content;
// }

.SidebarMenuItem {
	color: #fff;
	cursor: pointer;
	height: 50px;
	overflow: hidden;
	padding: 8px;
	position: relative;
	text-align: center;
	transition: all 0.2s ease-out;
	width: 40px;

	&:hover {
		background-color: $sapphire-dark-blue;

		.SidebarMenuItem_tabIcon .BadgeNotifications {
			border: 3px solid $sapphire-dark-blue;
		}
	}

	&.active,
	&.active:hover {
		background-color: $sapphire-dark-blue;
	}

	&.withBadge {
		line-height: 62px;
	}

	.SidebarMenuItem_tabIcon {
		@include absolute-center();
		vertical-align: unset;

		.icon.icon-2x {
			font-size: 20px;
		}

		.BadgeNotifications {
			background-color: $regular-red;
			border: 3px solid $sapphire-grey-blue;
			border-radius: 50%;
			box-shadow: none;
			color: $regular-white;
			height: 15px;
			position: absolute;
			right: -7px;
			top: 12px;
			transition: all 0.2s ease-out;
			width: 15px;
		}
	}
}

.AR {
	.SidebarMenuItem .SidebarMenuItem_tabIcon .BadgeNotifications {
		font-family: $font-family-arabic-bold;
	}
}

.ISidebar[data-showlastviewed='true'] {
	.ISidebar-lastviewed {
		background-color: #f3f3f3;
		display: block;
		height: 100vh;
		max-width: 900px;
		min-width: 900px;
		overflow: auto;
		padding: 30px;

		&:empty {
			display: none;
		}
	}
}

.ISidebar[data-showlastviewed='false'] {
	.ISidebar-lastviewed {
		display: none;
	}
}

.show-last-viewed {
	color: #00ac94;
	cursor: pointer;
	display: block;
	font-family: 'LatoBold';
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
}