@use '../../../00-settings/sizes' as *;
@use '../../../00-settings/colors' as *;
@use '../../../00-settings/borders' as *;
@use '../../../00-settings/fonts' as *;

@use '../../../01-tools/box-shadow' as *;

.Panel.ConfirmWB {
	display: none;
	position: absolute;
}

.PanelContainer {
	&.ConfirmWB {
		max-width: 450px;

		.PanelActions {
			display: flex;
			gap: $sapphire-sizes--small;
			justify-content: center;
		}
	}
}

body.SapphirePanelOpen .PanelContainer.ConfirmWB,
body.SapphirePanelOpen .PanelContainer.Confirm {
	display: block !important;
}

body.confirmation-opened {
	overflow: hidden;
	position: static;
}

.confirm.confirm-wb {
	position: absolute;
	z-index: 4015;
}

.confirm-background.confirm-wb {
	background-image: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
	bottom: 0;
	color: $dark-grey;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.14s ease;
	z-index: 49;
}

.confirm-container.confirm-wb {
	@include shadow-large;

	background: $regular-white;
	border-radius: $border-radius-medium;
	display: none;
	left: 50%;
	max-width: 480px;
	padding: $sapphire-sizes--xlarge;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 51;
}

.confirm-container.confirm-wb .confirm-title {
	color: $dark-grey;
	font-family: $font-family-latin-bold;
	font-size: 1.429em;
	margin-bottom: 20px;
}

.confirm-container.confirm-wb .confirm-message {
	font-size: 1em;
	line-height: normal;
	margin-bottom: 30px;
	white-space: normal;
}
