@use '../../../00-settings/fonts' as *;

.PanelContainer {
	&.Confirm {
		.PanelMessage {
			font-size: $font-size-normal;
			margin-bottom: 30px;
		}

		.PanelActions {
			.ButtonLink {
				&.Is_Default {
					padding: 0;
				}
			}
		}
	}
}
