.SapphirePanel {
	display: none;
	position: absolute;
}

.SapphirePanel_Background {
	background-image: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
	bottom: 0;
	color: #252525;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: all 0.14s ease;
	-moz-transition: all 0.14s ease;
	transition: all 0.14s ease;
	z-index: 20;
}

.SapphirePanel_Container {
	-servicestudio--webkit-transform: translateX(0%);
	background: white;
	border: solid 1px #e4e4e4;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	-servicestudio-display: block;
	display: none;
	left: 50%;
	max-width: 480px;
	padding: 30px 20px;
	-servicestudio-position: static;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 51;
}

.SapphirePanel___Title {
	color: $dark-blue;
	font-family: $font-family-latin-bold;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.SapphirePanel___Message {
	font-size: 1.09rem;
	line-height: normal;
	margin-bottom: 30px;
	white-space: normal;
}
