@use '../00-settings/colors' as *;
@use '../00-settings/sizes' as *;

.TextInput {
	&.Mandatory {
		border-left: 3px solid $regular-alpha;

		&:focus {
			border-left: 3px solid $regular-alpha;
			padding: $sapphire-sizes--medium;
		}

		&.Not_Valid {
			border-left: 3px solid $regular-red;
			padding: $sapphire-sizes--medium;
		}
	}
}
