@use '../00-settings/colors' as *;
@use '../00-settings/sizes' as *;

.TextInput {
	&.Mandatory {
		border-left: 3px solid $regular-alpha;
		padding: 0 $sapphire-sizes--medium;

		&:focus {
			border-left: 3px solid $regular-alpha;
			// This should be the same as normal padding, it's here to override the base theme setting
			padding: 0 $sapphire-sizes--medium;
		}

		&.Not_Valid {
			border-left: 3px solid $regular-red;
			// This should be the same as normal padding, it's here to override the base theme setting
			padding: 0 $sapphire-sizes--medium;
		}
	}
}
