@use '../00-settings/colors' as *;
@use '../00-settings/fonts' as *;

.ValidationMessageContainer {
	position: relative;

	.MandatoryLabel {
		color: $regular-red;

		&:before {
			color: $regular-red;
		}
	}

	input.Not_Valid {
		border-bottom-left-radius: 0;
	}

	.ValidationMessage,
	span.ValidationMessage {
		background-color: $regular-red;
		border-radius: 0 2px 2px 2px;
		bottom: auto;
		color: $regular-white;
		font-size: 1em;
		left: 0;
		line-height: 1em;
		margin-top: 1px;
		padding: 5px 10px;
		pointer-events: none;
		position: absolute;
		z-index: 1;
	}
}

.SpinnerInput {
	// Specific to SpinnerHorizontal. It was using ValidationMessageContainer class which helped with the button position,
	// but also changed the look of it. It was requested in context of DeviceRequest_UI to make it look as normal,
	// and since it was the only place which has mandatory input with spinner, it was made the default behavior.
	position: relative;

	.ValidationMessage,
	span.ValidationMessage {
		white-space: nowrap;
		left: 0;
		pointer-events: none;
		position: absolute;
		z-index: 1;
	}
}

.ValidationMessage {
	position: relative;
	text-align: right;
}

.MandatoryLabel {
	&:before {
		color: $regular-alpha;
		content: '*';
		font-family: $font-family-latin-bold;
		font-size: 1em;
		padding: 0px 5px 5px 0;
	}
}

.AR,
.FA {
	.ValidationMessageContainer {
		input.Not_Valid {
			border-bottom-left-radius: auto;
			border-bottom-right-radius: 0;
		}

		span.ValidationMessage {
			border-radius: 2px 0 2px 2px;
			left: auto;
			right: 0;
		}
	}

	.MandatoryLabel {
		&:before {
			padding: 0 0 5px 5px;
		}
	}
}
