@each $size in $sapphire-sizes {
	$label: nth($size, 1);
	$value: nth($size, 2);

	.BorderRadius#{$label} {
		border-radius: #{$value};
	}
}

.NoBorderRadiusBottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

// Legacy
.BorderRadius2 {
	border-radius: 2px;
}

.BorderRadius5 {
	border-radius: 5px;
}

.BorderRadius10 {
	border-radius: 10px;
}

.BorderRadius15 {
	border-radius: 15px;
}

.BorderRadius25 {
	border-radius: 25px;
}

.BorderRadius50 {
	border-radius: 50%;
}

.BorderRadius100 {
	border-radius: 100%;
}
