.ShadowXSmall,
.shadow--xsmall {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.16);
}

.ShadowSmall,
.shadow--small {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.ShadowMedium,
.shadow--medium {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.16);
}

.ShadowLarge,
.shadow--large {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.08), 0 10px 16px rgba(0, 0, 0, 0.16);
}

.ShadowXLarge,
.shadow--xlarge {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.16), 0 15px 11px rgba(0, 0, 0, 0.08);
}
