@use '../00-settings/colors' as *;

.DisabledContainer {
	background-color: $regular-white;
	display: block;
	height: 100%;
	opacity: 0.6;
	pointer-events: none;
	position: absolute;
	width: 100%;
	z-index: 999;
	left: 0;
}
