@use '../00-settings/sizes' as *;

@mixin flex-base-style($class-extend) {
	display: flex;

	&CenterFull {
		@extend #{$class-extend};

		align-items: center;
		justify-content: center;
	}

	&CenterVertical {
		@extend #{$class-extend};

		align-items: center;
	}

	&CenterHorizontal {
		@extend #{$class-extend};

		justify-content: center;
	}

	&SpaceAround {
		@extend #{$class-extend};

		justify-content: space-around;
	}

	&SpaceBetween {
		@extend #{$class-extend};

		justify-content: space-between;
	}

	&SpaceEvenly {
		@extend #{$class-extend};

		justify-content: space-evenly;
	}

	&Start {
		@extend #{$class-extend};

		justify-content: flex-start;
	}

	&End {
		@extend #{$class-extend};

		justify-content: flex-end;
	}
}

.Flex {
	@include flex-base-style('.Flex');

	&Wrap {
		flex-wrap: wrap;
	}

	&Child {
		flex: 1;
	}
}

.InlineFlex {
	@include flex-base-style('.InlineFlex');

	display: inline-flex;
}

.FlexColumn {
	@include flex-base-style('.FlexColumn');

	flex-direction: column;
}

.FlexList {
	display: flex;
	flex-wrap: wrap;
	gap: $sapphire-sizes--small;

	&XSmallGap {
		@extend .FlexList;

		gap: $sapphire-sizes--xsmall;
	}

	&SmallGap {
		@extend .FlexList;

		gap: $sapphire-sizes--small;
	}

	&MediumGap {
		@extend .FlexList;

		gap: $sapphire-sizes--medium;
	}

	&LargeGap {
		@extend .FlexList;

		gap: $sapphire-sizes--large;
	}
}

.InlineFlexList {
	display: inline-flex;
	flex-wrap: wrap;
	gap: $sapphire-sizes--small;
}

.FlexNoWrap {
	flex-wrap: nowrap !important;
}

.AlignContentCenter {
	align-content: center;
}

.AlignItemsBaseline {
	align-items: baseline;
}

.FlexBasis75{
	flex-basis: 75%;
}

.FlexBasis70{
	flex-basis: 70%;
}

.FlexBasis65{
	flex-basis: 65%;
}

.FlexBasis60{
	flex-basis: 60%;
}

.FlexBasis50{
	flex-basis: 50%;
}

.FlexBasis45{
	flex-basis: 45%;
}

.FlexBasis40{
	flex-basis: 40%;
}

.FlexBasis35{
	flex-basis: 35%;
}

.FlexBasis30{
	flex-basis: 30%;
}

.FlexBasis25{
	flex-basis: 25%;
}

.FlexBasis20{
	flex-basis: 20%;
} 

.FlexBasis15{
	flex-basis: 15%;
}

.FlexBasis10{
	flex-basis: 10%;
}