@use 'sass:list';

@use '../00-settings/sizes' as *;

@each $size in $sapphire-sizes {
	$label: list.nth($size, 1);
	$value: list.nth($size, 2);

	.FormMargin#{$label} {
		> div:not(:first-of-type) {
			margin-top: #{$value};
		}
	}
}
