.Rotation45 {
	transform: rotate(45deg);
}

.Rotation90 {
	transform: rotate(90deg);
}

.Rotation180 {
	transform: rotate(180deg);
}

.Rotation270 {
	transform: rotate(270deg);
}

.Rotation360 {
	transform: rotate(360deg);
}
