.HideDiv {
	visibility: hidden;
}

.OverflowHidden {
	overflow: hidden;
}

.tablet {
	.HideOnTable {
		display: none;
	}
}

.tablet,
.desktop.small {
	.HideOnSmall {
		display: none;
	}
}

.Opacity50 {
	opacity: 0.5;
}