@use '../../../components/00-settings/colors' as *;

/* NavigationBar */
.NavigationBar a.InlineDropdown {
	border: none;
}

.NavigationBar a.InlineDropdown .DropdownMenu {
	top: 160%;
}

.NavigationBar a.InlineDropdown .DropdownMenu a {
	display: block;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.NavigationBar a.InlineDropdown .DropdownMenu a:hover,
.NavigationBar a.InlineDropdown .DropdownMenu a:link:hover {
	color: $regular-beta;
	font-weight: initial;
}

.NavigationBar a.InlineDropdown .InlineDropdown_icon .fa {
	animation: none;
	transform: rotate(-180deg);
	transition: all 0.3s ease-in;
}

.NavigationBar a.InlineDropdown.open .InlineDropdown_icon .fa {
	transform: rotate(0deg);
}

/* NavigationBar */
