@use '../../../00-settings/colors' as *;
@use '../../../../assets/variables' as *;
@use '../../../00-settings/fonts' as *;
@use '../../../00-settings/sizes' as *;

.Page .SplitButton {
	&.hasTrigger {
		display: inline-flex;
		height: 36px;

		.SplitButton {
			&-button {
				.Button {
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
					margin: 0;
				}
			}

			&-trigger {
				border-bottom-left-radius: 0;
				border-left: 1px solid $regular-white;
				border-top-left-radius: 0;
				display: inline-block;
				margin: 0;
				min-width: 40px;
				padding: 0;
				position: relative;

				&:before {
					content: '\e610';
					font-family: $font-family-icons;
					font-size: 0.7em;
					margin-left: -3px;
				}
			}
		}
	}

	&-trigger {
		display: none;
	}

	&-actions {
		a,
		a:link,
		a:visited {
			color: $text-color-regular;
			display: block;
			font-family: $font-family-latin-regular;
			height: 36px;
			padding: $sapphire-sizes--small;
			white-space: nowrap;

			&:hover {
				background-color: $regular-eta;
			}
		}
	}
}

.AR.Page,
.FA.Page {
	.SplitButton {
		&.hasTrigger {
			.SplitButton-button .Button {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 1.286em;
				border-top-left-radius: 0;
				border-top-right-radius: 1.286em;
			}

			.SplitButton-trigger {
				border-bottom-left-radius: 1.286em;
				border-bottom-right-radius: 0;
				border-left: none;
				border-right: 1px solid $regular-white;
				border-top-left-radius: 1.286em;
				border-top-right-radius: 0;

				&:before {
					content: '\e610';
					margin-left: auto;
					margin-right: -3px;
				}
			}
		}
	}
}

// Tooltipster Adjustments
.tooltipster-base.tooltipster-splitbutton {
	background-color: $regular-white;
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
	font-size: 1rem;
	line-height: normal;

	&.Padding-None .tooltipster-content {
		padding: 0;
	}

	&.Padding-XSmall .tooltipster-content {
		padding: 3px;
	}

	&.Padding-Small .tooltipster-content {
		padding: 6px;
	}

	&.Padding-Medium .tooltipster-content {
		padding: 10px;
	}

	&.Padding-Large .tooltipster-content {
		padding: $sapphire-sizes--medium;
	}

	&.Padding-XLarge .tooltipster-content {
		padding: 26px;
	}
}
