@use '../../../00-settings/colors' as *;
@use '../../../00-settings/sizes' as *;

@use '../../../01-tools/flex-align' as *;

.ButtonDropdown {
	cursor: pointer;
	position: relative;
	width: 100%;

	.ButtonDropdownSmall & {
		&_button.Button {
			height: 30px;
		}

		&_text {
			font-size: 13px;
			line-height: 30px;
		}

		&_icon {
			min-width: 30px;
		}
	}

	&.open {
		.ButtonDropdown {
			&_button.Button {
				background-color: $regular-eta;
				border: 1px solid $regular-alpha;
				border-bottom-width: 1px;
			}
		}
	}

	&_button.Button {
		@include flex-center-vertically;

		background-color: $regular-white;
		border: 1px solid $light-grey;
		border-radius: 100px;
		color: $text-color-regular;
		height: 36px;
		padding: 0 0 0 $sapphire-sizes--medium;
		transition: all 0.1s ease-in-out;
		width: 100%;

		&:hover {
			background-color: $regular-eta;
			border: 1px solid $regular-alpha;
			box-shadow: none;
		}

		&:focus,
		&:active {
			border: 1px solid $regular-alpha;
		}
	}

	&_text {
		line-height: 36px;
		overflow: hidden;
		text-align: start;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}

	&_icon {
		@include flex-center-total;

		background-color: transparent;
		color: $regular-alpha;
		height: 100%;
		min-width: 36px;
	}
}

.AR,
.FA {
	.ButtonDropdown {
		&_button.Button {
			margin: 0;
			padding-left: 0;
			padding-right: $sapphire-sizes--medium;
		}

		&_text {
			padding-left: $sapphire-sizes--small;
			padding-right: 0;
		}
	}
}
