.HourPicker {
	font-size: 1em;
	width: 100%;

	&:not(&--textTrigger) &__InputContainer:before {
		color: $regular-alpha;
		content: '\e62a';
		font-family: $font-family-icons;
		font-size: 1.143em;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}

	&--textTrigger & {
		&__LabelValue {
			color: $regular-beta;
			cursor: pointer;
			display: inline-block;
			font-family: $font-family-latin-bold;
			font-size: inherit;
			vertical-align: baseline;
		}

		&__InputContainer {
			display: none;
		}
	}

	&__InputValue {
		font-size: inherit;
		padding-right: 26px;
		transition: all 0.3s ease;
		width: 100%;
	}

	&__Placeholder {
		height: 0 !important;
		visibility: hidden;
		width: 0 !important;
	}

	&__Displayed {
		align-items: center;
		display: flex;
		width: 100%;
	}

	&__InputContainer {
		position: relative;
		width: 100%;
	}

	&__ButtonClear {
		color: $regular-beta;
		cursor: pointer;
		font-family: $font-family-icons;
		font-size: inherit;
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		margin: 0 10px;
		text-transform: none;

		&:before {
			content: '\e604';
			display: inline-block;
			transform: rotateZ(45deg);
		}
	}
}

.SmallPaddingInput {
	.HourPicker__InputContainer input {
		padding-left: 10px;

		.AR & {
			padding-left: $sapphire-sizes--medium;
			padding-right: 10px;
		}
	}
}

/* RTL Adjustments - HourPicker */
.AR,
.FA {
	.HourPicker {
		&:not(&--textTrigger) .HourPicker__InputContainer:before {
			left: 10px;
			right: auto;
		}
	}
}

/* UI TimePicker CSS - HourPicker */
div.ui-timepicker-container {
	@include component-scroll;
	@include shadow-small;

	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: $border-radius-default;
	font-size: 1em;
	margin-top: 4px;
	min-width: 130px;
	z-index: 1 !important;

	.ui-state-hover {
		background-color: $regular-eta;
		border-color: transparent;
	}

	.ui-corner-all {
		cursor: pointer;
		text-decoration: none;
	}

	/* RTL Adjustments - UI Timepicker */
	&.rtl {
		.ui-timepicker-viewport {
			list-style: none;
		}
	}

	&.rtl.ui-timepicker-no-scrollbar {
		.ui-timepicker-viewport {
			padding-left: 40px;
			padding-right: 0 !important;
		}
	}
}
