@use '../00-settings/colors' as *;

$back-top-speed-animation: 1s;

.BackToTopButton {
	color: $regular-beta;
	cursor: pointer;
	display: none;
	position: fixed;
	text-align: center;
	text-transform: uppercase;
	top: 90vh;
	transition: width $back-top-speed-animation * 0.5 ease-in-out, margin $back-top-speed-animation * 0.5 ease-in-out,
		border-radius $back-top-speed-animation * 0.25 ease-in-out, color $back-top-speed-animation * 0.25 ease-in-out;

	&__Arrow {
		border: none;
		border-radius: 40px;
		height: 0;
		left: 50%;
		margin-top: -35px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		transform: translateX(-50%);
		transition: width $back-top-speed-animation * 0.5 ease-in-out, margin $back-top-speed-animation * 0.5 ease-in-out,
			border-radius $back-top-speed-animation * 0.25 ease-in-out,
			color $back-top-speed-animation * 0.25 ease-in-out $back-top-speed-animation * 0.25, opacity ease-in-out 1s;
		width: 30px;

		&:before {
			background: $regular-beta;
			content: '';
			display: inline-block;
			height: 24px;
			left: 50%;
			margin-left: -1px;
			margin-top: -8px;
			position: absolute;
			top: 50%;
			transform: translateY(50px);
			width: 2px;
		}

		&:after {
			border-left: 2px solid;
			border-top: 2px solid;
			color: $regular-beta;
			content: '';
			display: inline-block;
			height: 10px;
			left: 50%;
			margin-left: -6px;
			margin-top: -7px;
			position: absolute;
			top: 50%;
			transform: rotateZ(45deg);
			transform: translateY(50px) rotateZ(45deg);
			width: 10px;
		}
	}

	&:hover {
		.BackToTopButton__Arrow {
			border: 2px solid $regular-beta;
			height: 30px;
			opacity: 1;
			transition: width $back-top-speed-animation * 0.5 ease-in-out, margin $back-top-speed-animation * 0.5 ease-in-out,
				border-radius $back-top-speed-animation * 0.25 ease-in-out,
				color $back-top-speed-animation * 0.25 ease-in-out $back-top-speed-animation * 0.25, opacity ease-in-out 1s;

			&:before {
				animation: lineUp $back-top-speed-animation cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
			}

			&:after {
				animation: tipUp $back-top-speed-animation cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
			}
		}
	}
}

@keyframes tipUp {
	0% {
		transform: translateY(50px) rotateZ(45deg);
	}
	100% {
		transform: translateY(-70px) rotateZ(45deg);
	}
}

@keyframes lineUp {
	0% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(-70px);
	}
}
