@use '../00-settings/colors' as *;
@use '../01-tools/flex-align' as *;

.ButtonSquare {
	@include flex-center-total;
	background-color: $regular-white;
	border: 1px solid $regular-alpha;
	border-radius: 2px;
	color: $regular-alpha;
	cursor: pointer;
	display: inline-flex;
	height: 30px;
	width: 30px;

	&:focus {
		border: 1px solid $dark-grey;
	}

	&--disabled {
		background-color: $sapphire-light;
		color: $light-grey;

		&:focus {
			border: 1px solid $light-grey;
		}

		&:hover,
		&:active {
			background-color: $sapphire-light;
		}
	}

	> span.icon {
		transition: all 0.2s;
	}
}
