// Used in the Referral Letter Page
@use '../00-settings/colors' as *;

@use '../01-tools/flex-align' as *;

.CustomExpandable {
	.ExpandableSmaller {
		display: flex;
		flex-wrap: wrap;
		text-align: end;

		&_Title {
			@include flex-center-vertically();

			flex: 1;
			text-align: start;
		}

		&__headerIcon {
			display: none;
		}

		&__headerContent,
		&__headerContentClose {
			div.PrescriptionBadges.Green {
				align-items: center;
				border: 2px solid $regular-alpha;
				display: inline-flex;
				height: 36px;

				&.IsSelected {
					background-color: $regular-alpha;

					.QuantityLabel {
						background-color: $regular-white;
						color: $regular-alpha;
					}
				}

				div:first-child {
					margin-right: 24px;
					order: 2;
				}

				.QuantityLabel {
					@include flex-center-total();

					background-color: $regular-alpha;
					border-radius: 50%;
					color: $regular-white;
					height: 24px;
					margin: 0 7px 0 -7px;
					order: 1;
					width: 24px;
				}

				.BadgeArrow {
					line-height: 35px;
				}
			}
		}

		&_area {
			padding: 10px 1px 1px 1px;
			text-align: initial;
		}

		> div + span {
			flex-basis: 100%;
		}
	}
}

.AR,
.FA {
	.CustomExpandable {
		.ExpandableSmaller {
			&__headerContent,
			&__headerContentClose {
				div.PrescriptionBadges.Green {
					div:first-child {
						margin-left: 24px;
						margin-right: 0;
					}

					.QuantityLabel {
						margin: 0 -7px 0 7px;
					}

					.BadgeArrow {
						left: 14px;
					}
				}
			}
		}
	}
}
