@use '../00-settings/url' as *;
@use '../00-settings/colors' as *;
@use '../00-settings/sizes' as *;
@use '../00-settings/fonts' as *;
@use '../00-settings/borders' as *;

.Dropdown {
	background-image: $icon__arrow-up-down;
	background-position: right 14px center;
	background-repeat: no-repeat;
	color: $dark-grey;
	padding: 0 35px 0 $sapphire-sizes--medium;

	&Filter {
		border-radius: 100px;
	}

	&Small {
		font-size: 13px;
		height: 30px;
	}

	&.Mandatory {
		border-left: 3px solid $regular-alpha;

		&.Not_Valid {
			border: solid 1px $regular-red;
			border-bottom-right-radius: 0;
			border-left: 3px solid $regular-red !important;
			border-top-right-radius: 0;

			+.SelectSystem .select2-selection {
				border: solid 1px $regular-red;
				border-left: 3px solid $regular-red !important;
			}
		}
	}
}

.AR,
.FA {
	.Dropdown {
		background-position: left 14px center;
		background-repeat: no-repeat;
		font-family: $font-family-arabic-regular;
		font-size: 15px;
		line-height: 19px;
		padding: 5px $sapphire-sizes--medium 5px 36px;

		&:disabled {
			background-position: left 0 center;
		}
	}

	.LineContent .Dropdown {
		padding: 5px 5px 5px 5px;
	}
}

.fake-dropdown--disabled {
	height: 36px;
	padding: 0 35px 0 $sapphire-sizes--medium;
	line-height: 2.43;
	vertical-align: middle;
	border: 1px solid $border-color-disabled;
	border-radius: $border-radius-default;
	background-image: $icon__arrow-up-down;
	background-color: $background-disabled;
	background-position: right 14px center;
	background-repeat: no-repeat;
	color: $text-color-disabled;
	font-family: $font-family-latin-regular;
	cursor: not-allowed;
}