.Card {
	&_Container {
		background-color: $regular-white;
		border: 1px solid $light-grey;
		border-radius: $border-radius-medium;
		display: table;
		min-height: 50px;
		width: 100%;

		.Icon_Card {
			@include flex-center-total(inline-flex);

			background-color: $sapphire-light;
			border-radius: $border-radius-medium;
			height: 48px;
			margin-right: $sapphire-sizes--medium;
			width: 48px;
		}

		.Image_Detail {
			display: table-cell;
			height: 100%;
			padding: $sapphire-sizes--medium;
			vertical-align: middle;
			white-space: nowrap;
			width: 40px;
		}

		.Title_Card {
			font-family: $font-family-latin-bold;
		}
	}

	&_Description {
		display: table-cell;
		height: 100%;
		margin-bottom: 0;
		padding: $sapphire-sizes--medium;
		padding-left: 0;
	}

	&_Actions {
		display: table-cell;
		padding-right: $sapphire-sizes--medium;
		text-align: right;
		vertical-align: middle;

		.Actions_Details {
			align-items: center;
			display: inline-flex;
			height: 100%;
		}
	}
}

.AR,
.FA {
	.Card_Description {
		padding-left: $sapphire-sizes--medium;
		padding-right: 0;
	}

	.Card_Actions {
		padding-left: $sapphire-sizes--medium;
		padding-right: 0;
	}

	.Image_Detail {
		.Icon_Card {
			margin-left: $sapphire-sizes--medium;
			margin-right: 0;
		}
	}

	.Title_Card {
		.CardAll {
			margin-left: auto;
			margin-right: 0;
		}
	}

	.Card_Actions {
		text-align: left;
	}
}
