/* Javascript_Lib Components */
/* Layout Components */
/* RichWidgets Components */
/* V3_Pat Components */
/* WebPatterns Components */
@use 'alert-card' as *;
@use 'availability-card' as *;
@use 'back-to-top' as *;
@use 'button-square' as *;
@use 'circled-patient' as *;
@use 'clinical-calendar' as *;
@use 'counter-tile' as *;
@use 'custom-expandable' as *;
@use 'date-input' as *;
@use 'dropdown' as *;
@use 'dynamic-card' as *;
@use 'expandable-header' as *;
@use 'file-upload' as *;
@use 'flag-line' as *;
@use 'input-icon-sapphire' as *;
@use 'javascript-lib/ckeditor' as *;
@use 'javascript-lib/highlight' as *;
@use 'javascript-lib/markwordsfromlist' as *;
@use 'layout/styles' as *;
@use 'lds-ring' as *;
@use 'line-info' as *;
@use 'list-of-tags' as *;
@use 'list-records-sopd' as *;
@use 'medical-file-options' as *;
@use 'patient-sumary' as *;
@use 'pika-single' as *;
@use 'popup-menu' as *;
@use 'related-orders-table' as *;
@use 'richwidgets/feedback-message/styles' as *;
@use 'richwidgets/input-autocomplete/styles' as *;
@use 'richwidgets/list-navigation/styles' as *;
@use 'section-expandable' as *;
@use 'sort-table-link' as *;
@use 'structure' as *;
@use 'super-card' as *;
@use 'table-records' as *;
@use 'templates-wrapper' as *;
@use 'time-separator' as *;
@use 'toggle-button' as *;
@use 'unit-drop' as *;
@use 'v3-pat/actions-menu/styles' as *;
@use 'v3-pat/appointment-icon/styles' as *;

@use 'v3-pat/tippytooltip/tippytooltip' as *;

@use 'v3-pat/badges-tags/styles' as *;
@use 'v3-pat/badges/styles' as *;
@use 'v3-pat/ballon-content/styles' as *;
@use 'v3-pat/bed-information/styles' as *;
@use 'v3-pat/bed-slot-box/styles' as *;
@use 'v3-pat/big-button-card/styles' as *;
@use 'v3-pat/blank-state/styles' as *;
@use 'v3-pat/button-link/styles' as *;
@use 'v3-pat/card-charts/styles' as *;
@use 'v3-pat/cards/styles' as *;
@use 'v3-pat/circle-icon/styles' as *;
@use 'v3-pat/circled-arrow/styles' as *;
@use 'v3-pat/clinic-box-selectable/styles' as *;
@use 'v3-pat/clinic-box/styles' as *;
@use 'v3-pat/clinical-badge/styles' as *;
@use 'v3-pat/clinical-information/styles' as *;
@use 'v3-pat/collapsible-side-panel/styles' as *;
@use 'v3-pat/color-picker/styles' as *;
@use 'v3-pat/comp-line/styles' as *;
@use 'v3-pat/counter/styles' as *;
@use 'v3-pat/country-flag/styles' as *;
@use 'v3-pat/country-phone/styles' as *;
@use 'v3-pat/dashboard-widget/styles' as *;
@use 'v3-pat/data-tables/styles' as *;
@use 'v3-pat/date-navigation/styles' as *;
@use 'v3-pat/datetime-range-picker/additional' as *;
@use 'v3-pat/datetime-range-picker/styles' as *;
@use 'v3-pat/demographic-item/styles' as *;
@use 'v3-pat/doctor-surgery-box/styles' as *;
@use 'v3-pat/drag-drop/styles' as *;
@use 'v3-pat/draggable/styles' as *;
@use 'v3-pat/dropdown-categories/styles' as *;
@use 'v3-pat/dropzone/styles' as *;
@use 'v3-pat/dropzone/stylus-thumbnail' as *;
@use 'v3-pat/dynamic-table/styles' as *;
@use 'v3-pat/expandable-link/styles' as *;
@use 'v3-pat/expandable-server-side/styles' as *;
@use 'v3-pat/expandable-small/styles' as *;
@use 'v3-pat/expiry-card/styles' as *;
@use 'v3-pat/form-field/styles' as *;
@use 'v3-pat/fullscreen-tabs-wrapper/styles' as *;
@use 'v3-pat/generic-card/styles' as *;
@use 'v3-pat/generic-gallery/styles' as *;
@use 'v3-pat/generic-grid/styles' as *;
@use 'v3-pat/generic-structure/styles' as *;
@use 'v3-pat/header-identification/styles' as *;
@use 'v3-pat/horizontal-toolbar/styles' as *;
@use 'v3-pat/hour-picker/styles' as *;
@use 'v3-pat/icon-label/styles' as *;
@use 'v3-pat/icon-pulse/styles' as *;
@use 'v3-pat/iframe-loader/styles' as *;
@use 'v3-pat/input-lasa/styles' as *;
@use 'v3-pat/input-unit-box/styles' as *;
@use 'v3-pat/input-unit-wrapper/styles' as *;
@use 'v3-pat/input-with-clear/styles' as *;
@use 'v3-pat/input-with-list/styles' as *;
@use 'v3-pat/line-add/styles' as *;
@use 'v3-pat/line-card-list/styles' as *;
@use 'v3-pat/line-content/styles' as *;
@use 'v3-pat/line-details-expand-box/styles' as *;
@use 'v3-pat/line-element/styles' as *;
@use 'v3-pat/line-item-status/styles' as *;
@use 'v3-pat/line-warning/styles' as *;
@use 'v3-pat/list-board/styles' as *;
@use 'v3-pat/list-line-server-side/styles' as *;
@use 'v3-pat/location-box/styles' as *;
@use 'v3-pat/main-interactive-card/styles' as *;
@use 'v3-pat/main-interactive-card/main-interactive-card--variations' as *;
@use 'v3-pat/menu-bar/styles' as *;
@use 'v3-pat/more-details/styles' as *;
@use 'v3-pat/multiple-selection-button/styles' as *;
@use 'v3-pat/navigation-control/styles' as *;
@use 'v3-pat/page-head/styles' as *;
@use 'v3-pat/panel-menu-item/styles' as *;
@use 'v3-pat/panel/styles' as *;
@use 'v3-pat/patient-call-cancel/styles' as *;
@use 'v3-pat/patient-medical-file/styles' as *;
@use 'v3-pat/person-card-pre-info/styles' as *;
@use 'v3-pat/prescription-card/styles' as *;
@use 'v3-pat/prescription-expandable/styles' as *;
@use 'v3-pat/progress-bar/styles' as *;
@use 'v3-pat/progress-icon-info/styles' as *;
@use 'v3-pat/resize-parent-iframe/styles' as *;
@use 'v3-pat/sapphire-calendar/styles' as *;
@use 'v3-pat/sapphire-header/styles' as *;
@use 'v3-pat/sapphire-lists/styles' as *;
@use 'v3-pat/sapphire-popup/styles' as *;
@use 'v3-pat/sapphire-radio-button/styles' as *;
@use 'v3-pat/sapphire-wizard/styles' as *;
@use 'v3-pat/scales/styles' as *;
@use 'v3-pat/search-and-select/styles' as *;
@use 'v3-pat/section-expandable-custom/styles' as *;
@use 'v3-pat/section-expandable-inside/styles' as *;
@use 'v3-pat/section-title/styles' as *;
@use 'v3-pat/segmented-control/styles' as *;
@use 'v3-pat/select-system/styles' as *;
@use 'v3-pat/selectable-list/styles' as *;
@use 'v3-pat/shift-container/styles' as *;
@use 'v3-pat/shift-table/styles' as *;
@use 'v3-pat/side-menu/styles' as *;
@use 'v3-pat/sidebar/styles' as *;
@use 'v3-pat/simple-tooltip/styles' as *;
@use 'v3-pat/small-box-selectable/styles' as *;
@use 'v3-pat/spinner-horizontal/styles' as *;
@use 'v3-pat/spinner-vertical/styles' as *;
@use 'v3-pat/split-button/styles' as *;
@use 'v3-pat/ssd-list-line/styles' as *;
@use 'v3-pat/ssd-show-more/styles' as *;
@use 'v3-pat/status-timeline/styles' as *;
@use 'v3-pat/table-form/styles' as *;
@use 'v3-pat/tabs-extended/styles' as *;
@use 'v3-pat/tabular-list/styles' as *;
@use 'v3-pat/tabular-scroll/styles' as *;
@use 'v3-pat/timeline/styles' as *;
@use 'v3-pat/tooltip-custom/styles' as *;
@use 'v3-pat/tooltipster/styles' as *;
@use 'v3-pat/truncated-content/styles' as *;
@use 'v3-pat/vacancy-card/styles' as *;
@use 'ward-box' as *;
@use 'ward-counter' as *;
@use 'webpatterns/alert/styles' as *;
@use 'webpatterns/button-dropdown/styles' as *;
@use 'webpatterns/button-group/styles' as *;
@use 'webpatterns/columns-css/styles' as *;
@use 'webpatterns/date-picker/styles' as *;
@use 'webpatterns/dropdown-menu/styles' as *;
@use 'webpatterns/feedback-ajax-wait/styles' as *;
@use 'webpatterns/icon-dropdown/styles' as *;
@use 'webpatterns/inline-dropdown/styles' as *;
@use 'webpatterns/search-wrapper/styles' as *;
@use 'webpatterns/select/styles' as *;
@use 'wizard' as *;

@use 'v3-pat-2026/index' as *;
