.LR_SOPD {
  background-color: white;
  display: table;
}

.LR_SOPD>div {
  display: table-row-group;
}


.LR_SOPD>div>span {
  display: table-row !important;
}

.LR_SOPD>div>span>div {
  border: 1px solid #d9d9d9;
  border-right: none;
  border-top: none;
  display: table-cell;
  padding: 8px 15px;
}

.LR_SOPD .ListRecords .HeaderColor {
  background-color: #e2f3f2;
  white-space: nowrap;
}