@use '../00-settings/sizes' as *;
@use '../00-settings/colors' as *;

@use '../01-tools/flex-align' as *;

.ListOfTags {
	display: flex;
	gap: $sapphire-sizes--small;

	.ClickableTag {
		@include flex-center-vertically();

		background-color: $regular-eta;
		border: 1px solid $regular-alpha;
		border-radius: 100px;
		gap: $sapphire-sizes--small;
		height: 30px;
		padding: 0 8px;
		white-space: nowrap;

		div {
			height: 14px;
		}

		.icon {
			color: $mid-light-grey;
			cursor: pointer;
		}
	}
}
