.LayoutBlank .SectionExpandable,
.LayoutBase .SectionExpandable {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: 2px;
	font-size: 14px;

	&.expanded {
		.SectionExpandable_content {
			display: block;
			height: auto;
			overflow: visible;
			padding: 0;
			visibility: visible;
		}
	}

	&_header {
		border-bottom: none;
		font-family: $font-family-latin-bold;
		font-size: 1em;
		padding: 15px 20px;

		.Heading2 {
			color: inherit;
			font-family: inherit;
			font-size: 1.143em;
			font-weight: inherit;

			&.SectionExpandable__icon {
				span {
					@include arrow-button;

					font-size: 0.857em;
					transform: rotate(0);
				}
			}
		}
	}
}
