.StructureContainer {
	display: table;
	vertical-align: middle;
	width: 100%;
}

.StructureContent {
	display: table-row;
}

.StructureCollumns {
	display: table-cell;
	padding: 0 5px;
}

.StructureContainer_Actions {
	display: table-cell;
}
