@use '../00-settings/sizes' as *;
@use '../00-settings/colors' as *;

@mixin common-supercard-size-style($width: 0) {
	padding: 6px $sapphire-sizes--medium;
	width: $width;
}

.DesignSystem,
.LayoutBlank,
.LayoutBase {
	.SuperCard {
		border: 1px solid $light-grey;
		color: $dark-grey;
		display: table;
		min-height: 84px;
		width: 100%;

		&.Dashed {
			border-style: dashed;
		}

		&.BorderNone {
			border-color: transparent;
		}

		&_Left {
			background-color: $body-color;
			width: 0;

			> div {
				vertical-align: middle;
			}

			// Sizes
			&.ExtraTiny {
				@include common-supercard-size-style(55px);
			}

			&.Tiny {
				@include common-supercard-size-style(100px);
			}

			&.ExtraSmall {
				@include common-supercard-size-style(150px);
			}

			&.Small {
				@include common-supercard-size-style(200px);
			}

			&.SmallMedium {
				@include common-supercard-size-style(250px);
			}

			&.Medium {
				@include common-supercard-size-style(300px);
			}

			&.MediumLarge {
				@include common-supercard-size-style(350px);
			}

			&.Large {
				@include common-supercard-size-style(400px);
			}

			&.ExtraLarge {
				@include common-supercard-size-style(450px);
			}

			&.Gigantic {
				@include common-supercard-size-style(500px);
			}

			&.ExtraGigantic {
				@include common-supercard-size-style(550px);
			}

			&.Colossal {
				@include common-supercard-size-style(600px);
			}

			// Colors
			&.BgWhite {
				background-color: $regular-white;
			}

			&.BgYellow {
				background-color: $light-beige;
			}

			&.BgRed {
				background-color: $light-pink;
			}

			&.BgDarkRed {
				background-color: $light-red;
			}

			&.BgGrey {
				background-color: $light-grey;
			}

			&.BgLightGrey {
				background-color: $body-color;
			}

			&.BgGreen {
				background-color: $light-green;
			}

			&.BgBlue {
				background-color: $light-blue;
			}

			&.BgPink {
				background-color: $light-pink;
			}

			&.BgBrown {
				background-color: $regular-beige;
			}

			// Border Left
			&.BorderBlue {
				border-left: 2px solid $sapphire-blue;
				border-right: 0;

				span {
					color: $sapphire-blue;
				}
			}

			&.BorderGreen {
				border-left: 2px solid $dark-green;
				border-right: 0;

				span {
					color: $dark-green;
				}
			}

			&.BorderRed {
				border-left: 2px solid $regular-red;
				border-right: 0;

				span {
					color: $regular-red;
				}
			}

			&.BorderDarkRed {
				border-left: 2px solid $dark-red;
				border-right: 0;

				span {
					color: $dark-red;
				}
			}

			&.BorderPink {
				border-left: 2px solid $dark-pink;
				border-right: 0;

				span {
					color: $dark-pink;
				}
			}

			&.BorderBrown {
				border-left: 2px solid $dark-beige;
				border-right: 0;
			}

			&.BorderGrey {
				border-left: 2px solid $light-grey;
				border-right: 0;
			}

			// Modifiers
			&.NoLeftBorder {
				border-color: transparent;
			}

			&.TextBlack {
				color: $dark-grey;
			}

			&.TextRed {
				color: $regular-red;
			}
		}

		&_Right {
			&.BgWhite {
				background-color: $regular-white;
			}

			&.BgGrey {
				background-color: $body-color;
			}
		}

		&_Left,
		&_Right {
			display: table-cell;
			height: 100%;
			vertical-align: middle;
		}

		&_Right_Content {
			padding: 5px 15px;
			width: 70%;
		}

		&_Right_Actions {
			display: inline-flex;
			justify-content: flex-end;
			width: 30%;
		}
	}
}

.AR,
.FA {
	.SuperCard_Right {
		font-size: 1.143em;
	}

	.SuperCard_Left {
		font-size: 1em;

		&.BorderBlue {
			border-left: 0;
			border-right: 2px solid $sapphire-blue;
		}

		&.BorderGreen {
			border-left: 0;
			border-right: 2px solid $dark-green;
		}

		&.BorderRed {
			border-left: 0;
			border-right: 2px solid $regular-red;
		}

		&.BorderDarkRed {
			border-left: 0;
			border-right: 2px solid $dark-red;
		}

		&.SuperCard_Left.BorderPink {
			border-left: 0;
			border-right: 2px solid $dark-pink;
		}

		&.BorderBrown {
			border-left: 0;
			border-right: 2px solid $dark-beige;
		}

		&.FirstPHBorderRight {
			border-left: 1px solid $light-grey;
			border-right: 0;
		}
	}
}
