@use '../00-settings/colors' as *;
@use '../00-settings/borders' as *;
@use '../00-settings/fonts' as *;
@use '../../assets/variables' as *;

@use '../01-tools/flex-align' as *;

.UnitDropContainer {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: $border-radius-default;
	margin-bottom: 15px;
	min-height: 150px;
	min-width: 200px;
	padding: 10px 15px;
	position: relative;

	&:not(.UnitLess) > .UnitName {
		margin-bottom: 10px;
	}

	&.NoDoctors:before {
		color: $sapphire-light;
		content: 'Drag Doctors Here';
		font-family: $font-family-latin-bold;
		font-size: 1.429em;
		left: 20px;
		position: absolute;
		text-align: center;
		top: 70px;
		width: 160px;
	}

	&.AddUnit {
		transition: all 0.2s;

		.DoctorName.UnitLessDoctor {
			margin: 5px 0 0 0;
		}

		.AddMessage > div:first-child {
			font-size: 2.249em;
		}
	}

	&.AddUnit,
	&.UnitLess {
		.AddMessage > div,
		.NoDoctors {
			color: $sapphire-light;
			font-family: $font-family-latin-bold;
			font-size: 1.429em;
		}
	}

	&.Over,
	&.AddUnit:hover {
		background-color: $regular-eta;
	}

	> .UnitName {
		border-bottom: 1px solid $light-grey;
		font-family: $font-family-latin-bold;
		font-size: 1.143em;
		padding-bottom: 8px;
	}

	> .DeleteUnit {
		position: absolute;
		right: 10px;
		top: 10px;

		&:hover {
			color: $regular-beta;
		}
	}

	.DoctorName {
		@include flex-center-vertically;

		background-color: $body-color;
		border-radius: 1px;
		margin-top: 5px;
		min-height: 46px;
		padding: 0 5px;
		position: relative;

		&.Dragging {
			cursor: move;
			transform: rotate(4deg);
		}

		> .DragHandler {
			min-width: 140px;

			&:before {
				content: '\e656';
				cursor: move;
				display: inline-block;
				font-family: $font-family-icons;
				font-size: 1.714em;
				font-style: normal;
				font-variant: normal;
				font-weight: normal;
				margin-right: 3px;
				text-transform: none;
				vertical-align: middle;
			}

			+ div {
				&:not(.UnitResponsible):not(:hover) {
					color: $sapphire-light;
				}
			}
		}
	}
}

.AR,
.FA {
	.UnitDropContainer {
		> .DeleteUnit {
			left: 10px;
			right: auto;
		}

		.DoctorName > .DragHandler {
			padding: 5px 3px 5px 10px;

			&:before {
				margin-left: 3px;
				margin-right: auto;
			}
		}
	}
}
