// Wizard Parent
@mixin wizard-step-arrow-style {
	height: 24px;
	width: 24px;
	top: 5px;
	border: none;
	border-right: 1px solid $light-grey;
	border-top: 1px solid $light-grey;
	border-top-right-radius: 6px;
	transform: rotate(45deg);
}

div.WizardParent {
	position: relative;
	padding-right: 1px;
	border: none;

	.AR & {
		padding-left: 1px;
		padding-right: 0;
	}

	> div {
		display: flex;

		>.ListRecords {
			display: flex;
			width: 100%;
		}

		.ParentGreyBG & {
			&::after {
				background: $body-color;
			}
		}

		div.WizardStep {
			@include flex-center-total();

			height: 36px;
			margin-left: -18px;
			padding: 0;
			border: 1px solid $light-grey;
			flex: 1;
			font-family: $font-family-latin-regular;
			font-weight: unset;

			-servicestudio-width: auto;
			-servicestudio-padding: 0 40px 0 20px;

			.AR & {
				margin-left: 0;
				margin-right: -18px;
			}

			&::after {
				@include wizard-step-arrow-style();

				background-color: $regular-white;
				right: 4px;

				.AR & {
					border: none;
					border-bottom: 1px solid $light-grey;
					border-left: 1px solid $light-grey;
					border-radius: 0;
					border-top-left-radius: 6px;
					height: 26px;
					left: 3px;
					right: unset;
					top: 2px;
					width: 26px;
				}
			}

			&.LastStep::after,
			&:last-child::after {
				display: none;
			}

			&::before {
				display: none;
			}

			&:first-of-type {
				border-bottom-left-radius: $border-radius-default;
				border-top-left-radius: $border-radius-default;
				margin-left: 0;

				&::before {
					display: none !important;
				}

				.AR & {
					border-radius: 0;
					border-bottom-right-radius: $border-radius-default;
					border-right: 1px solid $light-grey;
					border-top-right-radius: $border-radius-default;
					margin-right: 0;
				}
			}

			&:not(:first-of-type) {
				border-left-width: 0;

				.AR & {
					border-left-width: 1px;
					border-right-width: 0;
				}
			}

			&:last-of-type {
				border-bottom-right-radius: $border-radius-default;
				border-top-right-radius: $border-radius-default;

				.AR & {
					border-radius: 0;
					border-bottom-left-radius: 4px;
				    border-top-left-radius: 4px;
				}
			}

			&.Past {
				background-color: $body-color;

				&::after {
					background-color: $body-color;
				}

				.IconWizard.IconWizardWhite {
					background-color: $regular-white;
					border: 1px solid transparent;
					color: $regular-beta;
				}
			}

			&.ActiveStep {
				background-color: $regular-eta;
				border-color: $regular-alpha;
				color: $dark-grey;
				font-family: $font-family-latin-bold;

				.AR & {
					border-right: 1px solid $regular-alpha;
				}
				
				&::after {
					background-color: $regular-eta;
					border-right-color: $regular-alpha;
					border-top-color: $regular-alpha;

					.AR & {
						border-bottom-color: $regular-alpha;
						border-left-color: $regular-alpha;
					}
				}

				&::before {
					@include wizard-step-arrow-style();

					display: block;
					left: -13px;
					border-color: $regular-alpha;
					background-color: $regular-white;
					z-index: 1;
				}

				a,
				a:link,
				a[disabled='disabled'],
				a[disabled='disabled']:hover {
					color: inherit;
					font-family: inherit;
				}

				.IconWizard.IconWizardWhite {
					background-color: $regular-white;
					border: 1px solid $regular-white;
					color: $regular-beta;
				}

				.IconWizard {
					border: 1px solid $dark-grey;
					color: $dark-grey;

					-servicestudio-color: initial;
				}
			}

			.IconWizard {
				border: 1px solid $light-grey;
				color: $light-grey;

				-servicestudio-display: inline;
			}

			a,
			a:link {
				@include flex-center-total();

				width: 100%;
				font-family: $font-family-latin-regular;
			}

			a:disabled,
			a[disabled='disabled'],
			a[disabled='disabled']:hover {
				color: $label-color-disabled;
			}

			&::after,
			&.ActiveStep::after {
				-servicestudio-background-color: transparent;
			}
		}
	}
}

.IconWizard {
	border: 1px solid $regular-beta;
	border-radius: 50%;
	color: $regular-beta;
	font-size: 0.857em;
	height: 20px;
	line-height: 18px;
	margin-right: $sapphire-sizes--small;
	text-align: center;
	vertical-align: middle;
	width: 20px;

	.AR & {
		margin-right: 0;
		margin-left: $sapphire-sizes--small;
	}

	&.IconWizardWhite {
		background-color: $regular-white;
		border: 1px solid $regular-beta;
		color: $regular-beta;
	}
}