{
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "at-rule-no-unknown": null,
    "max-line-length": 120
  }
}