/* SapphireIcon */
.icon {
	font-family: 'Sapphire-Icon-Font';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;

	-servicestudio-display: inline-block;
}

.icon:before {
    -servicestudio-display: block;
    -servicestudio-height: 1px;
    -servicestudio-line-height: 1.2;
}

.icon-fonterasear:before {
	content: '\e924';
}

.icon-fontpencil:before {
	content: '\e925';
}

.icon-fontundo:before {
	content: '\e926';
}

.icon-sickleave:before {
	content: '\e681';
}

.icon-arabictoenglish:before {
	content: '\e601';
}

.icon-englishtoarabic:before {
	content: '\e602';
}

.icon-lastitemseen:before {
	content: '\e600';
}

.icon-accounting:before {
	content: '\e603';
}

.icon-add:before {
	content: '\e604';
}

.icon-addpatient:before {
	content: '\e605';
}

.icon-administration:before {
	content: '\e606';
}

.icon-admitpatient:before {
	content: '\e607';
}

.icon-ampoule:before {
	content: '\e608';
}

.icon-appointment:before {
	content: '\e609';
}

.icon-bottle:before {
	content: '\e60a';
}

.icon-calendar:before {
	content: '\e60b';
}

.icon-cancel:before {
	content: '\e60c';
}

.icon-capsule:before {
	content: '\e60d';
}

.icon-cashkd:before {
	content: '\e60e';
}

.icon-change:before {
	content: '\e60f';
}

.icon-changedown:before {
	content: '\e610';
}

.icon-changeup:before {
	content: '\e611';
}

.icon-changeupdown:before {
	content: '\e612';
}

.icon-collaboration:before {
	content: '\e613';
}

.icon-comment:before {
	content: '\e614';
}

.icon-createfromthis:before {
	content: '\e615';
}

.icon-creditcard:before {
	content: '\e616';
}

.icon-delete:before {
	content: '\e617';
}

.icon-dischargepatient:before {
	content: '\e618';
}

.icon-disposable:before {
	content: '\e619';
}

.icon-doctor:before {
	content: '\e61a';
}

.icon-doctornotes:before {
	content: '\e61b';
}

.icon-documents:before {
	content: '\e61c';
}

.icon-drops:before {
	content: '\e61d';
}

.icon-emergency:before {
	content: '\e61e';
}

.icon-emptybed:before {
	content: '\e61f';
}

.icon-end:before {
	content: '\e620';
}

.icon-endvisit:before {
	content: '\e621';
}

.icon-error:before {
	content: '\e622';
}

.icon-filetracking:before {
	content: '\e623';
}

.icon-gel:before {
	content: '\e624';
}

.icon-generalinfo:before {
	content: '\e625';
}

.icon-glass:before {
	content: '\e626';
}

.icon-groupofactions:before {
	content: '\e627';
}

.icon-grouppatients:before {
	content: '\e628';
}

.icon-home:before {
	content: '\e629';
}

.icon-hours:before {
	content: '\e62a';
}

.icon-injection:before {
	content: '\e62b';
}

.icon-invoice:before {
	content: '\e62c';
}

.icon-logout:before {
	content: '\e62d';
}

.icon-management:before {
	content: '\e62e';
}

.icon-mergepatient:before {
	content: '\e62f';
}

.icon-note:before {
	content: '\e630';
}

.icon-occupiedbed:before {
	content: '\e631';
}

.icon-outonpass:before {
	content: '\e632';
}

.icon-patient:before {
	content: '\e633';
}

.icon-patientdirections:before {
	content: '\e634';
}

.icon-pause:before {
	content: '\e635';
}

.icon-phfs:before {
	content: '\e636';
}

.icon-powder:before {
	content: '\e637';
}

.icon-preparation:before {
	content: '\e638';
}

.icon-prescription:before {
	content: '\e639';
}

.icon-print:before {
	content: '\e63a';
}

.icon-procedure:before {
	content: '\e63b';
}

.icon-remove:before {
	content: '\e63c';
}

.icon-reports:before {
	content: '\e63d';
}

.icon-room:before {
	content: '\e63e';
}

.icon-sachet:before {
	content: '\e63f';
}

.icon-save:before {
	content: '\e640';
}

.icon-schedule:before {
	content: '\e641';
}

.icon-serum:before {
	content: '\e642';
}

.icon-socialservices:before {
	content: '\e643';
}

.icon-startvisit:before {
	content: '\e644';
}

.icon-statisticaldata:before {
	content: '\e645';
}

.icon-success:before {
	content: '\e646';
}

.icon-suppository:before {
	content: '\e647';
}

.icon-surgery:before {
	content: '\e648';
}

.icon-tablet:before {
	content: '\e649';
}

.icon-tasks:before {
	content: '\e64a';
}

.icon-findpatient:before {
	content: '\e64b';
}

.icon-unlock:before {
	content: '\e64c';
}

.icon-validate:before {
	content: '\e64d';
}

.icon-warning:before {
	content: '\e64e';
}

.icon-surgerymanagement:before {
	content: '\e64f';
}

.icon-notification:before {
	content: '\e650';
}

.icon-stocks:before {
	content: '\e651';
}

.icon-medicalfile:before {
	content: '\e652';
}

.icon-admissions:before {
	content: '\e653';
}

.icon-sapphiresymbol:before {
	content: '\e655';
}

.icon-sapphirelogo:before {
	content: '\e94c';
}

.icon-sapphirelogovertical_v2:before {
	content: '\e94b';
}

.icon-biometrics:before {
	content: '\e667';
}

.icon-labexamination:before {
	content: '\e668';
}

.icon-symptoms:before {
	content: '\e669';
}

.icon-x-ray:before {
	content: '\e66a';
}

.icon-handledrag:before {
	content: '\e656';
}

.icon-smoker:before {
	content: '\e65c';
}

.icon-remarks:before {
	content: '\e65d';
}

.icon-unmerge:before {
	content: '\e65e';
}

.icon-expandarrow:before {
	content: '\e65f';
}

.icon-collapsearrow:before {
	content: '\e65f';
	display: inline-block;
	transform: rotateX(180deg);
}

.icon-drugs:before {
	content: '\e660';
}

.icon-diagnosis:before {
	content: '\e661';
}

.icon-doctorunit:before {
	content: '\e657';
}

.icon-infectious-diseases:before {
	content: '\e658';
}

.icon-allergies:before {
	content: '\e659';
}

.icon-resume:before {
	content: '\e65a';
}

.icon-lock:before {
	content: '\e65b';
}

.icon-drinker:before {
	content: '\e662';
}

.icon-unavailability:before {
	content: '\e663';
}

.icon-similar:before {
	content: '\e664';
}

.icon-label:before {
	content: '\e665';
}

.icon-request:before {
	content: '\e66b';
}

.icon-transferpatient:before {
	content: '\e66c';
}

.icon-medicineadministration:before {
	content: '\e66e';
}

.icon-message:before {
	content: '\e66f';
}

.icon-camera:before {
	content: '\e670';
}

.icon-inbox:before {
	content: '\e671';
}

.icon-barcode:before {
	content: '\e672';
}

.icon-checklist:before {
	content: '\e66d';
}

.icon-myinfo:before {
	content: '\e673';
}

.icon-treatmentplan:before {
	content: '\e674';
}

.icon-vitalsigns:before {
	content: '\e675';
}

.icon-fastappointment:before {
	content: '\e676';
}

.icon-bloodtype:before {
	content: '\e677';
}

.icon-reopen:before {
	content: '\e678';
}

.icon-assessment:before {
	content: '\e679';
}

.icon-filter:before {
	content: '\e67a';
}

.icon-smartphone:before {
	content: '\e67b';
}

.icon-telephone:before {
	content: '\e67c';
}

.icon-surgery-report:before {
	content: '\e67d';
}

.icon-medicalepisode:before {
	content: '\e67e';
}

.icon-ConfigureMedicationLabel:before {
	content: '\e67f';
}

.icon-MedicationReconciliation:before {
	content: '\e680';
}

.icon-circle:before {
	content: '\e68a';
}

.icon-circle-questionmark:before {
	content: '\e68a';
}

.icon-referral-letter:before {
	content: '\e682';
}

.icon-order-set:before {
	content: '\e683';
}

.icon-follow-up:before {
	content: '\e684';
}

.icon-blood:before {
	content: '\e685';
}

.icon-family:before {
	content: '\e68d';
}

.icon-emergency-treatment:before {
	content: '\e688';
}

.icon-emergency-prescription:before {
	content: '\e689';
}

.icon-next-call:before {
	content: '\e68c';
}

.icon-recall:before {
	content: '\e68b';
}

.icon-reset-queue:before {
	content: '\e687';
}

.icon-patient-diet:before {
	content: '\e696';
}

.icon-chronic:before {
	content: '\e68e';
}

.icon-search:before {
	content: '\e690';
}

.icon-star:before {
	content: '\e691';
}

.icon-clear:before {
	content: '\e604';
	display: inline-block;
	transform: rotateZ(45deg);
}

.icon-check:before {
	content: '\e692';
}

.icon-maximize:before {
	content: '\e694';
}

.icon-minimize:before {
	content: '\e693';
}

.icon-all-units:before {
	content: '\e695';
}

.icon-diet:before {
	content: '\e696';
}

.icon-star-full:before {
	content: '\e697';
}

.icon-plus:before {
	content: '\e698';
}

.icon-minus:before {
	content: '\e68f';
}

.icon-temp-icon:before {
	content: '\e686';
}

.icon-habits:before {
	content: '\e699';
}

.icon-investigation:before {
	content: '\e69a';
}

.icon-outpatient:before {
	content: '\e69b';
}

.icon-patient-history:before {
	content: '\e69f';
}

.icon-changeleft:before {
	content: '\e69c';
}

.icon-changeright:before {
	content: '\e69d';
}

.icon-play:before {
	content: '\e69e';
}

.icon-bed:before {
	content: '\e6a0';
}

.icon-sopd:before {
	content: '\e6a1';
}

.icon-opd-follow-up:before {
	content: '\e6a2';
}

.icon-scheduleadmission:before {
	content: '\e6a3';
}

.icon-nursingcareplan:before {
	content: '\e900';
}

.icon-fluidbalance:before {
	content: '\e901';
}

.icon-share:before {
	content: '\e902';
}

.icon-evening:before {
	content: '\e903';
}

.icon-night:before {
	content: '\e904';
}

.icon-morning:before {
	content: '\e905';
}

.icon-toolbararrow_left:before {
	content: '\e906';
}

.icon-toolbararrow_right:before {
	content: '\e907';
}

.icon-flowsheet:before {
	content: '\e908';
}

.icon-diabeteschart:before {
	content: '\e909';
}

.icon-bloodtransfusion:before {
	content: '\e90a';
}

.icon-opennewwindow:before {
	content: '\e90b';
}

.icon-physicalexam:before {
	content: '\e90c';
}

.icon-premedcommittee:before {
	content: '\e90d';
}

.icon-ambulatory:before {
	content: '\e90e';
}

.icon-temporary-bed-full:before {
	content: '\e90f';
}

.icon-return-stock:before {
	content: '\e910';
}

.icon-triage:before {
	content: '\e911';
}

.icon-forward:before {
	content: '\e912';
}

.icon-fast-forward {
	display: inline-block;
	transform: rotate(-90deg);
}

.icon-fast-forward:before {
	content: '\e65f';
}

.icon-move-up:before {
	content: '\e913';
}

.icon-move-down:before {
	content: '\e914';
}

.icon-move-left:before {
	content: '\e914';
	transform: rotateZ(90deg);
}

.icon-move-right:before {
	content: '\e914';
	transform: rotateZ(-90deg);
}

.icon-temporary-bed:before {
	content: '\e915';
}

.icon-trolley-full:before {
	content: '\e916';
}

.icon-trolley-empty:before {
	content: '\e917';
}

.icon-wheelchair:before {
	content: '\e918';
}

.icon-drag:before {
	content: '\e919';
}

.icon-medcommittee:before {
	content: '\e91a';
}

.icon-premedcommittee-followup:before {
	content: '\e91b';
}

.icon-config-warddashboard:before {
	content: '\e91c';
}

.icon-addendum:before {
	content: '\e91d';
}

.icon-ticket:before {
	content: '\e91e';
}

.icon-view:before {
	content: '\e91f';
}

.icon-given:before {
	content: '\e920';
}

.icon-notgiven:before {
	content: '\e921';
}

.icon-overdue:before {
	content: '\e922';
}

.icon-insurance:before {
	content: '\e923';
}

.icon-hospital:before {
	content: '\e927';
}

.icon-infrastructures:before {
	content: '\e928';
}

.icon-pregnancy:before {
	content: '\e929';
}

.icon-circleopen:before {
	content: '\e92a';
}

.icon-dashed:before {
	content: '\e92b';
}

.icon-line:before {
	content: '\e92e';
}

.icon-image:before {
	content: '\e92d';
}

.icon-download:before {
	content: '\e92c';
}

.icon-upload:before {
	content: '\e931';
}

.icon-selection:before {
	content: '\e92f';
}

.icon-text:before {
	content: '\e930';
}

.icon-shapesIcon:before {
	content: '\e932';
}

.icon-square_lineIcon:before {
	content: '\e934';
}

.icon-square_fillIcon:before {
	content: '\e933';
}

.icon-lines_thickness:before {
	content: '\e935';
}

.icon-fontBalance:before {
	content: '\e936';
}

.icon-fontDNR:before {
	content: '\e937';
}

.icon-fontrefresh:before {
	content: '\e938';
}

.icon-fontgoal:before {
	content: '\e939';
}

.icon-fontintervention:before {
	content: '\e93a';
}

.icon-fontproblem:before {
	content: '\e93b';
}

.icon-fontcareplan:before {
	content: '\e93c';
}

.icon-fontpriority:before {
	content: '\e93d';
}

.icon-campaign:before {
	content: '\e93e';
}

.icon-fontgoal:before {
	content: '\e93f';
}

.icon-attention:before {
	content: '\e939';
}

.icon-nobed:before {
	content: '\e940';
}

.icon-LocationPin:before {
	content: '\e941';
}

.icon-BloodTubes:before {
	content: '\e944';
}

.icon-bloodbag:before {
	content: '\e943';
}

.icon-getride:before {
	content: '\e945';
}

.icon-newborn:before {
	content: '\e946';
}

.icon-wristband:before {
	content: '\e947';
}

.icon-medinteractions:before {
	content: '\e948';
}

.icon-ckey:before {
	content: '\e949';
}

.icon-arrowdrop:before {
	content: '\e94a';
}

.icon-temperature:before {
	content: '\e94d';
}

.icon-bento:before {
	content: '\e94e';
}

.icon-scales:before {
	content: '\e94f';
}

.icon-sign:before {
	content: '\e950';
}

.icon-bloodtubes2:before {
	content: '\e942';
}

.icon-attach:before {
	content: '\e951';
}

.icon-warning2:before {
	content: '\e952';
}

.icon-video:before {
	content: '\e953';
}

.icon-bloodpressure:before {
	content: '\e954';
}

.icon-carryinginfants:before {
	content: '\e955';
}

.icon-disable:before {
	content: '\e956';
}

.icon-elderly:before {
	content: '\e957';
}

.icon-mentaldisorder:before {
	content: '\e958';
}

.icon-o2saturation:before {
	content: '\e959';
}

.icon-respiratoryrate:before {
	content: '\e95a';
}

.icon-in-progress:before {
	content: '\e95b';
}

/* Regular icon sizes */
.icon-lg {
	font-size: 1.3333333333333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}

.icon-1x {
	font-size: 1.33333em;
}

.icon-2x {
	font-size: 2em;
}

.icon-3x {
	font-size: 3em;
}

.icon-4x {
	font-size: 4em;
}

.icon-5x {
	font-size: 5em;
}

.icon-fw {
	text-align: center;
	width: 1.2857142857142858em;
}

.icon-ul {
	list-style-type: none;
	margin-left: 2.142857142857143em;
	padding-left: 0;
}

.icon-ul > li {
	position: relative;
}

.icon-li {
	left: -2.142857142857143em;
	position: absolute;
	text-align: center;
	top: 0.14285714285714285em;
	width: 2.142857142857143em;
}

.icon-li.icon-lg {
	left: -1.8571428571428572em;
}

.icon-border {
	border: solid 0.08em $light-grey;
	border-radius: 0.1em;
	padding: 0.2em 0.25em 0.15em;
}

/* SapphireIcon */
