@use '../../../00-settings/sizes' as *;
@use '../../../00-settings/colors' as *;
@use '../../../00-settings/borders' as *;
@use '../../../00-settings/fonts' as *;

@use '../../../01-tools/arrow-button' as *;

@mixin common-sections-compline-style($padding: 0 25px) {
	display: table-cell;
	padding: $padding;
	vertical-align: middle;
}

.ListRecords {
	.CompLine {
		margin-bottom: $sapphire-sizes--small;

		&:last-of-type {
			margin-bottom: 0;
		}

		.CompLine_Expand {
			background-color: transparent;
		}
	}
}

.DesignSystem .CompLine,
.LayoutPopup .CompLine,
.LayoutBlank .CompLine,
.LayoutBase .CompLine {
	background-color: $regular-white;
	border-radius: 1px;
	color: $dark-grey;

	&.IsHeader {
		background-color: transparent;
		border: none;
		margin: 0;

		.CompLineExpandable .CompLine_head {
			background-color: transparent;
			border: none;
		}

		.CompLine__pointerIcon {
			display: none;
		}

		.CompLine_doctor {
			vertical-align: bottom !important;
		}
	}

	&.notCollapsable {
		.CompLine_Expand,
		.CompLine__expandIcon {
			display: none;
		}
	}

	&_headLine {
		border: 1px solid $light-grey;
		border-radius: $border-radius-default;
		display: table;
		min-height: 60px;
		position: relative;
		width: 100%;
	}

	&_head {
		background-color: $body-color;
		border-right: 1px solid $light-grey;
		color: $mid-dark-grey;
		display: table-cell;
		font-size: 1em;
		padding: 12px 23px;
		white-space: nowrap;
	}

	&__expandIcon {
		background-color: transparent;
		display: table-cell;
		height: 100%;
		margin-left: -11px;
		margin-top: 0;
		position: absolute;
		transition: transform 0.5s;
		width: 22px;

		&.Heading2 {
			display: inline-table;
			text-align: left;
			vertical-align: middle;
			width: 16px;
		}
	}

	&__pointerIcon {
		background-color: $regular-white;
		border-radius: 50%;
		cursor: pointer;
		display: block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		span {
			@include arrow-button($regular-alpha);
		}
	}

	&_icon {
		display: table-cell;
		vertical-align: middle;
	}

	&__icon {
		font-size: 1.143em;
		margin-right: $sapphire-sizes--small;

		span {
			line-height: 36px;
			width: auto;
		}
	}

	&_headText {
		text-align: left;
	}

	&__subtitle {
		font-family: $font-family-latin-bold;
	}

	&_doctor {
		@include common-sections-compline-style;

		width: 60%;
	}

	&_other {
		@include common-sections-compline-style;

		> div {
			vertical-align: middle;
		}

		> div > a {
			margin-top: 0;
		}
	}

	&_actions {
		@include common-sections-compline-style(0 23px 0 0);

		text-align: right;

		a > div {
			vertical-align: middle;
		}

		> div,
		> span {
			display: inline-block;
			text-align: center;
			vertical-align: middle;
		}

		a:not(.Button) {
			&,
			&:link,
			&:visited {
				color: $dark-grey;
				text-align: center;
				vertical-align: middle;
			}
		}

		> .MultiAlignRight {
			text-align: right;
		}
	}

	&_moreActions {
		@include common-sections-compline-style(unset);

		text-align: right;
	}

	&_Expand {
		background-color: $regular-eta;
		border-radius: 0 0 $border-radius-default $border-radius-default;
		border-top: none;
		box-sizing: content-box;
		height: 0;
		margin-top: 0;
		overflow: hidden;
		padding: 0 10px;
		transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
		visibility: visible;

		&.White {
			background-color: $regular-white;
		}
	}

	.CompLineExpandable {
		&.expanded {
			.CompLine__expandIcon {
				transform: rotate(90deg);
			}

			.CompLine_headLine {
				border-radius: $border-radius-default $border-radius-default 0 0;
			}

			.CompLine_Expand {
				background-color: transparent;
				border: 1px solid $light-grey;
				border-top: none;
				display: block;
				height: auto;
				overflow: visible;
				padding: $sapphire-sizes--medium;
				visibility: visible;
			}
		}

		&.autoheight {
			.CompLine_Expand {
				display: block;
				height: auto !important;
				transition: 0;
			}
		}
	}
}

.CompLine {
	.SectionExpandableInside {
		background-color: $body-color;
		cursor: default;
		display: block;
		position: relative;
		width: 100%;

		&.expanded {
			.SectionExpandableInside {
				&_header {
					border-bottom: none;
					border-radius: $border-radius-default $border-radius-default 0 0;
				}

				&_content {
					border: 1px solid $light-grey;
					display: block;
				}
			}
		}

		&_header {
			border: 1px solid $light-grey;
			border-radius: $border-radius-default;

			.ExapandablePlaceholder:empty {
				display: none !important;
			}
		}

		&_content {
			border-radius: 0 0 $border-radius-default $border-radius-default;
			display: none;
		}
	}
}

.AR,
.FA {
	.CompLine {
		&__expandIcon {
			margin-right: -11px;

			&.Heading2 {
				display: inline-table;
				text-align: right;
				vertical-align: middle;
				width: 16px;
			}
		}

		&_headText {
			text-align: right;
		}

		&_actions {
			padding-left: 23px;
			padding-right: 0;
			text-align: left;
		}

		&_moreActions {
			text-align: left;
		}

		&__icon {
			margin-left: $sapphire-sizes--small;
			margin-right: 0;
		}
	}
}
