@use '../../../00-settings/colors' as *;
@use '../../../../assets/variables' as *;

.ListRecords.VariationItems {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.VariationItem {
	&-value {
		flex-basis: 100%;
		flex-grow: 1;
		padding-right: 12px;
		position: relative;
		text-align: right;

		&:after {
			position: absolute;
			right: 0;
		}

		&[data-critical='True'] {
			color: $regular-red;
		}

		&[data-variation='up']:after {
			content: '\e913';
			display: inline-block;
			font-family: $font-family-icons;
			transform: rotate(45deg);
		}

		&[data-variation='down']:after {
			content: '\e913';
			display: inline-block;
			font-family: $font-family-icons;
			transform: rotate(135deg);
		}
	}
}
