@use 'sass:list';

@use '../../../00-settings/sizes' as *;
@use '../../../00-settings/colors' as *;

.GenericGallery {
	.GenericGallery-content {
		display: grid;
	}

	.GenericGallery-item {
		opacity: 1;
	}

	@each $size in $sapphire-sizes {
		$label: list.nth($size, 1);
		$value: list.nth($size, 2);

		&.GenericGallery-column-gap--#{$label} {
			> .GenericGallery-content,
			> .GenericGallery-content > span.ListRecords {
				grid-column-gap: #{$value};
			}
		}

		&.GenericGallery-row-gap--#{$label} {
			span.ListRecords,
			.GenericGallery-content {
				grid-row-gap: #{$value};
			}
		}

		&.GenericGallery-padding--#{$label} {
			span.ListRecords,
			.GenericGallery-item {
				padding: #{$value};
			}
		}
	}
}

.GenericGallery-border--None {
	border: none;
}

.GenericGallery-border--None .GenericGallery-item {
	border: none;
}

.GenericGallery-border--All .GenericGallery-item {
	border: solid 1px $light-grey;
}

.GenericGallery-border--Left .GenericGallery-item {
	border-left: solid 2px $light-grey;
}

.GenericGallery-border--Right .GenericGallery-item {
	border-right: solid 2px $light-grey;
}

.GenericGallery-border--Bottom .GenericGallery-item {
	border-bottom: solid 2px $light-grey;
}

.GenericGallery-border--Inside .GenericGallery-item {
	border-bottom: 1px solid $light-grey;
	border-right: 1px solid $light-grey;
	margin-bottom: -1px;
	margin-right: -1px;

	.AR {
		border-left: 1px solid $light-grey;
		border-right: none;
		margin-left: -1px;
		margin-right: 0;
	}
}
