$tab-height: 44px;

.FullScreenTabsWrapper_Container {
	@include flex-center-vertically();

	background-color: $regular-white;
	flex-wrap: wrap;
	height: $tab-height;
	justify-content: space-between;
	padding: 0;
	position: relative;

	a {
		-servicestudio-display: inline-block;
		-servicestudio-padding: 0 16px;
	}

	.FullScreenTabsWrapper__Tabs {
		bottom: 0;
		display: inline-flex;
		gap: $sapphire-sizes--large;
		position: absolute;
	}
}

.TabWrapper {
	@include flex-center-vertically();

	border-bottom: 3px solid transparent;
	gap: $sapphire-sizes--small;
	height: $tab-height;
	position: relative;
	text-align: center;
	
	&:hover {
		border-bottom-color: $regular-alpha;

		.TabWrapper_tab a,
		.TabWrapper_icon .icon {
			color: $regular-beta;
		}
	}

	.TabWrapper_tab a {
		color: $regular-grey;
		display: block;
		font-family: $font-family-latin-regular;
		font-size: 1rem;
		line-height: calc(#{$tab-height} - 5px);
		white-space: nowrap;
	}

	.TabWrapper_icon .icon {
		font-size: $font-size-heading4;
	}
}

.TabWrapper.Active {
	background-color: $regular-white;
	border-bottom-color: $regular-alpha;
	pointer-events: none;

	a,
	a:hover {
		color: $regular-beta;
		text-shadow: 0px 0px 1px $regular-beta;
	}

	.TabWrapper_icon .icon {
		color: $regular-beta;
	}
}

.FullScreenTabs_tabCounter {
	background-color: $regular-red;
	border-radius: 100%;
	color: $regular-white;
	font-size: 10px;
	height: 15px;
	line-height: 15px;
	margin-left: -15px;
	margin-top: 6px;
	text-align: center;
	width: 15px;
	z-index: 1;
}

.FA .FullScreenTabs_tabCounter,
.AR .FullScreenTabs_tabCounter {
	left: 2px;
	right: auto;
}

.FullScreenTabsWrapper_Container.Dashboard {
	//background-color: $regular-white;
	background-color: yellow;

	a {
		position: relative;
	}

	.TabWrapper {
		background-color: $regular-white;
		border-top-color: $regular-white;
		border-top-left-radius: $border-radius-default;
		border-top-right-radius: $border-radius-default;
		color: $regular-grey;
		font-family: $font-family-latin-bold;
		font-size: 1rem;
		line-height: calc(#{$tab-height} - 5px);
		padding-left: 24px;
		padding-right: 24px;

		&:hover {
			background-color: $sapphire-light;
			border-top-color: $regular-alpha;
			color: $regular-beta;
		}

		&.Active {
			background-color: $body-color;
			border-bottom-color: $body-color;
			border-top-color: $regular-alpha;
			color: $regular-beta;
		}
	}

	.FullScreenTabs_tabCounter {
		position: absolute;
		right: 3px;
		top: 0;
	}
}

.FullScreenTabsWrapper_Container.Emergency {
	.TabWrapper.Active {
		background-color: $light-red;
		border-top: $regular-red;
		color: $regular-red;

		.TabWrapper_tab a {
			color: $regular-red;
		}
	}
}