@use 'sass:list';
@use '../../00-settings/sizes' as *;

@each $size in $sapphire-sizes {
	$label: list.nth($size, 1);
	$value: list.nth($size, 2);

	.MultiMargin#{$label} {
		margin: #{$value};
	}

	.MultiMarginLeft#{$label} {
		margin-left: #{$value};
	}

	.MultiMarginRight#{$label} {
		margin-right: #{$value};
	}

	.MultiMarginTop#{$label} {
		margin-top: #{$value};
	}

	.MultiMarginBottom#{$label} {
		margin-bottom: #{$value};
	}

	.tablet .MultiMarginTop#{$label}-tablet {
		margin-top: #{$value};
	}

	.tablet .MultiMarginBottom#{$label}-tablet {
		margin-bottom: #{$value};
	}

	.desktop.small .MultiMarginTop#{$label}-desktop-small {
		margin-top: #{$value};
	}

	.desktop.small .MultiMarginBottom#{$label}-desktop-small {
		margin-bottom: #{$value};
	}

	.AR,
	.FA {
		.MultiMarginLeft#{$label} {
			margin-left: auto;
			margin-right: #{$value};
		}

		.MultiMarginRight#{$label} {
			margin-left: #{$value};
			margin-right: auto;
		}
	}
}
