.NoMargin {
	margin: 0 !important;
}

.NoMarginTop {
	margin-top: 0px !important;
}

.NoMarginRight {
	margin-right: 0px !important;
}

.NoMarginLeft {
	margin-left: 0px !important;
}

.NoMarginBottom {
	margin-bottom: 0px !important;
}
