@use '../00-settings/colors' as *;
@use '../00-settings/fonts' as *;

a {

  &:link,
  &:visited {
    color: $regular-beta;
    font-family: $font-family-latin-bold;
    text-decoration: none;
  }
}

.AR {
  a {

    &:link,
    &:visited {
      font-family: $font-family-arabic-bold;
    }
  }

}