$GenericStrutucre-color-border: $light-grey;
$GenericStrutucre-color-title-underline: $regular-alpha;

.GenericStructure {
	&-header-border--None {
		div.GenericStructure-content {
			margin-top: 0;
		}
	}

	&-header-border--Bottom {
		.GenericStructure-header {
			border-bottom: 1px solid $light-grey;
		}
	}

	.GenericStructure-header {
		display: flex;
		padding-bottom: $sapphire-sizes--medium;

		.GenericStructure-header-content {
			max-width: 70%;
		}

		.GenericStructure-header-actions {
			flex-grow: 1;
			text-align: right;
			white-space: nowrap;

			.OSInline {
				vertical-align: middle;
			}
		}
	}

	.GenericStructure-subheader {
		display: flex;

		.GenericStructure-subheader-content {
			flex-grow: 1;
			margin-bottom: $sapphire-sizes--large;
		}

		.GenericStructure-subheader-actions {
			flex-grow: 1;
			margin-bottom: $sapphire-sizes--large;
			text-align: right;
		}
	}

	.GenericStructure-content {
		margin-top: $sapphire-sizes--medium;
	}

	.GenericStructure-section {
		margin-bottom: $sapphire-sizes--large;

		.GenericStructure-section-header {
			align-items: flex-end;
			display: flex;
		}

		.GenericStructure-section-header-content {
			max-width: 70%;
		}

		.GenericStructure-section-header-actions {
			flex-grow: 1;
			text-align: right;
			white-space: nowrap;
		}
	}
}

.GenericStructure-header-border--GrayBorder > .GenericStructure-header > .GenericStructure-header-content,
.GenericStructure-header-border--GrayBorder > .GenericStructure-header > .GenericStructure-header-actions {
	border-bottom: 1px solid $GenericStrutucre-color-border;
	padding-bottom: $sapphire-sizes--small;
}

.GenericStructure-header-border--BorderTitle > .GenericStructure-header > .GenericStructure-header-content {
	align-items: center;
	border-bottom: 1px solid $GenericStrutucre-color-title-underline;
	display: flex;
	padding-bottom: $sapphire-sizes--small;
}

.GenericStructure-header-border--BorderTitle > .GenericStructure-header > .GenericStructure-header-actions {
	border-bottom: 1px solid $GenericStrutucre-color-border;
	padding-bottom: $sapphire-sizes--small;
}

.phone,
.tablet {
	.GenericStructure-header,
	.GenericStructure-header-content,
	.GenericStructure-header-actions,
	.GenericStructure-subheader,
	.GenericStructure-subheader-content,
	.GenericStructure-subheader-actions,
	.GenericStructure-section-header,
	.GenericStructure-section-header-content,
	.GenericStructure-section-header-actions {
		display: block;
		margin-bottom: $sapphire-sizes--small;
		max-width: none;
		white-space: normal;
	}

	.GenericStructure-header-actions:empty {
		display: none !important;
	}

	.GenericStructure-header,
	.GenericStructure-subheader {
		margin-bottom: $sapphire-sizes--large;
	}

	.GenericStructure-header-actions {
		border-bottom: none !important;
		padding-bottom: none !important;
	}
}
