/* Old search and select component it still in use in the following pages

    -ClinicianCommon_UI and Templayes_Clinical_CW

    Component defined inside other component----- Sign_CW -> SearchSelectComponent\SSDSearch V3 PATH */

.SSD-Widget {
	height: 4rem;
	position: relative;
}

.SSD-Wrapper {
	-servicestudio-position: initial;
	position: absolute;
	top: 0;
	width: 100%;

	.SSD-Component {
		background-color: transparent;
		border: none;
		box-shadow: none !important;
	}

	&.Positioned {
		width: auto;
		z-index: 1;

		> .SSD-Component {
			position: relative;
			z-index: 2;
		}

		&.Selected {
			z-index: 2;
			.SSD-Bar {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border-bottom-right-radius: 0;
				.ShortListSelector-Container {
					border-bottom-left-radius: 0;
				}
			}
		}
	}
	&.Selected {
		> .SSD-Component {
			//border: 0.08333rem solid #16979f;
			box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);

			&.Fixed {
				> .SSD-Bar {
					border-bottom: 1px solid #c9cdce;
					-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
					-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
					box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
					position: fixed;
					z-index: 3;
				}

				> .SSD-List {
					padding-top: 3.7rem;
				}
			}
		}

		.SSD-Component {
			.SSD-Bar {
				> div {
					&:first-child {
						//border-bottom-left-radius: 0;
					}
					&:last-child {
						//border-bottom-right-radius: 0;
					}
				}
			}

			.SSD-List {
				border: 1px solid $light-grey;
				// border-top: 0.08333rem solid #c9cdce;
				border-top: none;
				height: auto;
				min-height: 4rem;
				overflow: initial;
			}
		}

		.SSD-Bar {
			> div {
				&:not(.Selected) {
					//background-color: transparent;
					&:not(:hover) {
						> .SearchIcon {
							color: $regular-alpha;
						}
					}
					// > a:not(:hover) {
					// 	color: #7bb2bf;
					// }
				}
			}

			> .SearchInput-Container {
				> .ClearControl {
					display: inline-block;
				}
			}
		}
	}
}

/*
.SSD-Background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: none;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    pointer-events: none;
}*/

.SSD-Bar {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: 23px;
	display: table;
	height: 48px;
	width: 100%;
	.InputPlaceholder {
		input[type='text'] {
			height: 34px;
		}
	}

	> div {
		display: table-cell;

		// &:not(:last-child) {
		// 	border-right: 0.08333rem solid #c9cdce;
		// }

		// &:first-child {
		// 	border-bottom-left-radius: 0.2333rem;
		// 	border-top-left-radius: 0.2333rem;
		// }

		// &:last-child {
		// 	border-bottom-right-radius: 0.2333rem;
		// 	border-top-right-radius: 0.2333rem;
		// }
	}

	> .ShortListSelector-Container {
		background-color: $regular-eta;
		border-bottom-left-radius: 23px;
		border-right: 1px solid $light-grey;
		border-top-left-radius: 23px;
		cursor: pointer;
		display: table-cell;
		font-size: 8px;
		height: 100%;
		min-width: 48px;
		text-align: center;
		vertical-align: middle;
		width: 48px;
	}

	> .Tab1-Container,
	> .Tab2-Container {
		-servicestudio-display: inline-block;
		-servicestudio-height: 50px;
		white-space: nowrap;
		-servicestudio-width: 100px;
		width: 1%;
	}

	> .ShortListSelector-Container > a,
	> .Tab1-Container > a,
	> .Tab2-Container > a {
		color: $regular-alpha;
		font-size: 2em;
		height: 100%;
	}

	> .SearchInput-Container {
		background-color: transparent;
		position: relative;

		> .InputPlaceholder {
			height: 100%;
		}

		.InputPlaceholder {
			input[type='text'] {
				background: transparent;
				border: none;
				box-shadow: none;
				font-size: $font-size-heading3;
				height: 100%;
				padding: 0 50px;
				width: 100%;

				&::placeholder {
					color: $regular-beta;
					font-family: $font-family-latin-bold;
					font-size: $font-size-normal;
				}
			}
		}

		> .SearchIcon {
			color: $regular-alpha;
			cursor: pointer;
			font-size: $font-size-heading2;
			height: 100%;
			left: 20px;
			position: absolute;
			text-align: center;
			transform: rotateY(180deg);
		}

		> .ClearControl {
			display: none;
			height: 100%;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0px;
			width: 68px;
			z-index: 1;

			> div {
				background-color: $regular-white;
				border: 1px solid $light-grey;
				border-radius: 50%;
				color: $regular-beta;
				font-size: $font-size-heading3;
				height: 28px;
				line-height: 28px;
				width: 28px;
			}
			&:hover {
				> div {
					border: 0.08333rem solid $regular-alpha;
				}
			}
		}
	}
}

.rtl {
	.SSD-Bar {
		> div {
			&:not(:last-child) {
				border-left: 0.08333rem solid #c9cdce;
				border-right: none;
			}

			&:first-child {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0.2333rem;
				border-top-left-radius: 0;
				border-top-right-radius: 0.2333rem;
			}

			&:last-child {
				border-bottom-left-radius: 0.2333rem;
				border-bottom-right-radius: 0;
				border-top-left-radius: 0.2333rem;
				border-top-right-radius: 0;
			}
		}

		> .SearchInput-Container {
			.InputPlaceholder {
				input[type='text'] {
					padding: 0 3.333rem 0 4.167rem;
				}
			}

			> .ClearControl {
				left: 0;
				right: auto;
			}
		}
		> .SearchIcon {
			left: auto;
			right: 0;
			transform: initial;
		}
	}

	.SSD-Wrapper.Selected {
		.SSD-Component {
			.SSD-Bar {
				> div {
					&:first-child {
						border-bottom-right-radius: 0;
					}
					&:last-child {
						border-bottom-left-radius: 0;
					}
				}
			}
		}
	}
}

.KeyboardNav {
	.SSD-Bar {
		// > .ShortListSelector-Container > a:focus,
		// .Tab1-Container > a:focus,
		// .Tab2-Container > a:focus {
		// 	box-shadow: inset 0px 0px 0px 1px #16979f, 0px 0px 8px 0px #16979f;
		// 	position: relative;
		// 	z-index: 1;
		// }

		> .SearchInput-Container {
			.InputPlaceholder {
				input[type='text'] {
					// &:focus {
					// 	box-shadow: inset 0px 0px 0px 1px #16979f, 0px 0px 8px 0px #16979f;
					// 	position: relative;
					// 	z-index: 1;
					// }
				}
			}

			> .ClearControl {
				&:focus {
					> div {
						border: 0.08333rem solid #16979f;
						box-shadow: 0px 0px 5px 1px #16979f;
					}
				}
			}
		}
	}

	.SSD-List {
		span.SSD_ListRecords > span.focus,
		.SSD_ListLine.ShowMore.focus > div.LineHeader {
			-webkit-box-shadow: inset 0px 0px 0px 1px #16979f, 0px 0px 8px 0px #16979f;
			-moz-box-shadow: inset 0px 0px 0px 1px #16979f, 0px 0px 8px 0px #16979f;
			box-shadow: inset 0px 0px 0px 1px #16979f, 0px 0px 8px 0px #16979f;
			position: relative;
			z-index: 2;
		}
	}
}

.SSD-List {
	background-color: $regular-white;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
	height: 0;
	overflow: hidden;

	span.SSD_ListRecords > span {
		display: block;
	}

	.SSD_ListLine {
		.LineHeader {
			background-color: transparent !important;
			display: table;
			height: 50px;
			table-layout: fixed;

			> div:nth-child(3) {
				display: table-cell;
				padding-top: 2px;
				text-align: center;
				vertical-align: middle;
				width: 68px;
			}
		}
		&:hover {
			background-color: $regular-eta;
			cursor: pointer;
		}
	}

	.SSD_ListRecords {
		.LineHeader {
			.Label {
				border-radius: 0;
				color: $dark-grey;
				font-size: $font-size-heading3;
				padding: 5px $sapphire-sizes--medium;
				width: 100%;
			}
			.ExpandControl {
				display: table-cell;
				line-height: unset;
				width: 68px;
				a {
					margin: 0;
					padding: 0;

					div {
						align-items: center;
						display: flex;
						height: 100%;
						justify-content: center;
						width: 100%;
					}
				}
			}
		}
	}

	div.SSD_ListLine {
		&.ShowMore {
			align-items: center;
			display: flex;
			justify-content: center;
			min-height: 44px;
			a {
				font-family: $font-family-latin-bold;
				font-size: $font-size-normal !important;
			}
			.LineHeader {
				align-items: center;
				display: inherit;
				justify-content: center;
			}
		}
	}
}

// /* ======== v Temporary Styles for demo purposes v ======== */
// html
// 	.SSD-Wrapper.Selected
// 	.SSD-List
// 	div.SSD_ListLine
// 	> div.LineHeader
// 	> div.Icon {
// 	width: 1%;
// }

// .SSD-Wrapper.Selected
// 	.SSD-List
// 	div.SSD_ListLine
// 	> div.LineHeader
// 	> div.Icon
// 	> a:focus
// 	span.icon {
// 	-webkit-text-shadow: 0px 0px 10px rgba(22, 151, 159, 0.8);
// 	text-shadow: 0px 0px 10px rgba(22, 151, 159, 0.8);
// }

// .SSD-Wrapper.Selected
// 	.SSD-List
// 	span:not(.focus)
// 	> div.SSD_ListLine
// 	> div.LineHeader
// 	> div.ExpandControl
// 	> a:focus
// 	> div {
// 	-webkit-box-shadow: inset 0px 0px 0px 1px #16979f, 0px 0px 8px 0px #16979f;
// 	-moz-box-shadow: inset 0px 0px 0px 1px #16979f, 0px 0px 8px 0px #16979f;
// 	box-shadow: inset 0px 0px 0px 1px #16979f, 0px 0px 8px 0px #16979f;
// }

// .SSD-Wrapper.Selected .SSD-List .SSD_ListLine.ShowMore {
// 	border: none;
// }

// height: 100%;
// width: 100%;

// .icon {
// 	background-color: $regular-white;
// 	border: 1px solid $light-grey;
// 	border-radius: 2px;
// 	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
// 	box-sizing: border-box;
// 	color: $regular-beta;
// 	height: 26px;
// 	text-align: center;
// 	width: 26px;
// }
div.SSD_ListLine > div.LineHeader div.List-ToggleButton {
	//margin-right: 12px;
}
div.SSD_ListLine > div.LineHeader div.List-ToggleButton > div {
	// height: 100%;
	// margin-right: 12px;
	// width: 100%;
	.icon {
		background-color: $regular-white;
		border: 1px solid $light-grey;
		border-radius: 2px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		color: $regular-beta;
		font-size: 20px;
		text-align: center;
	}
}
