.SpinnerInput_ContainerVertical {
	.SpinnerInputVertical {
		display: table;

		input[type='number'] {
			box-sizing: border-box;
			padding: 0 $sapphire-sizes--xsmall;
			text-align: center;
			width: 52px;
		}

		.inputVertical {
			white-space: nowrap;
		}
	}

	.MinusVertical {
		&:before {
			content: '\e610';
		}

		&.DisabledSpin {
			color: $border-color-disabled;
			pointer-events: none;
		}
	}

	.PlusVertical:before {
		content: '\e611';
	}

	.MinusVertical:before,
	.PlusVertical:before {
		display: block;
		font-family: $font-family-icons;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
	}

	> a {
		cursor: pointer;
		display: inline-block;
		min-width: 52px;

		&[disabled] {
			color: $border-color-disabled;
			pointer-events: none;
		}
	}

	.SpinnerErrorMessage {
		background-color: $regular-red;
		border-radius: 0 2px 2px 2px;
		color: $regular-white;
		font-size: 1em;
		line-height: 1em;
		padding: 5px 10px;
		position: absolute;
		text-align: left;
		width: 200px;
		z-index: 1;

		&:before {
			background-color: $regular-red;
			content: '';
			display: block;
			height: 30px;
			margin-left: -10px;
			margin-top: -35px;
			position: absolute;
			width: 1px;
		}
	}
}

.AR,
.FA {
	.SpinnerInput_ContainerVertical {
		.SpinnerErrorMessage {
			border-radius: 2px 0 2px 2px;

			&:before {
				margin-left: auto;
				margin-right: -10px;
			}
		}
	}
}
