.ExpiryCard {
	border-radius: $border-radius-default;
	display: inline-block;
	font-size: $font-size-normal;
	line-height: 20px;
	min-width: 80px;
	margin: 4px 8px;
	text-align: center;
	white-space: nowrap;
}

.ExpiryCard.Expired {
	// important used due to Theme Sapphire
	background-color: $light-red !important;
	color: $regular-red !important;
}

.ExpiryCard.NearExpiry {
	// important used due to Theme Sapphire
	background-color: $light-orange !important;
	color: $dark-orange !important;
}
