.ExpiryCard {
	border-radius: $border-radius-default;
	display: inline-block;
	font-size: $font-size-normal;
	line-height: 20px;
	padding: 0 8px;
	white-space: nowrap;
}

.ExpiryCard.Expired {
	background-color: $light-red;
	color: $regular-red;
}

.ExpiryCard.NearExpiry {
	background-color: $light-orange;
	color: $dark-orange;
}

.LotCodeCard {
    display: inline-block;
    vertical-align: bottom;
    max-width: 8vw;
		overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.LayoutPopup .LotCodeCard{
    max-width: 12vw;
}