@use '../../../00-settings/colors' as *;
@use '../../../00-settings/sizes' as *;
@use '../../../00-settings/borders' as *;
@use '../../../../assets/variables' as *;
@use '../../../00-settings/fonts' as *;

@use '../../../01-tools/flex-align' as *;

@use '../../../01-tools/box-shadow' as *;

@mixin common-sapphire-weekdays-style {
	//z-index: 1;
	align-items: center;
	background-color: $regular-white;
	display: inline-flex;
	justify-content: center;
	padding: $sapphire-sizes--xsmall;
	text-align: center;
	width: calc(100% / 7);
}

.CalendarWb {
	@include common-sapphire-weekdays-style;

	border: 1px solid $light-grey;
	width: 350px;
	padding: $sapphire-sizes--medium;
	position: absolute;
	z-index: 1;

	&_noOverlap {
		@include common-sapphire-weekdays-style;

		border: 1px solid $light-grey;
		border-radius: $border-radius-medium;
		display: inline-block;
		width: 350px;
		padding: $sapphire-sizes--medium;
	}
}

.CalendarWidget {
	.Calendar_SmallDayLink {
		@include flex-center-total;

		border: 2px solid transparent;
		border-radius: 50%;
		height: 40px;
		min-width: 40px;
		width: 40px;
	}

	&_wrapper {
		white-space: initial;

		&:after {
			clear: both;
			content: ' ';
			display: block;
			height: 0;
			visibility: hidden;
		}
	}

	&__header {
		@include flex-custom-align(center, space-between);

		height: 36px;
	}

	&__weekDays {
		padding: $sapphire-sizes--small 0;
	}

	&___back {
		&:after {
			left: 7px;
			transform: rotate(90deg);
		}
	}

	&___forward {
		&:after {
			right: 7px;
			transform: rotate(270deg);
		}
	}

	&___back,
	&___forward {
		position: relative;

		&:after {
			content: '\e610';
			font-family: $font-family-icons;
			font-size: 1em;
			position: absolute;
			top: -9px;
		}

		&.Disabled {
			background: none;
			pointer-events: none;

			&:after {
				color: $light-grey;
			}
		}

		img {
			display: none;
		}
	}

	&___currentDay {
		font-family: $font-family-latin-bold;
		font-size: 1.143em;
	}

	&___weekDay {
		color: $regular-grey;
		display: inline-block;
		font-family: $font-family-latin-bold;
		padding: $sapphire-sizes--small 0;
		text-align: center;
		width: calc(100% / 7);
	}

	&__days {
		color: $regular-grey;
		font-size: $font-size-heading4;
		width: 100%;

		a:link,
		a:visited {
			color: inherit;
			font-family: $font-family-latin-regular;
		}

		.Calendar_Past_Day {
			@include common-sapphire-weekdays-style;

			color: $light-grey;
		}

		.Calendar_Today {
			@include common-sapphire-weekdays-style;

			.Calendar_SmallDayLink {
				border-color: $regular-alpha;
				color: $dark-grey !important;
				font-family: $font-family-latin-bold;
			}
		}

		.Calendar_Weekday {
			@include common-sapphire-weekdays-style;

			color: $dark-grey;
			font-family: $font-family-latin-bold;

			a:link,
			a:visited {
				font-family: $font-family-latin-bold;
			}

			> .Calendar_SmallDayLink {
				color: $mid-light-grey;
				text-decoration: line-through;
			}

			&.CalendarWidget__Selected {
				&:hover {
					span.Calendar_SmallDayLink {
						background-color: $regular-epsilon;
					}
				}

				span.Calendar_SmallDayLink {
					background-color: $regular-alpha;
					color: $regular-white !important;
					font-family: $font-family-latin-bold;
				}
			}
		}

		.Calendar_Weekday_Holiday {
			@include common-sapphire-weekdays-style;

			color: $mid-light-grey;
			text-decoration: line-through;
		}

		.Calendar_EmptyWeekendDay {
			@include common-sapphire-weekdays-style;
		}

		.Calendar_EmptyDay {
			@include common-sapphire-weekdays-style;

			border: none;
			pointer-events: none;

			&:hover {
				.Calendar_SmallDayLink {
					background-color: $regular-white;
				}
			}
		}
	}

	&__daysNumber {
		@include common-sapphire-weekdays-style;
		position: relative;

		a:hover {
			.Calendar_SmallDayLink {
				background-color: $sapphire-light;
			}
		}

		.arrowLeft {
			bottom: 0;
			display: contents;
			position: absolute;

			&:after {
				border-radius: 4px;
				bottom: 7px;
				content: ' ';
				height: 4px;
				left: 50%;
				position: absolute;
				transform: translateX(-50%);
				width: 4px;
			}

			/*&.green {
				&:after {
					background-color: $regular-green;
				}
			}*/

			&.orange {
				&:after {
					background-color: $regular-orange;
				}
			}

			&.red {
				&:after {
					background-color: $regular-red;
				}
			}
		}

		> a span {
			height: 44px;
			width: 65px;
		}

		&.CalendarWidget__Selected {
			background-color: $regular-white !important;
			border: none !important;

			&:hover {
				span.Calendar_SmallDayLink {
					background-color: $regular-epsilon !important;
				}
			}

			.arrowLeft.green {
				display: none;
			}

			span.Calendar_SmallDayLink {
				background-color: $regular-alpha;
				color: $regular-white !important;
				font-family: $font-family-latin-bold;
			}
		}
	}

	&_Today {
		clear: both;
		display: block;
		font-family: $font-family-latin-bold;
		padding-top: $sapphire-sizes--small;
		width: 100%;
	}

	&__MonthYearPicker {
		display: flex;
		gap: $sapphire-sizes--small;

		select {
			padding: 0 $sapphire-sizes--small !important;
		}
	}

	> div {
		width: 100%;
	}

	.ListRecords {
		text-align: left;

		> a > .CalendarWidget__daysNumber {
			@include common-sapphire-weekdays-style;

			color: $dark-grey;
			font-family: $font-family-latin-bold;

			&:hover {
				.Calendar_SmallDayLink {
					background-color: $sapphire-light;
				}
			}
		}
	}

	.CalendarWidget__Selected {
		background-color: $regular-white !important;
		border: none !important;
	}
}

.CalendarWrapper {
	.CalendarWb {
		@include shadow-small;

		border-radius: $border-radius-medium;
		margin-top: 7px;
		width: 350px;
	}
}

.AR,
.FA {
	.CalendarWidget {
		&___back {
			&:after {
				left: auto;
				right: 7px;
				transform: rotate(-90deg);
			}
		}

		&___forward {
			&:after {
				left: 7px;
				right: auto;
				transform: rotate(-270deg);
			}
		}

		.ListRecords {
			text-align: right;
		}
	}
}
