.tippytooltip {
}

.tippy-box[data-theme='white'] {
	background-color: #fff;
	border: 1px solid #d6d6d6;
	color: #333;
	.tippy-arrow {
		&:before {
			color: #fff;
			filter: drop-shadow(0 0 0 #000);
		}
	}
}
