@use '../00-settings/import' as *;

@mixin absolute-center($axisX: 50%, $axisY: 50%) {
  left: $axisX;
  position: absolute;
  top: $axisY;
  transform: translate(-$axisX, -$axisY);
}

@mixin absolute-center-vertically($axisY: 50%) {
  position: absolute;
  top: $axisY;
  transform: translateY(-$axisY);
}