@use '../00-settings/colors' as *;
@use '../00-settings/borders' as *;

@use 'flex-align' as *;

@mixin blank-state {
	@include flex-center-total;

	background-color: transparent;
	border: 1px solid $light-grey;
	border-radius: $border-radius-default;
	color: $regular-grey;
	font-size: 1em;
	min-height: 48px;
	width: 100%;
}
