@use '../00-settings/import' as *;

@mixin flex-center-total($type: flex) {
	display: $type;
	align-items: center;
	justify-content: center;
}

@mixin flex-center-vertically($type: flex) {
	align-items: center;
	display: $type;
}

@mixin flex-custom-align($align: center, $justify: center, $type: flex) {
	align-items: $align;
	display: $type;
	justify-content: $justify;
}