@use '../../../../components/00-settings/colors' as *;

.TitleSubTitleElement {
	min-height: 50px;

	&_title {
		color: $dark-grey;
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;
		margin-bottom: 20px;
	}

	&_subtitle {
		color: $mid-dark-grey;
		font-size: 14px;
		line-height: 22px;
		margin-right: 1px;
	}
}
