@use '../../../../components/00-settings/colors' as *;

.InputLabel_Container__Input {
	vertical-align: middle;
}

.InputLabel_Container__label {
	color: $mid-dark-grey;
	font-size: 14px;
	margin-left: 10px;
	vertical-align: middle;
}
