@use '../00-settings/sizes' as *;
@use '../00-settings/colors' as *;

@use '../01-tools/flex-align' as *;

.ClinicalTabsSearch {
	display: flex;
	flex-wrap: wrap;
	gap: $sapphire-sizes--large;
	margin-top: $sapphire-sizes--xlarge;

	&__Filter,
	&__Options {
		display: flex;
	}

	&__Filter {
		position: relative;
		width: 315px;

		.Search_wrapper {
			width: 100%;

			input[type='text'] {
				padding-right: 90px;
			}
		}

		a.Button {
			min-width: 75px;
			position: absolute;
			right: 0;
			z-index: 1;
		}
	}

	&__Options {
		@include flex-center-vertically();

		gap: $sapphire-sizes--medium;
	}

	&__Dates {
		@include flex-center-vertically();

		border-right: 1px solid $light-grey;
		gap: 3px;
		padding-right: $sapphire-sizes--medium;

		.AR & {
			border-left: 1px solid $light-grey;
			border-right: none;
			padding-left: $sapphire-sizes--medium;
			padding-right: 0;
		}

		.DateTimeRangePicker {
			max-width: 130px;
			min-width: 130px;

			&.rangeDates {
				min-width: 218px;
			}
		}
	}

	&__Dropdown {
		display: flex;
		gap: $sapphire-sizes--small;
	}

	&__Button {
		@include flex-center-vertically();

		gap: $sapphire-sizes--small;
	}
}

.ClinicalDocumentTable {
	margin-top: $sapphire-sizes--large;
	position: relative;

	.CustomTable {
		&.ExpandableRows {
			tr.ActiveRow .ExpandLink::before {
				content: attr(data-hide-text) ' ';
			}

			td {
				.ExpandLink {
					&::before {
						content: attr(data-show-text) ' ';
						display: inline-block;
						min-width: 93px;
					}

					span.fa {
						transform: rotate(0deg);
					}
				}

				&:first-child {
					width: 44px;

					input[type='checkbox'] {
						margin: 0;
					}
				}

				.AR & {
					&:last-child {
						border-bottom-right-radius: 0;
						border-top-right-radius: 0;
					}
				}
			}
		}

		tr.TableRowExpandable {
			background-color: $body-color;

			&.open {
				.AR & {
					td {
						border-bottom: 1px solid $light-grey;
					}
				}
			}

			&:hover,
			&:hover td {
				background-color: $body-color !important;
			}

			td {
				border-bottom: 1px solid $light-grey;
				padding: $sapphire-sizes--small;
				padding-bottom: $sapphire-sizes--medium;

				&:first-child {
					border-left: 1px solid $light-grey;
				}

				&:last-child {
					border-right: 1px solid $light-grey;
				}

				.AR & {
					border-bottom: 1px solid $light-grey;

					&:first-child {
						border-right: 1px solid $light-grey;
					}

					&:last-child {
						border-left: 1px solid $light-grey;
					}
				}
			}

			.TableRowExpandable_Content.ColFirst {
				background-color: $body-color;
				border-left: 1px solid $light-grey;
				border-right: 1px solid $light-grey;
				height: 20px;
				margin-left: -17px;
				margin-top: -20px;
				position: absolute;
				width: 100%;

				.AR & {
					margin-left: 0;
					margin-right: -17px;
				}
			}
		}
	}
}

.AR,
.FA {
	.ClinicalTabsSearch {
		&__Filter {
			.Search_wrapper {
				input[type='text'] {
					padding-left: 90px;
					padding-right: 35px;
				}
			}

			.Button {
				left: 0;
				right: unset;
			}
		}
	}
}
