@use '../00-settings/colors' as *;
@use '../00-settings/fonts' as *;
@use '../00-settings/sizes' as *;
@use '../00-settings/borders' as *;

.InfoTooltipDnD {
	color: $regular-beta;
	font-size: $font-size-small;
	position: absolute;
	right: $sapphire-sizes--medium;
	top: $sapphire-sizes--medium;
	transition: all 0.1s ease-in-out;

	&:hover {
		color: $regular-epsilon;
	}
}

.KPIS_Container iframe{
	border-radius: $border-radius-medium;
	margin-bottom: $sapphire-sizes--medium;

	html > body{
		background-color: transparent !important;
	}
}