@use '../00-settings/colors' as *;
@use '../00-settings/fonts' as *;
@use '../00-settings/sizes' as *;
@use '../00-settings/borders' as *;

@use '../01-tools/alignment' as *;

@use '../01-tools/flex-align' as *;

.LayoutESignature {
	background-color: $body-color;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	height: 100%;

	&__Logo {
		align-items: center;
		color: $regular-alpha;
		display: flex;
		font-family: $font-family-latin-bold;

		.icon {
			font-size: $font-size-big;
		}

		> div {
			margin: 0 $sapphire-sizes--medium;
			width: min-content;
		}
	}

	&__Header {
		background-color: $regular-white;
		border-bottom: 1px solid $light-grey;
	}

	&__Footer {
		border-top: 1px solid $light-grey;
	}

	&__Header,
	&__Footer {
		align-items: center;
		display: flex;
		height: 64px;
		padding: 0 $sapphire-sizes--large;
	}

	&__Content {
		.iframeContainer {
			height: 100% !important;
			overflow: hidden !important;
			width: 100% !important;
		}
	}
}

.AcessCodeBox {
	background-color: $regular-white;
	border-radius: $border-radius-default;
	font-family: $font-family-latin-bold;
	font-size: $font-size-heading3;
	letter-spacing: 3.2px;
	padding: $sapphire-sizes--small;
}

.SignatureStatusAlert {
	align-items: center;
	background-color: $regular-zeta;
	border-radius: 0 0 $border-radius-default $border-radius-default;
	display: inline-flex;
	font-family: $font-family-latin-bold;
	height: 36px;
	left: 50%;
	max-height: 0;
	overflow: hidden;
	padding: 0 $sapphire-sizes--large;
	position: absolute;
	top: 120px;
	transform: translateX(-50%);
	transition: max-height 0.15s ease-in;
	z-index: 9;

	.icon {
		background-color: $regular-white;
		border-radius: 50%;
		color: $regular-alpha;
		font-size: $font-size-heading3;
		margin-right: $sapphire-sizes--small;
	}

	&--visible {
		max-height: 36px;
		transition: max-height 0.25s ease-in;
	}

	&--pending {
		background-color: $light-yellow;

		.icon {
			color: $regular-orange;
		}
	}
}

.LayoutScanCode,
.tablet .LayoutScanCode {
	overflow: hidden;

	&--modeOnlyCode & {
		&__ModeOptions {
			display: none;
		}
	}

	&__Splash {
		align-items: center;
		background-color: $regular-alpha;
		color: $regular-white;
		display: flex;
		font-size: 80px;
		height: 100vh;
		justify-content: center;
		position: absolute;
		width: 100vw;
		z-index: 2;
	}

	&__Content {
		color: $regular-white;
		height: 100vh;
		position: absolute;
		width: 100vw;
		z-index: 1;

		&.ModeAccessCode {
			background-image: linear-gradient(135deg, $regular-alpha 0%, #068977 100%);

			&::before {
				background-color: $dark-grey;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				opacity: 0.3;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: -1;
			}

			.LayoutScanCode__Info {
				transform: translateY(calc(-50% - 125px));

				&.AccessCodeInvalid {
					transform: translateY(calc(-50% - 160px));
				}
			}

			.LayoutScanCode__ModeOptions {
				transform: translateY(calc(-50% + 125px));

				&.AccessCodeInvalid {
					transform: translateY(calc(-50% + 160px));
				}
			}
		}

		&.QRCodeInvalid {
			.LayoutScanCode__QRCodeInvalid {
				display: block;
				padding: $sapphire-sizes--small $sapphire-sizes--medium;
			}

			.LayoutScanCode__ModeOptions {
				transform: translateY(calc(-50% + 230px));
			}
		}
	}

	&__Logo {
		align-items: center;
		display: flex;
		font-family: $font-family-latin-bold;
		padding: 0 $sapphire-sizes--large;
		padding-top: 12px;

		.icon {
			font-size: $font-size-big;
		}

		> div {
			margin: 0 $sapphire-sizes--medium;
			width: min-content;
		}
	}

	&__Info,
	&__ModeOptions,
	&__QRCodeInvalid {
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100vw;
	}

	&__Info {
		transform: translateY(calc(-50% - 210px));

		> span.TextLarge {
			display: inline-block;
			max-width: 400px;
		}
	}

	&__AccessCode {
		@include absolute-center();

		border-radius: $border-radius-medium;
		overflow: hidden;
		width: 275px;

		&.AccessCodeInvalid {
			input[type='tel'],
			input[type='tel']:focus {
				border-color: $regular-red;
			}

			div[ui='code-validation-message'] {
				max-height: 500px;
				padding: $sapphire-sizes--small $sapphire-sizes--medium;
				transition: max-height 0.25s ease-in;
			}
		}

		div[ui='input-code-container'] {
			@include flex-center-total();

			background-color: $regular-white;
			padding: $sapphire-sizes--xlarge 28px;

			.AR & {
				input:not(:first-of-type) {
					margin-left: 0;
					margin-right: $sapphire-sizes--small;
				}
			}

			input {
				border-color: $regular-grey;
				border-radius: $border-radius-default;
				font-family: $font-family-latin-bold;
				font-size: $font-size-heading1;
				height: 56px;
				text-align: center;
				transition: all 0.1s ease-in;
				width: 100%;

				&:focus {
					border-color: $regular-alpha;
				}

				&:not(:first-of-type) {
					margin-left: $sapphire-sizes--small;
					margin-right: 0;
				}

				&.ColorAlphaBorder {
					border-color: $regular-alpha;
				}
			}
		}

		div[ui='code-validation-message'] {
			background-color: $regular-red;
			max-height: 0;
			overflow: hidden;
			text-align: center;
			transition: max-height 0.15s ease-out;
		}
	}

	&__ModeOptions {
		transform: translateY(calc(-50% + 210px));

		.ButtonGroupFilters .ButtonGroup_button.Button.Button {
			&.active {
				background-color: $regular-alpha;
				box-shadow: 0 0 0 1px $regular-alpha;
			}

			height: 34px;
			min-height: 34px;
			padding: 0 $sapphire-sizes--large;
		}
	}

	&__QRCodeInvalid {
		background-color: $regular-red;
		border-radius: 0 0 $border-radius-medium $border-radius-medium;
		display: none;
		left: 50%;
		max-width: 256px;
		transform: translateY(calc(-50% + 130px)) translateX(-50%);
	}

	#qrreader {
		video {
			height: 100vh;
			object-fit: cover;
		}

		#qr-shaded-region {
			opacity: 0;
		}
	}
}

.ScanOverlay {
	box-shadow: 0 0 0 9999px rgba(51, 51, 51, 0.7);
	height: 250px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	z-index: 0;

	&::before {
		border-radius: $border-radius-medium;
		box-shadow: 0 0 0 3px $regular-white;
		content: '';
		display: block;
		height: 250px;
		width: 250px;
	}

	&--correctCode {
		&::before {
			box-shadow: 0 0 0 3px $regular-alpha;
		}
	}

	&--incorrectCode {
		&::before {
			box-shadow: 0 0 0 3px $regular-red;
		}
	}
}
