@use '../00-settings/colors' as *;
@use '../00-settings/borders' as *;
@use '../00-settings/sizes' as *;

.HospitalizationPage {
	.PersonCard .CardAll {
		min-width: 250px;
	}
}

.QuickNotes,
.QuickProblems {
	background-color: $body-color;
	border: 1px solid $light-grey;
	border-radius: $border-radius-default;
	padding: $sapphire-sizes--medium;
}
