@use 'clinical-documents' as *;
@use 'clinician-home-ui' as *;
@use 'dashboard-ui' as *;
@use 'eletronic-signature' as *;
@use 'hospitalization' as *;
@use 'investigations' as *;
@use 'monograph' as *;
@use 'patient_details' as *;
@use 'print-ui' as *;
@use 'remote-appointment' as *;
@use 'template-usage' as *;
@use 'timeline' as *;
@use 'weight-based-calculator' as *;
@use 'worklists' as *;
@use 'pharma-stock-send-toreview' as *;