@use '../00-settings/sizes' as *;
@use '../00-settings/colors' as *;
@use '../00-settings/borders' as *;

.MonographWarning {
	padding: $sapphire-sizes--small 0;

	+ iframe {
		background-color: $body-color;
		border-radius: $border-radius-medium;
	}
}
