.WorklistPageHeader {
	background-color: $body-color;
	padding-bottom: $sapphire-sizes--medium;
	padding-top: $sapphire-sizes--large;
	position: sticky;
	top: 64px;
	z-index: 2;
}

.WorklistPageContent {
	.ShiftTableRow {
		min-height: 68px;
	}

	.ShiftTableRow .ShiftTableRow:hover {
		background-color: $regular-eta;
		cursor: pointer;

		.ShiftTableRow__Content {
			background-color: $regular-eta;
		}
	}

	.ShiftTableRow__Left {
		padding-bottom: $sapphire-sizes--small;
		padding-top: $sapphire-sizes--small;
		justify-content: center;
	}

	.ShiftTableCell {
		padding: $sapphire-sizes--small;
	}

	.ShiftTableCardEmpty {
		height: 100%;
		gap: 0;
	}

	.CollapsibleSidePanel__Content {
		@include shadow-small;
	}

	// .CollapsibleSidePanel__PanelHeader {
	// 	background-color: $regular-white;
	// 	position: sticky;
	// 	top: 0;
	// 	z-index: 1;
	// }

	.CollapsibleSidePanel__PanelContent {
		overflow-x: hidden;
	}
}
