@use '../00-settings/colors' as *;
@use '../00-settings/sizes' as *;

@use '../01-tools/box-shadow' as *;

.WorklistPageHeader {
	background-color: $body-color;
	padding-bottom: $sapphire-sizes--medium;
	padding-top: $sapphire-sizes--large;
	position: sticky;
	top: 64px;
	z-index: 2;
}

.WorklistPageContent {
	.ShiftTableRow {
		min-height: 68px;
	}

	.ShiftTableRow .ShiftTableRow:hover {
		background-color: $regular-eta;
		cursor: pointer;

		.ShiftTableRow__Content {
			background-color: $regular-eta;
		}
	}

	.ShiftTableRow__Left {
		justify-content: center;
		padding-bottom: $sapphire-sizes--small;
		padding-top: $sapphire-sizes--small;
	}

	.ShiftTableCell {
		padding: $sapphire-sizes--small;
	}

	.ShiftTableCardEmpty {
		gap: 0;
	}

	.LineCardList > .icon {
		font-size: 16px;
	}

	.CollapsibleSidePanel__Content {
		@include shadow-small;
	}

	.CollapsibleSidePanel__PanelContent {
		overflow-x: hidden;
	}
	//worklists item detail panel
	.CollapsibleSidePanel__PanelFooter .ReverseList {
		display: flex;
		flex-direction: column;
		max-height: 200px;
		background-color: #F9F9F9;
	}

	.CollapsibleSidePanel__PanelFooter .ReverseList.Scrollable::-webkit-scrollbar {
		background-color: #F9F9F9;
	}


}

