.tooltipster-arrow-top .tooltipster-arrow-border,
.tooltipster-arrow-top-right .tooltipster-arrow-border,
.tooltipster-arrow-top-left .tooltipster-arrow-border,
.tooltipster-arrow-top span,
.tooltipster-arrow-top-right span,
.tooltipster-arrow-top-left span {
	bottom: -8px;
}

.tooltipster-arrow-bottom span,
.tooltipster-arrow-bottom-right span,
.tooltipster-arrow-bottom-left span,
.tooltipster-arrow-bottom .tooltipster-arrow-border,
.tooltipster-arrow-bottom-right .tooltipster-arrow-border,
.tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	top: -8px;
}

.tooltipster-arrow-left span,
.tooltipster-arrow-left .tooltipster-arrow-border {
	right: -8px;
}

.tooltipster-arrow-right span,
.tooltipster-arrow-right .tooltipster-arrow-border {
	left: -8px;
}

.tooltip_style .tooltipster-content {
	margin: 0 !important;
	padding: 0 !important;
}

.tooltipster.NoCursor {
	cursor: auto;
}

.TooltipsterLoading {
	background-color: $regular-white;
	height: calc(100% - 8px);
	position: absolute;
	width: calc(100% - 10px);
}

.tooltipster-arrow-left {
	span:not(.tooltipster-arrow-border) {
		border-left-color: $white-grey !important;
	}
}
