@use '../../../00-settings/sizes' as *;

.tooltipstered {
	cursor: default;
	display: inline-block;

	&--pointer {
		cursor: pointer;
	}
}

.TooltipWithCounter {
	display: block;
}

.tooltipstered.balloon {
	cursor: pointer;
}

.tooltip_style .tooltipster-content {
	font-size: 14px;
	line-height: 16px;
	overflow: hidden;
	padding: $sapphire-sizes--small $sapphire-sizes--medium;
}
