// Go to 06-helpers/_colors.scss to see the new classes
.Beige {
	background-color: $regular-beige;
}

.DarkBeige {
	background-color: $dark-beige;
}

.Black {
	background-color: $regular-black;
}

.BlueLight {
	background-color: $light-blue;
}

.BlueNavy {
	background-color: $light-blue;
}

.Blue {
	background-color: $regular-blue;
}

.DarkBlue {
	background-color: $dark-blue;
}

.DarkPlum {
	background-color: $dark-pink;
}

.DarkRed {
	background-color: $dark-red;
}

.Grey,
.Gray {
	background-color: $regular-grey;
}

.Green {
	background-color: $regular-green;
}

.LightGreen {
	background-color: $light-green;
}

.LightRed {
	background-color: $light-red;
}

.LightYellow {
	background-color: $light-yellow;
}

.PinkLight {
	background-color: $light-pink;
}

.Orange {
	background-color: $regular-orange;
}

.LightOrange {
	background-color: $light-orange;
}

.DarkOrange {
	background-color: $dark-orange;
}

.Plum {
	background-color: $regular-pink;
}

.Red {
	background-color: $regular-red;
}

.Silver {
	background-color: $light-grey;
}

.SapphireSilver {
	background-color: $body-color;
}

.Turquoise {
	background-color: $regular-blue;
}

.LightTurquoise {
	background-color: $light-blue;
}

.White {
	background-color: $regular-white;
}

.Yellow {
	background-color: $regular-yellow;
}

.BodyColor {
	background-color: $body-color;
}

.SapphireBlue {
	background-color: $sapphire-blue;
}

.SapphireBlue2 {
	background-color: $regular-alpha;
}

.SapphireClinician,
.clinicianBackground-bg {
	background-color: $light-grey;
}

.SapphireDarkBlue1 {
	background-color: $dark-grey;
}

.SapphireDarkBlue2 {
	background-color: $sapphire-dark-blue;
}

.SapphireDarkGrey {
	background-color: $regular-grey;
}

.SapphireDarkText {
	background-color: $dark-grey;
}

.SapphireMale {
	background-color: $dark-blue;
}

.SapphireFemale {
	background-color: $light-pink;
}

.SapphireInactive {
	background-color: $mid-light-grey;
}

.SapphireLightBoard {
	background-color: $light-grey;
}

.SapphireLightContainer {
	background-color: $sapphire-light;
}

.SapphireLightText {
	background-color: $body-color;
}

.SapphireWarning {
	background-color: $regular-red;
}

.ControlledActive {
	background-color: $controlled-active;
}

.ControlledDisabled {
	background-color: $controlled-disabled;
}
