.tablet .BaseFont40,
.BaseFont40 {
  font-size: 40px;

  select,
  a.Button,
  input[type] {
    font-size: 40px;
    line-height: normal;
    min-height: 80px;
  }

  a.Button {
    align-items: center;
    display: flex !important;
    height: auto !important;
    justify-content: center;
    line-height: 1.1em !important;
    white-space: unset !important;
  }

  &.container {
    margin-bottom: 10px;
  }

  .SegmentedControl {
    font-size: 1em;

    .SegmentedControlItem {
      font-size: 1em;

      label {
        line-height: unset;
      }
    }
  }
}