@use '../00-settings/sizes' as *;

.GraphStructure {
	display: flex;
	gap: $sapphire-sizes--medium;

	&__Box {
		min-width: 215px;
		width: 215px;
	}

	&__Graph {
		display: flex;
		flex: 1;
		justify-content: center;
	}

	.Card {
		height: 100%;
	}
}
