@use 'display/styles' as *;
@use 'margin/styles' as *;
@use 'padding/styles' as *;
@use 'visibility/styles' as *;
@use 'agenda_patient_status' as *;
@use 'background-color' as *;
@use 'base-font40' as *;
@use 'card-all' as *;
@use 'gallery' as *;
@use 'graph-structure' as *;
@use 'richWidget-input-autocomplete' as *;
@use 'session-list' as *;
@use 'vertical-separator' as *;