.DragDrop {
	&-area {
		position: relative;

		&.DragDrop-skin-Teams {
			&:before {
				border-left: 2px dashed $light-grey;
				content: '';
				display: block;
				height: 100%;
				left: 50%;
				position: absolute;
				width: 5px;
			}

			.hovered {
				background-color: $light-beige;
			}

			.DragDrop-draggable {
				background-color: $body-color;
				border-radius: $border-radius-medium;
				display: inline-block;
				min-height: 70px;
				overflow: hidden;
				padding: $sapphire-sizes--medium;
				padding-right: 40px;
				width: 300px;

				&.ui-draggable-dragging {
					cursor: move;
					transform: rotate(4deg);
					z-index: 1;
				}

				&.selected {
					background-color: $regular-alpha;
				}
			}

			.DragDrop-draggable-placeholder {
				display: inline-block;
				height: 70px;
				padding: 10px;
				width: 300px;
			}
		}

		&.DragDrop-skin-HorizontalFullWidth {
			.DragDrop-droppable {
				min-height: auto;
			}

			.DragDrop-draggable {
				display: block;
				width: 100%;
			}

			.DragDrop-draggable-placeholder {
				display: block;
				width: 100%;
			}
		}

		.PersonCard .PersonCard_header {
			overflow: hidden;
			padding-right: $sapphire-sizes--medium;
		}
	}

	&-droppable {
		min-height: 100px;
		width: 100%;

		&.isOpen {
			.DragDrop-droppable-items {
				display: flex;
				flex-wrap: wrap;
				gap: $sapphire-sizes--small;
			}
		}

		&.allowMultiple {
			.DragDrop-draggable {
				padding: $sapphire-sizes--medium 40px;

				input[type='checkbox'] {
					display: block;
				}
			}
		}

		&-header {
			padding: $sapphire-sizes--medium;
		}

		&-intro {
			padding: $sapphire-sizes--medium;
		}

		&-items {
			display: none;

			.Heading3 {
				padding-left: $sapphire-sizes--medium;
			}
		}
	}

	&-draggable {
		position: relative;

		&:before {
			color: $regular-grey;
			content: '\e656';
			font-family: $font-family-icons;
			font-size: $font-size-heading1;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}

		&:hover {
			//box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
			cursor: move;
		}

		&.ui-draggable-disabled,
		&.ui-draggable-disabled:hover {
			box-shadow: none;
			cursor: unset;
		}

		&.ui-draggable-disabled:before {
			display: none;
		}

		&.selected {
			background-color: $regular-alpha;
			color: $regular-white;
		}

		input[type='checkbox'] {
			display: none;
			left: 12px;
			position: absolute;
			top: 20px;
		}

		.DragDrop-draggable-select-action a {
			bottom: 0;
			display: block;
			height: 1px;
			left: 0;
			position: absolute;
			width: 1px;
		}

		.DragDrop-draggable-placeholder {
			border: dashed 1px $light-grey;
			margin: 5px;
		}
	}
}

.DragDropExpandable {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: $border-radius-medium;

	&--open {
		.DragDrop {
			&-droppable-header {
				[ui='data-expandable-icon'] {
					span.icon {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	.DragDrop {
		&-droppable-header {
			border-bottom: 1px solid $light-grey;
			padding: $sapphire-sizes--medium;

			> div {
				@include flex-center-vertically;
			}

			[ui='data-expandable-icon'] {
				span {
					@include arrow-button($regular-alpha, 20px, $font-size-tiny);
				}
			}
		}

		&-droppable-items {
			padding: $sapphire-sizes--medium;
		}
	}
}

.tablet {
	.DragDrop-skin-Teams.DragDrop-area:before {
		display: none;
	}
}
