/* stylelint-disable CssSyntaxError */
// Colors
//
// .Alpha                 : #00BFA5 - $regular-alpha
// .Beta                  : #00AC94 - $regular-beta
// .Gamma                 : #006758 - $regular-gamma
// .Delta                 : #00433A - $regular-delta
// .Epsilon               : #56D3C2 - $regular-epsilon
// .Zeta                  : #C4F0EB - $regular-zeta
// .Eta                   : #F2FFFD - $regular-eta

// .Blue                  : #1BA5EC - $regular-blue
// .LightBlue             : #D7EFFC - $light-blue
// .DarkBlue              : #194968 - $dark-blue

// .Red                   : #FF3E2D - $regular-red
// .LightRed              : #FCE3E3 - $light-red
// .DarkRed               : #B10100 - $dark-red

// .Green                 : #7CB342 - $regular-green
// .LightGreen            : #E7F2DC - $light-green
// .DarkGreen             : #578329 - $dark-green

// .Yellow                : #FBC02D - $regular-yellow
// .LightYellow           : #FFEAB5 - $light-yellow
// .DarkYellow            : #C19323 - $dark-yellow

// .Orange                : #FFA000 - $regular-orange
// .LightOrange           : #FCC891 - $light-orange
// .DarkOrange            : #C37B03 - $dark-orange

// .Pink                  : #EC62CE - $regular-pink
// .LightPink             : #FBE1F6 - $light-pink
// .DarkPink              : #980263 - $dark-pink

// .Beige                 : #E6E2AA - $regular-beige
// .LightBeige            : #F5F4E0 - $light-beige
// .DarkBeige             : #928D09 - $dark-beige

// .White                 : #FFFFFF - $regular-white
// .WhiteGrey             : #F9F9F9 - $white-grey
// .BodyColor             : #F3F3F3 - $body-color
// .SapphireLightContainer: #EBEBEB - $sapphire-light
// .LightGrey             : #D6D6D6 - $light-grey
// .MidLightGrey          : #ADADAD - $mid-light-grey
// .Grey                  : #777777 - $regular-grey
// .MidDarkGrey           : #5C5C5C - $mid-dark-grey
// .DarkGrey              : #333333 - $dark-grey
// .Black                 : #131819 - $regular-black

// .SapphireBlue          : #2A5A6E - $sapphire-blue
// .SapphireDarkBlue      : #30384A - $sapphire-dark-blue
// .SapphireGreyBlue      : #494F5C - $sapphire-grey-blue

// ------------------------------------->

// .BlueLight             : #C4F0EB - Changed to C4F0EB    LightBlue Deprecated
// .BlueNavy              : #C4F0EB - Changed to C4F0EB    LightBlue  Deprecated
// .Brown                 : #ca2c92 - Deprecated
// .DarkPlum              : #ca2c92 - Deprecated
// .Gray                  : #79868A - Deprecated
// .Light                 : #ca2c92 - Deprecated
// .LightTurquoise        : #C4F0EB - Changed to C4F0EB  LightBlue Deprecated
// .PinkLight             : #CA2C92 - Deprecated
// .Plum                  : #C32B87 - Changed to Pink Deprecated
// .SapphireBackground    : #F3F3F3 - Changed to BodyColor Deprecated
// .SapphireBlue2         : #00BFA5 - Changed to Alpha Deprecated
// .SapphireClinician     : #D6D6D6 - Changed to lightGrey Deprecated
// .SapphireDarkBlue1     : #333333 - Changed to DarkGrey Deprecated
// .SapphireDarkBlue2     : #30384A - Changed to SapphireDarkBlue Deprecated
// .SapphireDarkGrey      : #858585 - Changed to Grey Deprecated
// .SapphireDarkText      : #333333 - Changed to DarkGrey Deprecated
// .SapphireFemale        : #C892B3 - Changed to LightPink Deprecated
// .SapphireInactive      : #ADADAD - Changed to MidLightGrey Deprecated
// .SapphireLight         : #EBEBEB - Changed to SapphireLightContainer Deprecated
// .SapphireLightBoard    : #D6D6D6 - Changed to LightGrey Deprecated
// .SapphireLightText     : #F3F3F3 - Changed to BodyColor Deprecated
// .SapphireLightText2    : #ca2c92 - Deprecated
// .SapphireMale          : #194968 - Changed to DarkBlue Deprecated
// .SapphireSilver        : #F3F3F3 - Changed to BodyColor Deprecated
// .SapphireWarning       : #FF3E2D - Changed to Red Deprecated
// .SapphireWhite         : #FFFFFF - Changed to white Deprecated
// .Silver                : #D6D6D6 - Changed to LightGrey Deprecated
// .Transparent           : #ca2c92 - Deprecated
// .Turquoise             : #039BE5 - Changed to Blue Deprecated

// Style guide: Colors

$regular-alpha: #00bfa5;
$regular-beta: #00ac94;
$regular-gamma: #006758;
$regular-delta: #00433a;
$regular-epsilon: #56d3c2;
$regular-zeta: #c4f0eb;
$regular-eta: #f2fffd;

$dark-red: #b10100;
$regular-red: #ff3e2d;
$light-red: #fce3e3;

$dark-blue: #194968;
$regular-blue: #1ba5ec;
$light-blue: #d7effc;

$dark-green: #578329;
$regular-green: #7cb342;
$light-green: #e7f2dc;

$dark-yellow: #c19323;
$regular-yellow: #fbc02d;
$light-yellow: #ffeab5;

$dark-orange: #c37b03;
$regular-orange: #ffa000;
$light-orange: #fcc891;

$dark-pink: #980263;
$regular-pink: #ec62ce;
$light-pink: #fbe1f6;

$dark-beige: #928d09;
$regular-beige: #e6e2aa;
$light-beige: #f5f4e0;

$regular-white: #fff;
$white-grey: #f9f9f9;
$body-color: #f3f3f3;
$sapphire-light: #ebebeb;
$light-grey: #d6d6d6;
$mid-light-grey: #adadad;
$regular-grey: #777777;
$mid-dark-grey: #5c5c5c;
$dark-grey: blue; //#333333;
$regular-black: #131819;

$sapphire-blue: #2a5a6e;
$sapphire-dark-blue: #30384a;
$sapphire-grey-blue: #494f5c;

// Text Colors
$text-color-regular: $dark-grey;
$text-color-dark: $regular-black;
$text-color-light: $mid-dark-grey;

// Disabled State
$border-color-disabled: $light-grey;
$background-disabled: $sapphire-light;
$label-color-disabled: $mid-light-grey;
$text-color-disabled: $regular-grey;
