$host-name: '';
$host-name: 'https://dev.nordicplatforms.com';

$icon-arrow-up-down: $host-name + '/Sapphirev2_Th/img/upDownArrows.png';
$icon-arrow-sideBar: $host-name + '/Sapphirev2_Th/img/sidebarArrow.png';