.display-none {
	display: none;
}

.display-block {
	display: block;
}

.display-flex {
	display: flex;
}

.display-contents {
	display: contents;
}

.display-inline-block {
	display: inline-block;
}

span[id$='FakeNotify_block'] {
	display: contents;
}

.flex-1 {
	flex: 1;
}

.min-width-0 {
	min-width: 0;
}

.ellipsis-line {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
