@use '../../../../components/00-settings/colors' as *;
@use '../../../../assets/variables' as *;

.SapphireSearchControl {
	display: table;
	position: relative;
}

.SapphireSearch {
	&_show {
		margin-left: 40px !important;
	}

	&_show,
	&_clear {
		display: table-cell;
		padding: 0 10px 0 0;
		vertical-align: middle;

		a {
			color: $regular-beta;
			cursor: auto;
			font-size: 16px;
			font-weight: 600 !important;
			line-height: 19px;
		}
	}

	&_input {
		display: table-cell;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		margin-right: 42px;
		padding-right: 40px;
		position: relative;

		&:after {
			color: $regular-grey;
			content: '\e690';
			font-family: $font-family-icons;
			font-size: 17px;
			left: 16px;
			line-height: 0;
			position: absolute;
			top: 22px;
			transform: scale(-1, 1);
		}

		&.expanded {
			&:after {
				line-height: 0;
				top: 22px;
			}

			+ .SapphireSearch_search {
				display: inline-block;
			}

			+ .SapphireSearch_close.show {
				border-radius: 50%;
				cursor: auto;
				left: 310px;
				opacity: 1;
				pointer-events: none;
				position: absolute;
				top: 8px;
				visibility: visible;
			}
		}

		input[type='text'] {
			background-color: #f5f5f5;
			border: 1px solid #d6d6d6;
			border-radius: 100px;
			color: #adadad;
			font-size: 16px;
			font-style: italic;
			height: 42px;
			line-height: 43px;
			min-width: 340px;
			padding-left: 46px;
			padding-right: 14px;

			&.expanded {
				background-color: #fff;
				border: 2px solid #00bfa5;
				border-radius: 100px;
				caret-color: #00bfa5;
				color: #333;
				font-style: normal;
				font-weight: 400;
				height: 42px;
				padding-right: 34px;
				width: 340px;

				&::placeholder {
					color: transparent;
				}
			}
		}
	}

	&_more a,
	&_reset a {
		text-decoration: underline;
	}

	&_close {
		border-radius: 50%;
		cursor: pointer;
		left: 310px;
		opacity: 1;
		opacity: 0;
		position: absolute;
		top: 8px;
		transition: visibility 1s, opacity 0s linear;
		visibility: hidden;

		.CancelSearch {
			cursor: pointer;
		}
	}
}
