.CounterBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 85px;
	min-width: 90px;
	position: relative;

	&.Primary {
		background-color: $regular-white;
	}

	&.Secondary {
		background-color: $body-color;
	}

	&_row {
		color: $text-color-regular;
		text-align: center;

		&.Primary {
			color: $regular-green;
		}

		&.Secondary {
			color: $regular-red;
		}
	}

	&__number {
		font-family: $font-family-latin-bold;
		font-size: $font-size-heading1;
		text-align: center;
	}

	&__label {
		color: $regular-grey;
		font-size: $font-size-small;
	}

	&__tooltip {
		position: absolute;
		right: 5px;
		top: 6px;

		&.NoInfo {
			display: none;
		}
	}
}
