@use '../../../00-settings/sizes' as *;
@use '../../../00-settings/colors' as *;

@use '../../../05-components/webpatterns/dropdown-menu/_styles' as *;

.InputWithList {
	position: relative;
	&__Input {
		input {
			width: 100%;
		}
	}

	&__List {
		@extend .DropdownMenu;

		margin-top: $sapphire-sizes--xsmall;
		width: 100%;

		> div {
			cursor: pointer;
			line-height: 36px;
			padding: 0 $sapphire-sizes--small;

			&:hover {
				background-color: $regular-eta;
			}
		}
	}
}
