.CardBox {
	background: $regular-white;
	border-radius: $border-radius-default;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	max-width: 250px;
	min-height: 125px;
	padding: 10px;
	width: 100%;

	&.CardSmall {
		min-height: 45px;
		min-width: 20px;
		padding: 0 3px;

		.CardCount {
			font-size: 1.143em;
			line-height: 20px;
		}

		.Info {
			min-height: 2px;
		}

		.CardDescription {
			font-weight: 700;
		}

		.CardDescription,
		.BottomCardDescription {
			font-size: 0.786em;
			line-height: 20px;
			padding: 0;
		}
	}

	&.CardMedium {
		margin: 0;
		min-height: 68px;
		min-width: 70px;
		padding: 3px;

		.CardCount {
			font-size: 1.714em;
			line-height: 30px;
		}

		.Info {
			min-height: 9px;
		}

		.CardDescription,
		.BottomCardDescription {
			font-size: 0.857em;
		}
	}

	&.CardLarge {
		min-width: 160px;
	}

	&.FullWidth {
		width: 100%;
	}

	&.ColorRed {
		background-color: $light-red;
		border: none;

		.CardCount {
			color: $dark-red;
		}
	}

	&.ColorBeige {
		background-color: $light-beige;
		border: none;

		.CardCount {
			color: $dark-beige;
		}
	}

	&.ColorGreen {
		background-color: $light-green;
		border: none;

		.CardCount {
			color: $dark-green;
		}
	}

	&.ColorOrange {
		background-color: $light-orange;
		border: none;

		.CardCount {
			color: $dark-orange;
		}
	}

	&.ColorGrey {
		background-color: $light-grey;
		border: none;

		.CardCount {
			color: $regular-grey;
		}
	}

	&.ColorOtherGrey {
		background-color: $sapphire-light;
		border: none;

		.CardCount {
			color: $regular-grey;
		}
	}

	&.CardTransparency {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	&.Selected {
		box-shadow: inset 0 0 10px $regular-epsilon !important;

		.CardCount {
			color: $regular-white;
		}
	}

	.Info {
		min-height: 12px;
		padding: 2px 0 0 2px;
	}

	.CardCount {
		color: $regular-beta;
		font-size: 2.143em;
		line-height: 35px;
		text-align: center;
	}

	.CardDescription {
		color: $regular-grey;
		font-size: 1em;
		margin-top: 6px;
		text-align: center;
	}

	.CardNotes {
		color: $regular-grey;
		line-height: 12px;
		text-align: center;
	}

	.AppointementCard {
		color: $dark-grey;
		font-size: 1.143em;
		line-height: 35px;
		margin-left: 0;
		margin-right: 5px;
		max-width: 90px;

		.DoubleText > div {
			line-height: 100%;
		}
	}

	.BottomCardDescription {
		color: $regular-grey;
		font-size: 1.143em;
		text-align: center;
	}
}

.CardBoxFilters {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: 100px;
	display: inline-flex;
	gap: 1px;

	div.CardBox {
		align-items: center;
		background-color: $regular-white;
		border-radius: 100px;
		box-shadow: none;
		flex-direction: row;
		min-height: 34px;
		padding: 0 $sapphire-sizes--medium;
		width: auto;

		&.CardSmall.Selected,
		&.CardMedium.Selected {
			background-color: $mid-dark-grey;
			box-shadow: none !important;

			.CardCount {
				color: $regular-white;
				font-size: 1.286em;
			}

			.CardDescription,
			.BottomCardDescription {
				color: $regular-white;
				font-size: 1em;
				text-shadow: 0 0 1px $regular-white;
			}
		}

		&:hover {
			background-color: $sapphire-light;
		}

		.CardCount {
			color: $dark-grey;
			font-family: $font-family-latin-bold;
			font-size: $font-size-heading4;
			line-height: 20px;
		}

		.CardDescription,
		.BottomCardDescription {
			color: $regular-grey;
			font-size: 1em;
			height: 20px;
			margin: 0;
			order: -1;

			&::after {
				content: ' \00B7';
				display: inline-block;
				font-size: 0.786em;
				margin: 0 $sapphire-sizes--xsmall;
			}
		}
	}
}

.AR,
.FA {
	.CardBox {
		.Info {
			padding: 2px 2px 0 0;
		}

		.CardNotes {
			font-size: 1.143em;
		}
	}
}
