.MainInteractiveCard--no-max-height {
	>.MainInteractiveCard-header .MainInteractiveCard-header-text-title {
		max-height: unset;
	}

	&.XSmallHeader.isOpen>.MainInteractiveCard-header {
		height: auto;
	}

	&.hasFloater.isOpen>.MainInteractiveCard-header .MainInteractiveCard-header-text-title {
		max-height: unset;
	}
}

.MainInteractiveCard--no-max-height {
	>.MainInteractiveCard-floater {
		.MainInteractiveCard-iframe-actions.MultiMarginTopMedium.XSmall {
			height: auto;
		}
	}
}

.MainInteractiveCard.isOpen {
	.maininteractivecard--hide-when-open {
		display: none;
	}
}