$card-xsmall-size-base: $sapphire-sizes--largest;
$card-small-size-base: $sapphire-sizes--largest + 20px;
$card-medium-size-base: $sapphire-sizes--largest + 30px;

.MainInteractiveCard {
	background-color: $background-disabled;
	border: 1px solid $light-grey;
	border-radius: $border-radius-medium;
	position: relative;

	&.isEnabled {
		background-color: $regular-white;
		border-color: $light-grey;
	}

	&.isOpen {
		border-color: $regular-alpha;

		.MainInteractiveCard-header {
			border-bottom: 1px solid $light-grey;

			.MainInteractiveCard-expand-icon {
				transform: rotate(180deg);
			}

			.MainInteractiveCard-header-text {
				overflow: hidden;
				
				.HasContent{
					display: none;
				}

			}
		}

		// To avoid changes in nested cards
		> div > .MainInteractiveCard-body {
			.MainInteractiveCard-absolute-actions {
				display: block;
			}
		}
	}

	&.CardEmpty {
		.MainInteractiveCard-header {
			@include flex-custom-align($align: center, $justify: flex-start, $type: flex);
		}
	}

	// &.isSelectable {
	// 	> .MainInteractiveCard-header {
	// 		gap: $sapphire-sizes--medium;
	// 	}
	// }

	&.hasFloater {
		&.isOpen {
			> .MainInteractiveCard-header {
				.MainInteractiveCard-header-text {
					max-width: 70%;
				}

				.MainInteractiveCard-header-text-title {
					max-height: 32px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 100%;
				}
			}
		}
	}

	&.allowOpening {
		> .MainInteractiveCard-header .MainInteractiveCard-header-text {
			cursor: pointer;
		}
	}

	&.forceOpen {
		> div > .MainInteractiveCard-body {
			display: block !important;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&.XSmallHeader {
		&.isOpen {
			min-height: $card-xsmall-size-base;

			> .MainInteractiveCard-header {
				height: $card-xsmall-size-base;
			}

			> .MainInteractiveCard-floater {
				margin-bottom: -$card-xsmall-size-base;
			}
		}

		> .MainInteractiveCard-floater {
			top: -$card-xsmall-size-base;
		}

		.iframe-loading {
			margin-top: $card-xsmall-size-base;
		}
	}

	&.SmallHeader {
		&.isOpen {
			min-height: $card-small-size-base;

			> .MainInteractiveCard-header {
				height: $card-small-size-base;
			}

			> .MainInteractiveCard-floater {
				margin-bottom: -($card-small-size-base);
			}
		}

		> .MainInteractiveCard-floater {
			top: -($card-small-size-base);
		}

		> div > .MainInteractiveCard-body {
			.MainInteractiveCard-absolute-actions {
				line-height: $card-small-size-base;
				top: 0px;
			}
		}

		.iframe-loading {
			margin-top: $card-small-size-base;
		}
	}

	&.MediumHeader {
		&.isOpen {
			min-height: $card-medium-size-base;

			> .MainInteractiveCard-header {
				height: $card-medium-size-base;
			}

			> .MainInteractiveCard-floater {
				margin-bottom: -$card-medium-size-base;
			}
		}

		> .MainInteractiveCard-floater {
			top: -$card-medium-size-base;
		}

		.MainInteractiveCard.MediumHeader.isOpen .iframe-loading {
			margin-top: $card-medium-size-base;
		}
	}

	&.NoneHeader {
		&.isOpen {
			> .MainInteractiveCard-header {
				height: auto;
			}
		}
	}

	&.InitialBorderColor {
		border-color: $light-grey;
	}

	&.GreyHeader {
		.MainInteractiveCard-header {
			background-color: $sapphire-light;
			border-radius: $border-radius-medium;
		}

		&.isOpen {
			.MainInteractiveCard-header {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	&.SmallPadding {
		.MainInteractiveCard-header {
			padding-bottom: $sapphire-sizes--small;
			padding-top: $sapphire-sizes--small;
		}
	}

	.MainInteractiveCard-header {
		@include flex-custom-align($align: flex-start, $justify: flex-start, $type: flex);

		flex-direction: row;
		gap: $sapphire-sizes--medium;
		min-height: $sapphire-sizes--largest;
		padding: $sapphire-sizes--medium;
		pointer-events: none;
		z-index: 1;

		&.HeaderAlignCenterVertical{
			@include flex-custom-align($align: center, $justify: flex-start, $type: flex);
		}

		.MainInteractiveCard-header-icon {
			align-items: center;
			background-color: transparent;
			border: 1px solid $light-grey;
			border-radius: 4px;
			color: $mid-light-grey;
			display: flex;
			height: 32px;
			justify-content: center;
			min-width: 32px;
			width: 32px;

			&__full {
				@extend .MainInteractiveCard-header-icon;

				background-color: $light-green;
				border-color: $light-green;
				color: $regular-green;
			}
		}

		.MainInteractiveCard-expand-icon {
			@include arrow-button($dark-grey, 20px, 0.7em);
			min-width: 20px;

			pointer-events: all;
		}

		.MainInteractiveCard-header-text {
			cursor: auto;
			display: grid;
			flex-grow: 2;
			pointer-events: all;
		}

		.MainInteractiveCard-header-selectable-trigger {
			cursor: pointer;
			pointer-events: all;

			.icon-star {
				color: $regular-grey;

				&:hover {
					color: $regular-alpha;
				}
			}

			.icon-star-full {
				color: $regular-alpha;
			}
		}

		.MainInteractiveCard-header-text-title {
			font-family: $font-family-latin-bold;
			max-height: 24px;
			max-width: 99%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;

			.AR & {
				font-family: $font-family-arabic-bold;
			}
		}

		.MainInteractiveCard-header-text-subtitle {
			line-height: 16px;
		}

		.MainInteractiveCard-header-text-caption {
			color: $regular-grey;
			// display: contents;
		}

		.MainInteractiveCard-header-actions {
			align-items: center;
			display: inherit;
			gap: $sapphire-sizes--small + $sapphire-sizes--xsmall;
			height: fit-content;
			justify-content: flex-end;
			pointer-events: all;
			white-space: nowrap;
		}
	}

	.MainInteractiveCard-intro {
		padding: $sapphire-sizes--medium;
	}

	.MainInteractiveCard-body {
		padding: $sapphire-sizes--medium;

		/* To be used on an embedded Web Block page inside the card */
		.MainInteractiveCard-absolute-actions {
			display: none;
			position: absolute;
			right: $sapphire-sizes--medium;
			top: $sapphire-sizes--medium;

			.AR & {
				left: $sapphire-sizes--medium;
				right: 0;
			}
		}
		/* To be used on an embedded Web Block page inside the card */

		.TextClickable {
			cursor: text;
			display: flex;
			font-size: $font-size-heading4;
			gap: 14px;
			line-height: 1.5;

			&::before {
				color: transparent;
				content: '\e60f';
				font-family: $font-family-icons;
				font-size: $font-size-heading3;
				padding: 0 2px;
			}

			&:hover::before {
				color: $mid-light-grey;
			}
		}
	}

	/* To avoid changes in nested cards */
	> div > .MainInteractiveCard-body {
		display: none;
		width: auto;
	}

	> .MainInteractiveCard-floater {
		position: relative;
		z-index: 0;

		.MainInteractiveCard-body {
			padding-top: 0;
		}
	}
	/* To avoid changes in nested cards */

	.iframe-loading {
		padding-top: $sapphire-sizes--xlarge;
	}
}

.MainInteractiveCard--ellipsis {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.MainInteractiveCard-iframe-actions {
	@include flex-center-vertically();

	margin-bottom: $sapphire-sizes--medium;
	justify-content: flex-end;
	
	&.XSmall {
		height: $card-xsmall-size-base;
	}

	&.Small {
		height: $card-small-size-base;
	}

	&.Medium {
		height: $card-medium-size-base;
	}
}

.CardsWrapper {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: $border-radius-medium;

	&--custom {
		margin-bottom: $sapphire-sizes--small;
		padding-left: $sapphire-sizes--medium;
		padding-right: $sapphire-sizes--medium;

		.CardsWrapper__HeaderCustom {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__Header,
	&__HeaderCustom {
		@include flex-center-vertically();

		background-color: $regular-white;
		border-bottom: 1px solid $light-grey;
		border-radius: $border-radius-medium $border-radius-medium 0 0;
		gap: $sapphire-sizes--medium;
		min-height: 70px;
		padding: $sapphire-sizes--medium;

		.CardIcon {
			height: 40px;
			width: 40px;
		}
	}

	&__HeaderCustom {
		border: none;
	}

	&__HeaderCounter {
		@include flex-center-total(inline-flex);

		background-color: $regular-red;
		border-radius: 80px;
		color: $regular-white;
		font-size: $font-size-tiny;
		height: 20px;
		line-height: $font-size-tiny;
		width: 20px;

		&--grey {
			background-color: $mid-light-grey;
		}
	}

	&__HeaderTitleWrapper {
		display: flex;
		flex: 1;
	}

	&__HeaderTitle {
		@extend .Heading3;

		flex: 1;
	}

	&__Content {
		padding: $sapphire-sizes--medium;

		.ListRecords {
			> * .MainInteractiveCard {
				margin-bottom: $sapphire-sizes--small;
			}

			> *:last-child .MainInteractiveCard {
				margin-bottom: 0;
			}
		}
	}

	&__ContentCustom {
		padding: $sapphire-sizes--medium;

		.ListRecords {
			> * .MainInteractiveCard {
				margin-bottom: $sapphire-sizes--small;
			}

			> *:first-child {
				.MainInteractiveCard {
					&.isOpen::before {
						display: none;
					}
				}
			}

			> *:last-child .MainInteractiveCard {
				margin-bottom: 0;
			}
		}
	}

	.MainInteractiveCard {
		&.isOpen {
			margin: $sapphire-sizes--small 0;

			/*&::after,
			&::before {
				content: '';
				display: block;
				height: 1px;
				position: absolute;
				width: 100%;
			}

			&::before {
				background-color: $light-grey;
				top: -($sapphire-sizes--small + 1px);
				z-index: 1;
			}

			&::after {
				background-color: $regular-white;
				bottom: -2px;
				z-index: 2;
			}*/
		}
	}
}

.CardWarning {
	color: $regular-grey;
	display: flex;
	gap: $sapphire-sizes--medium;

	.icon {
		color: $regular-orange;
		font-size: $font-size-heading4;
		margin: 0 2px;
	}
}

.CardsListGeneric {
	.MainInteractiveCard {
		margin-bottom: $sapphire-sizes--small;

		&.SmallHeader {
			> div > .MainInteractiveCard-body {
				.MainInteractiveCard-absolute-actions {
					line-height: $card-small-size-base - 1px;
				}
			}
		}

		.MainInteractiveCard-header {
			.MainInteractiveCard-header-text-title {
				max-height: unset;
			}
		}

		.MainInteractiveCard-absolute-actions {
			background-color: $regular-white;
		}

		.CardIcon {
			height: 40px;
			min-width: 40px;
		}
	}
}

.CardResetLineHeightTitle {
	.MainInteractiveCard-header-text-title {
		max-height: unset !important;
	}
}

// WIP -------------------------->

.MainInteractiveCard {
	&:not(.isOpen) {
		&.ShowEntireTitle {
			.MainInteractiveCard-header-text-title {
				max-height: initial;
				white-space: unset;
			}
		}
	}
}

.MainInteractiveCard-header-triggerAction-placeholder {
	height: 5px;
	left: 0;
	position: absolute;
	top: 0;
	width: 5px;
}

.MainInteractiveCard-header-selectable.icon-disabled span.icon {
	color: $mid-light-grey;
}

.MainInteractiveCard-header-selectable-placeholder a {
	display: none;
	pointer-events: all;
}

// .MainInteractiveCard-header-actions label[for] {
// 	font-size: 1.1em;
// 	line-height: 1.1em;
// }

.tablet,
.phone {
	.MainInteractiveCard:not(.SmallHeader) {
		.MainInteractiveCard-header {
			flex-direction: column;
		}

		.MainInteractiveCard-header-text {
			flex: none;
			margin-bottom: $sapphire-sizes--medium;
			max-width: none;
			width: 100%;
		}

		.MainInteractiveCard-header-actions {
			display: block;
			flex: none;
			margin-left: 0;
			text-align: right;
			width: 100%;
		}
	}
}
