@use '../../../components/00-settings/colors' as *;

.LayoutBackoffice {
  .LoginWrapper {
    background-color: #fff;
    width: 100%;

    .Columns {
      height: 100%;
      overflow-y: hidden;
    }

    .Columns2>.Column {
      -servicestudio-width: 50%;
      -servicestudio-display: inline-block;
    }

    .Column {
      &.ColFirst {
        background-repeat: no-repeat;
        background-size: contain;
      }

      &.ColLast {
        height: 100vh;
        line-height: 49px;
      }
    }

    &_LeftLogo {
      height: 100vh;
    }

    &___Logo {
      font-size: 27px;
      font-weight: bold;
      line-height: 33px;
    }

    &___Form {
      margin-top: 68px;
    }

    &__LoginBox {
      margin: 0 auto;
      max-width: 250px;
    }
  }

  @mixin login-inputs ($margin-bottom: 29px) {
    margin-bottom: $margin-bottom;
    line-height: 17px;
    color: $mid-dark-grey;
    font-size: 14px;
  }

  .Form_Username {
    @include login-inputs;
  }

  .Form_Password {
    @include login-inputs($margin-bottom: 26px);
  }

  .Form_Actions div:first-child {
    margin-bottom: 42px;
    vertical-align: middle;
  }

  .Form_Actions>div>div {
    margin-left: 10px;
  }
}

/*Desktop  Behavior*/
.desktop.hd .LoginWrapper___Logo {
  margin-top: 225px;
}

.desktop.hd .Form_Actions img {
  margin-top: 251px;
}

.desktop .LoginWrapper___Logo,
.desktop.small .LoginWrapper___Logo {
  margin-top: 50px;
}

.desktop.small .Form_Actions img {
  margin-top: 70px;
}

.desktop .Form_Actions img,
.desktop.big .Form_Actions img {
  margin-top: 170px;
}

/*Tablet and phone Behavior*/
.phone .LoginWrapper__LoginBox {
  transform: translateY(25%);
}

.phone.landscape .LoginWrapper__LoginBox {
  transform: translateY(0);
}

.phone.landscape .Form_Actions div:first-child {
  margin-bottom: 10px;
}

.phone.landscape .LoginWrapper___Form {
  margin-top: 26px;
}

.phone.landscape .LoginWrapper___Logo {
  margin-top: 10px;
}

.tablet .LoginWrapper__LoginBox {
  transform: translateY(50%);
}

.tablet.landscape .LoginWrapper__LoginBox {
  transform: translateY(25%);
}

.phone .LoginWrapper .Column.ColFirst,
.tablet .LoginWrapper .Column.ColFirst {
  display: none;
}

.tablet .LoginWrapper .Column.ColLast {
  width: 100%;
}

.tablet .LoginWrapper___Logo {
  margin-top: 50px;
}

.tablet .Form_Actions img {
  margin-top: 20px;
}