.BreadActionsWrapper {
	background-color: $body-color;
	max-width: 1439px;
	padding-bottom: 20px;
	padding-top: 20px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 3;
}

.MainContent_BreadCrumbs,
.MainContent_actions {
	vertical-align: middle;
}

.MainContent_BreadCrumbs {
	margin-bottom: 20px;
}

.MainContent_actions {
	text-align: right;
}

.Page .MainContent_others {
	max-width: 1439px;
	min-height: 80px;
	top: 0;
	width: 100%;
	padding: 0;
	background-color: #f1f1f1;
	z-index: 2;
}

.MainContent_navigationBar {
	display: block;
	padding-bottom: 20px;
	width: 100%;
}

.Page thead th {
	background: #fff;
	position: sticky;
	top: 0;
	z-index: 1;
}

.LayoutBackoffice {
	.ViewStateCounter {
		color: #999;
		font-size: 11px;
		left: 5px;
		position: fixed;
		top: 0;
	}
}

body {
	direction: ltr !important;
}