ul.os-internal-ui-autocomplete {
	/* Prevent drop down autocomplete be overriden by the popup menu */
	z-index: 100 !important;
}

div.menu-inline-wrapper {
	width: 0;
}

div.menu-inline-wrapper > div.menu-inline {
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #c5cacd;
	-moz-box-shadow: 0 1px 1px #c5cacd;
	box-shadow: 0 1px 1px #c5cacd;
	-servicestudio-min-height: 100px;

	-servicestudio-position: static;
	position: absolute;
	z-index: 2;
}

div.menu-inline-wrapper > div.menu-inline > div.menu-inline-balloon {
	border: solid 12px transparent;
	border-bottom: solid 12px #c5cacd;
	display: block;
	height: 1px;
	left: 5px;
	-servicestudio-position: static;
	position: absolute;
	top: -24px;
	width: 1px;
}

div.menu-inline-wrapper > div.menu-inline > div.menu-inline-balloon:after {
	border: solid 11px transparent;
	border-bottom: solid 10px #fff;
	content: '';
	display: block;

	height: 1px;
	left: -11px;

	-servicestudio-position: static;
	position: absolute;
	top: -9px;
	width: 1px;
}

iframe[data-theme~='full-height'] {
	min-height: calc(var(--parent-height) - var(--iframe-top) - 1px);
}
