.Hidden,
.hidden,
.dontshow {
	display: none !important;
}

.PH:empty {
	display: none !important;
}

@media screen and (max-width: 0), screen and (min-width: 640px) {
	.show-for-small-only {
		display: none !important;
	}
}

@media screen and (min-width: 640px) {
	.hide-for-medium {
		display: none !important;
	}
}

@media screen and (max-width: 639px) {
	.show-for-medium {
		display: none !important;
	}
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
	.hide-for-medium-only {
		display: none !important;
	}
}

@media screen and (max-width: 639px), screen and (min-width: 1025px) {
	.show-for-medium-only {
		display: none !important;
	}
}

@media screen and (min-width: 1025px) {
	.hide-for-large {
		display: none !important;
	}
}

@media screen and (max-width: 1024px) {
	.show-for-large {
		display: none !important;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
	.hide-for-large-only {
		display: none !important;
	}
}

@media screen and (max-width: 1024px), screen and (min-width: 1200px) {
	.show-for-large-only {
		display: none !important;
	}
}

@media only screen and (orientation: portrait) {
	.show-for-portrait,
	.hide-for-landscape {
		display: initial !important;
	}

	.hide-for-portrait,
	.show-for-landscape {
		display: none !important;
	}
}

@media only screen and (orientation: landscape) {
	.show-for-portrait,
	.hide-for-landscape {
		display: none !important;
	}

	.hide-for-portrait,
	.show-for-landscape {
		display: initial;
	}
}
