.NoPadding {
	padding: 0 !important;
}

.NoPaddingTop,
.NoPadding--top {
	padding-top: 0 !important;
}

.NoPaddingBottom,
.NoPadding--bottom {
	padding-bottom: 0 !important;
}

.NoPaddingLeft,
.NoPadding--left {
	padding-left: 0 !important;
}

.NoPaddingRight,
.NoPadding--right {
	padding-right: 0 !important;
}
