@use 'sass:list';

@use '../../00-settings/sizes' as *;

@each $size in $sapphire-sizes {
	$label: list.nth($size, 1);
	$value: list.nth($size, 2);

	.MultiPadding#{$label} {
		padding: #{$value};
	}

	.MultiPaddingLeft#{$label} {
		padding-left: #{$value};
	}

	.MultiPaddingRight#{$label} {
		padding-right: #{$value};
	}

	.MultiPaddingTop#{$label} {
		padding-top: #{$value};
	}

	.MultiPaddingBottom#{$label} {
		padding-bottom: #{$value};
	}

	.AR,
	.FA {
		.MultiPaddingLeft#{$label} {
			padding-left: auto;
			padding-right: #{$value};
		}

		.MultiPaddingRight#{$label} {
			padding-left: #{$value};
			padding-right: auto;
		}
	}
}
