.MultiPadding5 {
	padding: 5px;
}

.MultiPadding10 {
	padding: 10px !important;
}

.MultiPadding15 {
	padding: 15px;
}

.MultiPadding20 {
	padding: 20px;
}

.MultiPadding25 {
	padding: 25px;
}

.MultiPadding30 {
	padding: 30px;
}

.MultiPadding40 {
	padding: 40px;
}

.MultiPaddingTop5 {
	padding-top: 5px;
}

.MultiPaddingTop10 {
	padding-top: 10px;
}

.MultiPaddingTop15 {
	padding-top: 15px;
}

.MultiPaddingTop20 {
	padding-top: 20px;
}

.MultiPaddingTop25 {
	padding-top: 25px;
}

.MultiPaddingBottom5 {
	padding-bottom: 5px;
}

.MultiPaddingBottom10 {
	padding-bottom: 10px;
}

.MultiPaddingBottom15 {
	padding-bottom: 15px;
}

.MultiPaddingBottom20 {
	padding-bottom: 20px;
}

.MultiPaddingBottom25 {
	padding-bottom: 25px;
}

.MultiPaddingLeft5,
.AR .MultiPaddingRight5,
.FA .MultiPaddingRight5 {
	padding-left: 5px;
	padding-right: 0;
}

.MultiPaddingLeft10,
.AR .MultiPaddingRight10,
.FA .MultiPaddingRight10 {
	padding-left: 10px;
	padding-right: 0;
}

.MultiPaddingLeft15,
.AR .MultiPaddingRight15,
.FA .MultiPaddingRight15 {
	padding-left: 15px;
	padding-right: 0;
}

.MultiPaddingLeft20,
.AR .MultiPaddingRight20,
.FA .MultiPaddingRight20 {
	padding-left: 20px;
	padding-right: 0;
}

.MultiPaddingLeft25,
.AR .MultiPaddingRight25,
.FA .MultiPaddingRight25 {
	padding-left: 25px;
	padding-right: 0;
}

.MultiPaddingLeft30,
.AR .MultiPaddingRight30,
.FA .MultiPaddingRight30 {
	padding-left: 30px;
	padding-right: 0;
}

.MultiPaddingLeft40,
.AR .MultiPaddingRight40,
.FA .MultiPaddingRight40 {
	padding-left: 40px;
	padding-right: 0;
}

.AR .MultiPaddingLeft5,
.FA .MultiPaddingLeft5,
.MultiPaddingRight5 {
	padding-left: 0;
	padding-right: 5px;
}

.AR .MultiPaddingLeft10,
.FA .MultiPaddingLeft10,
.MultiPaddingRight10 {
	padding-left: 0;
	padding-right: 10px;
}

.AR .MultiPaddingLeft15,
.FA .MultiPaddingLeft15,
.MultiPaddingRight15 {
	padding-left: 0;
	padding-right: 15px;
}

.AR .MultiPaddingLeft20,
.FA .MultiPaddingLeft20,
.MultiPaddingRight20 {
	padding-left: 0;
	padding-right: 20px;
}

.AR .MultiPaddingLeft25,
.FA .MultiPaddingLeft25,
.MultiPaddingRight25 {
	padding-left: 0;
	padding-right: 25px;
}

.AR .MultiPaddingLeft30,
.FA .MultiPaddingLeft30,
.MultiPaddingRight30 {
	padding-left: 0;
	padding-right: 30px;
}

.AR .MultiPaddingLeft40,
.FA .MultiPaddingLeft40,
.MultiPaddingRight40 {
	padding-left: 0;
	padding-right: 40px;
}
