.WhiteContainer.MultiPaddingXSmall,
.AR .WhiteContainer.MultiPaddingXSmall,
.FA .WhiteContainer.MultiPaddingXSmall {
	padding: 3px 6px;
}

.LightGreyContainer .MinHeightHome {
	min-height: 115px;
}

.AR .GreyContainer,
.AR .LightGreyContainer,
.FA .GreyContainer,
.FA .LightGreyContainer {
	font-size: 15px;
}

.DashboardContent .LightGreyContainer {
	height: 115px;
}

.DoctorWrapper {
	background-color: rgba(255, 255, 255, 0.5);
	border-left: 1px solid #e0e1e3;
}
