.CardBox {
	-servicestudio-background-color: $regular-white !important;
	-servicestudio-border: solid 1px $regular-grey !important;
	-servicestudio-border-top: 3px solid $regular-alpha !important;
	-servicestudio-box-shadow: none !important;
	-servicestudio-color: $regular-alpha !important;
	-servicestudio-display: inline-block !important;
	-servicestudio-display: block !important;
	-servicestudio-min-height: 100% !important;
	-servicestudio-min-width: 100% !important;
	-servicestudio-width: 100% !important;

	&.ColorRed,
	&.ColorGrey,
	&.ColorBeige,
	&.ColorGreen,
	&.ColorOrange,
	&.ColorOtherGrey {
		.CardDescription,
		.BottomCardDescription {
			color: $regular-grey;
		}
	}

	&,
	&.CardMedium,
	&.CardSmall {
		&.Selected {
			background-color: $regular-alpha;
			box-shadow: none;
			color: $regular-white;
		}
	}

	&.Selected {
		.CardDescription,
		.BottomCardDescription {
			color: $regular-white;
			font-size: 0.857em;
		}
	}

	.CardCount,
	&.Selected .CardDescription,
	&.Selected .BottomCardDescription {
		-servicestudio-color: $regular-alpha !important;
		-servicestudio-font-weight: 200;
		-servicestudio-text-align: center;
	}

	.CardDescription {
		-servicestudio-font-size: 12px !important;
	}
}
