@use 'appointments-list' as *;
@use 'auxiliar-containers' as *;
@use 'availability-card' as *;
@use 'bed-slot-box' as *;
@use 'big-input' as *;
@use 'blood-transfusion__tooltip' as *;
@use 'button-group' as *;
@use 'buttons' as *;
@use 'card-box' as *;
@use 'clinician-administration_cw' as *;
@use 'clinician_Home_Ui' as *;
@use 'clinician-work-area' as *;
@use 'comp-line' as *;
@use 'date-time-range-picker' as *;
@use 'diagnosis-cw' as *;
@use 'dosage-picker' as *;
@use 'draggable' as *;
@use 'dropdown' as *;
@use 'dynamic-card' as *;
@use 'edit-patient-details' as *;
@use 'er_common_cw' as *;
@use 'form-field' as *;
@use 'fullscreen-tabs-wrapper' as *;
@use 'general' as *;
@use 'hospitalization-plan-layout' as *;
@use 'inputs' as *;
@use 'layout-base' as *;
@use 'layout-popup' as *;
@use 'main-menu' as *;
@use 'modal-popup' as *;
@use 'panels' as *;
@use 'pharma-table-records' as *;
@use 'pika-single' as *;
@use 'prescription-expandable' as *;
@use 'prescriptions_CW' as *;
@use 'sapphire-calendar' as *;
@use 'sapphire-header' as *;
@use 'search-wrapper' as *;
@use 'section-expandable-custom' as *;
@use 'section-expandable-inside' as *;
@use 'selectable-list' as *;
@use 'shift-container' as *;
@use 'sidebar' as *;
@use 'spinner-horizontal' as *;
@use 'super-card' as *;
@use 'table-records' as *;
@use 'toolbar' as *;
@use 'vertical-align' as *;