// ModalPopup
.SapphirePanel {
	-servicestudio-display: block;
	-servicestudio-position: relative;

	&_Background {
		-servicestudio-color: #252525;
		-servicestudio-display: none;
		-servicestudio-position: static;
	}
}

.Panel {
	-servicestudio-display: block !important;
	-servicestudio-position: relative !important;

	.PanelContainer {
		-servicestudio--webkit-transform: translate(0, 0) !important;
		-servicestudio-height: 100% !important;
		-servicestudio-left: 0 !important;
		-servicestudio-position: relative !important;
		-servicestudio-top: 0 !important;
		-servicestudio-width: 100% !important;

		&.Confirm {
			-servicestudio--webkit-transform: translateX(0%);
			-servicestudio-background-color: #fffff;
			-servicestudio-display: block;
			-servicestudio-left: auto;
			-servicestudio-position: relative !important;
			-servicestudio-position: static;
			-servicestudio-top: auto;
			-servicestudio-z-index: 0;
		}

		&.ConfirmWB {
			-servicestudio--webkit-transform: translateX(0%);
			-servicestudio-display: block;
			-servicestudio-position: static;
		}
	}

	.PanelBackground {
		-servicestudio-color: #252525 !important;
		-servicestudio-display: none !important;
		-servicestudio-position: relative !important;
		-servicestudio-position: static;

		&.ConfirmWB {
			-servicestudio-position: static;
		}
	}
}