.Panel {
	.CalendarWb {
		margin: 0 auto;
		position: relative;
		text-align: initial;
		text-align: center;
		width: auto;
		width: 290px;

		.CalendarWidget_Today {
			text-align: center;
		}

		.CalendarWidget__header {
			text-align: center;
		}
	}
}
