@use '../../../00-settings/colors' as *;

@use '../../../01-tools/flex-align' as *;

.SelectableList {
  &-EmptyMessage {
    @include flex-center-total;
    align-items: center;
    background-color: transparent;
    border: 1px solid $mid-light-grey;
    color: $mid-dark-grey;
    flex-wrap: wrap;
    font-size: 1em;
    min-height: 46px;
    width: 100%;

    >span {
      display: block;
    }

    &.NoBorder {
      border: none;
    }
  }

  &-ListRecords {
    border: 1px solid $regular-alpha;
    display: block;

    .SelectableListWrapper {
      border: none;

      &:not(:last-child) {
        border-bottom: 1px solid $regular-alpha;
      }

      &:last-of-type {
        border-bottom: none;
        border-top: none;
      }
    }
  }

  &-ExpandControls {
    white-space: nowrap;
    width: 100%;

    div:nth-child(1) {
      line-height: 24px;
      text-align: right;
    }
  }
}

.AR,
.FA {
  .SelectableList-ExpandControls {
    div:nth-child(1) {
      text-align: left;
    }
  }
}