.ShiftTableCardProgress {
	@include shadow-xsmall;

	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: $border-radius-default;
	display: flex;
	max-width: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;

	&__ActionButton {
		@include flex-center-total;

		border-right: 1px solid $light-grey;
		width: 56px;

		a {
			@include flex-center-total();

			background-color: $regular-alpha;
			border-radius: 50%;
			height: 32px;
			width: 32px;

			&:disabled,
			&[disabled] {
				background-color: $mid-light-grey;
				cursor: not-allowed;
			}

			.icon {
				color: $regular-white;
			}

			.icon-play {
				width: 12px;
			}
		}

		> .tooltipstered {
			width: 32px !important;
		}

		.AR & {
			border-left: 1px solid $light-grey;
			border-right: none;
		}
	}

	&__Content {
		flex: 1;
		padding: $sapphire-sizes--small;
		position: relative;
	}

	&__Header {
		display: flex;
		justify-content: space-between;
	}

	&__HeaderLeft {
		@include flex-center-vertically;

		gap: $sapphire-sizes--small;
	}

	&__HeaderIcons {
		font-size: $font-size-heading4;
		height: 18px;
	}

	&__HeaderLabel {
		font-size: $font-size-small;
	}

	&__HeaderAction {
		.MoreActions {
			@include flex-center-total;

			background-color: $regular-white;
			border-radius: 50%;
			height: 26px;
			margin-bottom: -4px;
			margin-right: -4px;
			margin-top: -4px;
			width: 26px;

			&:hover {
				background-color: $sapphire-light;
			}
		}

		> .tooltipstered {
			width: 26px !important;
		}
	}

	&__Footer {
		@include flex-center-vertically;

		margin-top: $sapphire-sizes--xsmall;

		.lds-ring {
			height: 20px;
			left: unset;
			position: unset;
			top: unset;
			transform: unset;
			width: 20px;

			div {
				margin: $sapphire-sizes--xxsmall;
			}
		}
	}

	&__FooterRight {
		@include flex-center-vertically;

		gap: $sapphire-sizes--medium;
	}

	&__InfoDetails {
		flex: 1;
		font-family: $font-family-latin-bold;
		word-break: break-all;

		.AR & {
			font-family: $font-family-arabic-bold;
		}
	}

	&__Notes {
		> div:first-child {
			@include flex-center-vertically;

			color: $regular-grey;
			font-size: $font-size-small;
			gap: $sapphire-sizes--xsmall;
			line-height: 0;
		}
	}

	&__ProgressStatusIcon {
		@include flex-center-vertically;

		gap: $sapphire-sizes--small;
	}

	&__ProgressStatusText {
		font-family: $font-family-latin-bold;

		.AR & {
			font-family: $font-family-arabic-bold;
		}
	}

	&__ProgressBar {
		bottom: 0;
		height: 4px;
		margin-left: -$sapphire-sizes--small;
		position: absolute;
		width: 100%;

		.ProgressBarWrap {
			height: 4px;

			.ProgressBar_structure {
				background-color: $light-grey;
				border: none;
				height: 4px;

				.ProgressBar__animation {
					background-color: $regular-green !important;// :(
				}
			}

			.ProgressBarTooltip[data-tooltip]:before {
				font-size: $font-size-tiny;
				padding: $sapphire-sizes--xsmall;
			}
		}
	}

	&--notStarted {
		.ShiftTableCardProgress__HeaderLabel {
			color: $regular-grey;
		}

		.ShiftTableCardProgress__ProgressStatusIcon {
			display: none;
		}
	}

	&--stopped {
		.ShiftTableCardProgress__HeaderLabel {
			color: $regular-red;
		}

		.ShiftTableCardProgress__ProgressStatusIcon .icon {
			color: $regular-green;
			font-size: $font-size-heading3;
		}
	}

	&--given {
		background-color: $light-green;

		.ShiftTableCardProgress__ActionButton {
			display: none;
		}

		.ShiftTableCardProgress__Footer {
			margin-top: 6px;
		}

		.ShiftTableCardProgress__FooterRight {
			flex: 1;
			flex-direction: row-reverse;
			justify-content: space-between;
		}

		.ShiftTableCardProgress__ProgressBar {
			display: none;
		}

		.ShiftTableCardProgress__ProgressStatusIcon .icon {
			color: $regular-green;
			font-size: $font-size-heading3;
		}
	}

	&--selected {
		.ShiftTableCardProgress__HeaderAction {
			.MoreActions {
				background-color: $sapphire-light;
			}
		}
	}

	&--darkred {
		.ShiftTableCardProgress__HeaderIcons{
			color: $dark-red;
		}

		.ProgressBarWrap .ProgressBarTooltip[data-tooltip]:before {
			background-color: $dark-red;
		}

		.ProgressBarWrap .ProgressBarTooltip[data-tooltip]:after {
			background-color: $dark-red;
		}

		.ShiftTableCardProgress__ProgressBar .ProgressBarWrap .ProgressBar_structure .ProgressBar__animation {
			background-color: $dark-red !important;
		}
	}

	&--orange {
		.ShiftTableCardProgress__HeaderIcons{
			color: $regular-orange;
		}

		.ProgressBarWrap .ProgressBarTooltip[data-tooltip]:before {
			background-color: $regular-orange;
		}

		.ProgressBarWrap .ProgressBarTooltip[data-tooltip]:after {
			background-color: $regular-orange;
		}

		.ShiftTableCardProgress__ProgressBar .ProgressBarWrap .ProgressBar_structure .ProgressBar__animation {
			background-color: $regular-orange !important;
		}
	}
}
