@use '../../../00-settings/colors' as *;
@use '../../../00-settings/fonts' as *;
@use '../../../00-settings/sizes' as *;
@use '../../../01-tools/flex-align' as *;
@use '../../../01-tools/scrollbar' as *;

.ShiftTable {
	@include component-scroll-root;
	margin-bottom: $sapphire-sizes--small;
	overflow-x: auto;
	position: relative;

	&::-webkit-scrollbar {
		background-color: transparent;
	}

	&__Header {
		align-items: center;
		background-color: #f3f3f3;
		display: flex;
		height: 33px;
	}

	&__HeaderLeft {
		@include flex-center-vertically;
		background-color: #f3f3f3;
		height: 100%;
		left: 0;
		min-width: 424px;
		position: sticky;
		z-index: 2;
	}

	&__HeaderTitle {
		color: $regular-grey;
		font-family: $font-family-latin-bold;
		font-size: $font-size-small;
		padding: 0 $sapphire-sizes--large;
		text-transform: uppercase;
	}

	&__HeaderLabels {
		&,
		.ListRecords {
			display: flex;
			flex: 1;

			> div {
				color: $regular-grey;
				flex: 1;
				font-family: $font-family-latin-bold;
				font-size: $font-size-small;
				min-width: 130px;
				text-align: center;

				.AR & {
					font-family: $font-family-arabic-bold;
				}
			}
		}
	}

	&__Content {
		min-width: fit-content;
		overflow-x: unset;
		overflow-y: unset;
		width: 100%;
		.ListRecords > span {
			display: block;
			.TableRecords_ContentExpandable {
				display: contents;
			}
		}
	}

	&__CurrentHour {
		.HourLine {
			background-color: $regular-red;
			bottom: 0;
			display: flex;
			justify-content: center;
			position: absolute;
			top: 25px;
			width: 1px;
			z-index: 0;

			&::before {
				background-color: $regular-red;
				border-radius: 50%;
				content: '';
				display: block;
				height: 9px;
				margin-top: -4px;
				min-width: 9px;
			}
		}
	}
}

.ShiftTable[data-stickyheader='true'] {
	padding-top: 8px + 17px + 8px;

	.ShiftTable__Header {
		left: calc(24px + var(--shifttable-horizontal-scroll) * -1);
		position: fixed;
		top: var(--shifttable-header-top);
		z-index: 3;
	}

	.ShiftTable__HeaderLabels .ShiftTableCell {
		width: var(--shifttable-hour-width);
	}
}
