@use 'sass:color';

@use '../../../00-settings/colors' as *;
@use '../../../00-settings/borders' as *;
@use '../../../00-settings/sizes' as *;
@use '../../../00-settings/fonts' as *;

@use '../../../01-tools/box-shadow' as *;

@use '../../../01-tools/flex-align' as *;

.ShiftTableCard {
	@include shadow-xsmall;

	background-color: $sapphire-light;
	border: 1px solid $light-grey;
	border-radius: $border-radius-default;
	cursor: default !important;
	padding: $sapphire-sizes--small;
	z-index: 1;

	&__Header,
	&__Footer {
		@include flex-center-vertically;

		justify-content: space-between;
	}

	&__Header {
		margin-bottom: $sapphire-sizes--xsmall;
	}

	&__HeaderLeft {
		@include flex-center-vertically;

		gap: $sapphire-sizes--small;
	}

	&__HeaderAction {
		.MoreActions {
			@include flex-center-total;

			background-color: $regular-white;
			border-radius: 50%;
			height: 26px;
			margin-bottom: -4px;
			margin-right: -4px;
			margin-top: -4px;
			min-width: 26px;
			position: relative;

			&:hover {
				background-color: $sapphire-light;
			}
		}
	}

	&__CardStatus {
		border: 1px solid $light-grey;
		border-radius: 50%;
		font-size: $font-size-heading3;
		height: 18px;
		line-height: 18px;
		width: 18px;
	}

	&__Info {
		font-family: $font-family-latin-bold;
		font-size: 13px;

		.AR & {
			font-family: $font-family-arabic-bold;
		}
	}

	&__FooterNotes {
		position: relative;

		> div:first-of-type {
			@include flex-center-vertically;

			gap: $sapphire-sizes--xsmall;
			line-height: 0;

			&:hover {
				color: $dark-grey;
			}
		}
	}

	&__FooterInfo,
	&__FooterNotes {
		color: $regular-grey;
		font-family: $font-family-latin-bold;
		font-size: $font-size-small;

		.AR & {
			font-family: $font-family-arabic-bold;
		}
	}

	&--selected {
		.ShiftTableCard__CardStatus {
			border-color: $light-grey;
		}

		.ShiftTableCard__HeaderAction {
			.MoreActions {
				background-color: $sapphire-light;
			}
		}
	}

	&--clickable {
		background-color: $regular-white;
		cursor: pointer !important;
		position: relative;

		&:hover {
			background-color: $regular-eta;
			border-color: $regular-alpha;

			.ShiftTableCard__CardStatus {
				border-color: $regular-alpha;
			}
		}

		.OpenTooltip {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	&--Done {
		background-color: $light-green;
		border-color: color.adjust($regular-green, $lightness: 20%);

		&.ShiftTableCard--selected {
			background-color: color.adjust($light-green, $lightness: -5%);
		}

		.ShiftTableCard__CardStatus {
			border: none;
			color: $regular-green;
		}
	}

	&--NotDone {
		background-color: $light-red;
		border-color: color.adjust($regular-red, $lightness: 20%);

		&.ShiftTableCard--selected {
			background-color: color.adjust($light-red, $lightness: -5%);
		}

		.ShiftTableCard__CardStatus {
			border: none;
			color: $regular-red;
		}
	}

	&--Overdue {
		background-color: $light-yellow;
		border-color: color.adjust($regular-orange, $lightness: 20%);

		&.ShiftTableCard--selected {
			background-color: color.adjust($light-orange, $lightness: -5%);
		}

		.ShiftTableCard__CardStatus {
			border: none;
			color: $regular-orange;
		}
	}

	&--PartiallyDone {
		background-color: $light-beige;
		border-color: color.adjust($regular-beige, $lightness: 5%);

		&.ShiftTableCard--selected {
			background-color: color.adjust($light-beige, $lightness: -5%);
		}

		.ShiftTableCard__CardStatus {
			border: none;
			color: $dark-beige;
		}
	}
}
