@use '../../../00-settings/colors' as *;
.ShiftTableCardProgress {
	&--darkred {
		.ShiftTableCardProgress__HeaderIcons {
			color: $dark-red;
		}

		.ProgressBarWrap .ProgressBarTooltip[data-tooltip]:before {
			background-color: $dark-red;
		}

		.ProgressBarWrap .ProgressBarTooltip[data-tooltip]:after {
			border-top-color: $dark-red;
		}

		.ShiftTableCardProgress__ProgressBar .ProgressBarWrap .ProgressBar_structure .ProgressBar__animation {
			background-color: $dark-red !important;
		}
	}

	&--orange {
		.ShiftTableCardProgress__HeaderIcons {
			color: $regular-orange;
		}

		.ProgressBarWrap .ProgressBarTooltip[data-tooltip]:before {
			background-color: $regular-orange;
		}

		.ProgressBarWrap .ProgressBarTooltip[data-tooltip]:after {
			border-top-color: $regular-orange;
		}

		.ShiftTableCardProgress__ProgressBar .ProgressBarWrap .ProgressBar_structure .ProgressBar__animation {
			background-color: $regular-orange !important;
		}
	}
}
