@use '../../../00-settings/colors' as *;
@use '../../../00-settings/fonts' as *;
@use '../../../00-settings/sizes' as *;

@use '../../../01-tools/scrollbar' as *;

.DataTable .dataTables_wrapper {
	table thead th {
		border-bottom-color: $light-grey;
		color: $mid-light-grey;
		font-family: $font-family-latin-bold;
		font-size: $font-size-small;
		min-height: 36px;
		padding: 9px $sapphire-sizes--medium;
		text-transform: uppercase;
	}

	table tbody td {
		padding: 9px $sapphire-sizes--medium;
	}

	table tbody tr {
		display: table-row;
		vertical-align: unset;
	}

	th,
	td {
		white-space: nowrap;
	}

	table.dataTable thead th,
	table.dataTable thead td {
		border-bottom-color: $light-grey;
	}

	table.dataTable.cell-border tbody th,
	table.dataTable.cell-border tbody td {
		border-right-color: transparent;
	}

	table.dataTable.cell-border tbody tr th:first-child,
	table.dataTable.cell-border tbody tr td:first-child {
		border-color: $light-grey;
	}

	table.DTFC_Cloned thead,
	table.DTFC_Cloned tfoot {
		background-color: transparent;
	}

	.dataTables_scrollBody {
		@include component-scroll-root();

		border-bottom-color: $light-grey;
	}
}
