@import '../components/00-settings/colors';
@import '../components/00-settings/fonts';
@import '../components/01-tools/alignment';
@import '../components/01-tools/arrow-button';
@import '../components/01-tools/flex-align';
@import '../components/01-tools/scrollbar';

// Reset
body {
	@include component-scroll-root();

	background-color: $regular-white !important;
	margin: 0;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		border-color: $light-grey;
	}
}

// Variables
$styleguide-menu-item-height: 28px;
$styleguide-main-content-padding: 50px;

// Mixins
@mixin styleguide-menu-item-style {
	color: $regular-beta;
	display: block;
	font-family: $font-family-latin-regular;
	height: $styleguide-menu-item-height;
	line-height: $styleguide-menu-item-height;
	padding: 0 10px;
	transition: all 0.25s;

	&:hover {
		background-color: $regular-zeta;
	}
}

.DesignSystem {
	font-family: $font-family-latin-regular;
	font-size: 14px;

	&__Aside {
		background-color: $regular-white;
		border-right: 1px solid $light-grey;
		direction: ltr;
		height: 100vh;
		left: 0;
		position: fixed;
		width: 220px;
	}

	&__Input {
		position: relative;
		width: 100%;

		>.icon {
			@include absolute-center();

			color: $regular-alpha;
			cursor: pointer;
			display: none;
			font-size: 14px;
			left: auto;
			right: 5px;
		}

		input[type='text'] {
			font-family: $font-family-latin-regular;
			height: $styleguide-menu-item-height;
			line-height: $styleguide-menu-item-height;
			margin: 0;
			padding: 0 10px;
			width: 100%;
		}
	}

	&__AsideHeader {
		@include flex-center-total;

		flex-direction: column;
		padding: 10px 10px 5px;

		>a {
			margin: 10px 0 20px 0;

			.icon {
				color: $regular-alpha;
				font-size: 5em;
			}
		}
	}

	&__ExpandAll {
		font-size: 12px;
		margin-top: 5px;
		text-align: right;
		width: 100%;

		a[ui='button-expand-all'] {

			&:link,
			&:visited {
				font-family: $font-family-latin-bold;
			}
		}
	}

	&__Menu {
		@include component-scroll-root();

		height: calc(100vh - 195px);
		margin-top: 15px;
		overflow-y: auto;
		scroll-behavior: smooth;
		-servicestudio-scroll-behavior: initial;
	}

	&__MenuSection {
		margin-bottom: 25px;

		a,
		a:link,
		a:visited {
			@include styleguide-menu-item-style;

			font-family: $font-family-latin-regular !important;

			&.active {
				background-color: $regular-alpha;
				color: $regular-white;
			}
		}
	}

	&__MenuSubSection {
		height: $styleguide-menu-item-height;
		overflow: hidden;
		padding: 0 10px;

		&--expanded {
			height: auto;
			overflow: visible;

			.DesignSystem__MenuItemSection::after {
				content: ' ';
				top: 40%;
				transform: rotate(180deg) translateY(-40%);
			}
		}

		a,
		a:link,
		a:visited {
			margin: 0 -13px 0 -20px;
			padding: 0 30px;
			white-space: nowrap;

			&.active {
				background-color: $regular-alpha;
				color: $regular-white;
			}
		}

		&--inactive {
			font-size: 14px;
			font-weight: 400;
			height: 20px;
			pointer-events: none;

			.DesignSystem__MenuItemSection {
				color: $light-grey !important;

				&:after {
					display: none;
				}
			}
		}
	}

	&__MenuItemSection {
		@include styleguide-menu-item-style;

		cursor: pointer;
		font-weight: normal;
		margin: 0 -13px 0 -20px;
		padding: 0 20px;
		position: relative;

		&::after {
			@include arrow-down-simple;
			@include absolute-center-vertically(44%);

			content: ' ';
			right: 15px;
			transform: rotate(90deg) translateY(-44%);
			transition: all 0.15s;
		}
	}

	&__MenuTitle {
		color: $dark-grey;
		display: block;
		font-family: $font-family-latin-bold;
		font-size: 1.143em;
		margin-bottom: 5px;
		padding: 0 10px;
		text-transform: uppercase;
	}

	&__Locale {
		@include flex-custom-align(center, flex-end);

		font-family: $font-family-latin-regular;
		font-size: 12px;
		width: 100%;

		.ToggleButton {
			margin-right: -7px;
			transform: scale(0.7);
		}
	}

	&__MainContent {
		padding-left: 220px;
	}

	&__MainHeader {
		@include flex-custom-align(flex-start, center);

		background-color: $body-color;
		flex-direction: column;
		padding: 10px $styleguide-main-content-padding 20px;
		color: $text-color-light;

		span:first-child,
		&__Title {
			font-size: 3em;
		}

		span:last-child,
		&__SubTitle {
			font-size: 1.071em;
		}
	}

	&__Content {
		background-color: $regular-white;
		padding: $styleguide-main-content-padding;
	}

	&__ListFlex {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fill, 175px);
		justify-content: space-between;

		&--medium {
			@extend .DesignSystem__ListFlex;

			grid-template-columns: repeat(auto-fill, 300px);
		}

		&--large {
			@extend .DesignSystem__ListFlex;

			grid-template-columns: repeat(auto-fill, 49%);
		}
	}

	&__ListButtons {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		padding: 10px 0;

		div[ui='card-container'] {
			align-items: center;
			display: flex;
			min-height: 65px;
			white-space: nowrap;
		}
	}

	&__DefaultSection {
		border: 1px solid $sapphire-light;
		border-radius: 1px;
		display: flex;
		padding: 16px;
		position: relative;

		&--withCards {
			@extend .DesignSystem__DefaultSection;

			display: inherit;
			padding: 10px 20px;

			.DesignSystem__ContentCard {
				border: none;
			}
		}

		&--simple {
			@extend .DesignSystem__DefaultSection;

			>* {
				padding: 0 10px;
			}

			>div:first-child {
				@include flex-custom-align(center, unset);

				flex: 1;
			}

			>div:last-child {
				@include flex-custom-align(center, space-between);

				min-width: 550px;
			}
		}

		&--block {
			@extend .DesignSystem__DefaultSection;

			display: block;
		}

		&--withWebBlock {
			@extend .DesignSystem__DefaultSection;

			flex-direction: column;
			padding-top: 45px;
		}

		&--aboutWebBlock {
			@extend .DesignSystem__DefaultSection;

			align-items: center;
			border-color: $regular-alpha;

			div[ui='icon'] {
				color: $regular-alpha;
				font-size: 3em;
				padding-top: 4px;
			}

			div[ui='message'] {
				flex: 1;
			}
		}
	}

	&__ListCards {
		.DesignSystem__ContentCard:not(:last-child) {
			border-bottom: none;
		}
	}

	&__InputParameters {
		margin: 16px -17px -16px -17px;

		div.SectionExpandable_headerCustom {
			border-bottom: none;
			border-color: $sapphire-light;
			border-radius: unset;
			max-height: 40px;

			.SectionExpandable___icon {
				.icon {
					border-color: $light-grey;
					border-width: 1px;

					&:before {
						color: $light-grey;
					}

					&:hover {
						background-color: $body-color;
					}
				}
			}

			.PlaceHolderTitle {
				font-family: $font-family-latin-regular;
				font-size: 1em;
			}
		}
	}

	&__AlertInfoSection {
		background-color: $regular-alpha;
		color: $regular-white;
		padding: 3px 15px;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;

		&--deprecated {
			@extend .DesignSystem__AlertInfoSection;

			background-color: $regular-red;
		}
	}

	&__DescriptionWebBlock {
		position: absolute;
		right: 15px;
		top: 5px;

		.AR & {
			left: 15px;
			right: auto;
		}

		.ActionsMenu-trigger {
			color: $regular-white;
		}
	}

	&__GreyContainer {
		background-color: $body-color;
		border-radius: 1px;
		margin: 0 -16px;
		padding: 10px 20px;
	}

	&__OptionsWebBlock {
		border: 1px solid $light-grey;
		border-radius: 1px;
		padding: 30px;
		position: relative;

		&:before {
			background-color: $regular-white;
			content: 'Options';
			left: 18px;
			padding: 0 12px;
			position: absolute;
			top: -9px;
		}

		.AR & {
			&:before {
				left: auto;
				right: 18px;
			}
		}
	}

	&__ContentCard {
		border: 1px solid $light-grey;
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		height: 170px;
		overflow: hidden;
		width: 175px;

		&--sizeAuto {
			height: auto;
			width: auto;

			>div:first-child>div {
				width: 100%;
			}
		}

		>div:first-child {
			@include flex-center-total;

			flex: 1;
			padding: 20px 10px;
		}

		>div:last-child {
			font-family: $font-family-latin-bold;
			font-size: 0.857em;
			padding: 8px 10px;
		}
	}

	&__FormField {
		display: grid;
		row-gap: 5px;
		width: 100%;

		.AR & {

			.MultiMarginRightSmall,
			.MultiMarginRightXSmall,
			.MultiMarginRightMedium,
			.MultiMarginRightLarge {
				margin-right: 0;
			}
		}

		>textarea,
		>input:not([type='checkbox']):not([type='radio']) {
			display: block;
			width: 100%;
		}

		&--widthAuto {
			@extend .DesignSystem__FormField;

			width: auto;
		}

		&--validation {
			@extend .DesignSystem__FormField;

			.ValidationMessageContainer .ValidationMessage {
				display: block !important;

				&::after {
					content: 'This field is required';
				}
			}
		}
	}

	&__CardSpacing {
		border: 1px dashed $mid-light-grey;

		>div {
			background-color: $regular-beta;
			height: 50px;
			width: auto;
		}

		&--withBg {
			@extend .DesignSystem__CardSpacing;

			background-color: $regular-zeta;
			box-sizing: border-box;
		}

		&--withoutBg {
			@extend .DesignSystem__CardSpacing;

			border: inherit;

			>div {
				background-color: transparent;
			}
		}

		&--withoutBorder {
			@extend .DesignSystem__CardSpacing;

			border: none;
		}
	}

	// Home Page
	&__HomeHeader {
		background-color: $regular-alpha;
		//clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
		height: 400px;
		margin: -50px;

		*[ui='header-info'] {
			@include flex-center-total;

			color: $regular-white;
			flex-direction: column;
			height: 75%;

			*[ui='header-icon'] {
				font-size: 6em;
			}

			*[ui='header-subtitle'] {
				font-size: 1.5em;
				margin-top: 20px;
			}
		}
	}

	&__CardsContent {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__HomeCard {
		background-color: $regular-white;
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		height: 300px;
		margin: 25px;
		min-width: 235px;
		padding: 15px;
		text-align: center;
		transition: all 0.3s ease-in;
		width: 250px;

		&:hover {
			transform: translateY(-8px);
		}

		.icon {
			color: $regular-alpha;
			font-size: 5em;
			margin-top: 18px;
		}

		*[ui='home-card-title'] {
			font-size: 1.714em;
		}
	}

	// Home Page

	&__FabButton {
		background-color: $regular-alpha;
		border-radius: 50%;
		bottom: 30px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		cursor: pointer;
		font-size: 1.143em;
		height: 50px;
		line-height: 50px;
		position: fixed;
		right: 30px;
		text-align: center;
		transition: all 1s;
		width: 50px;
		z-index: 1;

		&:hover {
			transform: scale(1.2);
		}

		a:link,
		a:visited {
			@include flex-center-total;

			border-radius: 50%;
			color: $regular-white;
			height: 50px;
			position: relative;
			width: 50px;
		}
	}

	&__FabAlert {
		background-color: $regular-red;
		border: 1px solid $regular-white;
		border-radius: 50%;
		height: 10px;
		opacity: 0;
		position: absolute;
		right: 12px;
		top: 10px;
		transition: all 1s;
		width: 10px;

		&--new {
			opacity: 1;
		}
	}

	&__DocsHeader {
		background-color: $regular-alpha;
		color: $regular-white;
		font-family: $font-family-latin-bold;
		font-size: 2.5em;
		height: 140px;
		line-height: 140px;
		margin: -50px;
		padding: 0 100px;
	}

	&__DocsContent {
		margin-top: 100px;
		padding: 0 50px;

		code {
			display: block;
			padding: 15px;
			border-radius: 5px;
			background-color: $body-color;
		}

		img {
			display: block;
			margin: 15px auto;
			border-radius: 5px;
			height: 520px;
		}
	}

	// JavascriptLIB Page
	&__InputContainer {
		@include flex-center-total;

		border: 1px solid $sapphire-light;
		flex-direction: column;
		min-width: 240px;
		padding: 24px;
		position: relative;

		&:before {
			background-color: $regular-white;
			content: attr(ui-value);
			left: 10px;
			padding: 0 12px;
			position: absolute;
			top: -9px;
		}
	}

	&__TooltipContainer {
		position: absolute;
		right: 6px;
		top: 6px;
	}

	.Section {
		margin-bottom: 150px;
	}
}