@mixin tabs-extended-badge {
	background-color: $regular-red;
	border-radius: 50%;
	color: $regular-white;
	font-size: 0.786em;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 0px;
	text-align: center;
	transform: translateX(100%);
	width: 20px;
}

.Tabs_Extended {
	&:not(.isClosed) .Tabs__tab.active {
		font-family: $font-family-latin-bold;
	}

	&.HideActiveOnClick .Tabs__tab.active {
		cursor: pointer;
	}

	&.Tabs_Extended--Primary {
		.Tabs__tab {
			border-bottom: 3px solid transparent;
			border-top: 2px solid transparent;
			margin: 0 $sapphire-sizes--small;
			min-width: unset;
			padding: 0;
			transition: all 0.2s ease-in;

			&:first-child {
				margin-left: 0;
			}

			&.active,
			&:hover {
				background-color: transparent;
				border-bottom: 3px solid $regular-alpha;
				border-left: 0;
				border-right: 0;
				border-top: 2px solid transparent;
				border-top-color: transparent;
				color: $regular-beta;
			}

			&.disabled {
				border-bottom: 3px solid transparent !important;
			}
		}

		.Tabs_body {
			background-color: transparent;
			border: none;
			border-radius: unset;
			border-top: 1px solid $light-grey;
			padding: $sapphire-sizes--medium 0;
		}
	}

	&.Tabs_Extended--Secondary {
		&:not(.isClosed) .Tabs__tab.active {
			border-bottom: 2px solid $regular-white;
			border-left: 1px solid $light-grey;
			border-radius: $border-radius-medium $border-radius-medium 0 0;
			border-right: 1px solid $light-grey;
			border-top-color: $light-grey;
			color: $regular-beta;

			&:before,
			&:after {
				border: 1px solid $light-grey;
				bottom: -1px;
				content: ' ';
				height: 6px;
				position: absolute;
				width: 6px;
			}

			&:before {
				border-bottom-right-radius: $border-radius-medium;
				border-width: 0 1px 1px 0;
				box-shadow: 2px 2px 0 $regular-white;
				left: -7px;
			}

			&:after {
				border-bottom-left-radius: $border-radius-medium;
				border-width: 0 0 1px 1px;
				box-shadow: -2px 2px 0 $regular-white;
				right: -7px;
			}
		}

		&.Tabs_Extended--fullwidth .Tabs {
			min-height: auto;
		}

		&.isClosed .Tabs__tab.active {
			background-color: transparent;
			color: $regular-grey;
		}

		.Tabs__tab {
			border-bottom: 2px solid transparent;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			border-top: 1px solid transparent;
			padding: 0 $sapphire-sizes--medium;

			&:first-child {
				&:before {
					display: none;
				}
			}

			&:hover {
				color: $regular-beta;
			}

			> div {
				@include flex-center-vertically;

				gap: $sapphire-sizes--small;
			}

			.Tabs_extended_badge {
				background-color: $regular-alpha;
				position: unset;
				transform: unset;
			}
		}
	}

	&.Tabs_Extended--fullwidth {
		.Tabs_header {
			display: flex;
		}

		.Tabs__tab {
			border-bottom-color: $light-grey;
			flex-basis: 100%;
		}
	}

	.Tabs_Extended--disabled {
		color: $label-color-disabled;
	}

	.Tabs_body.Tabs_body--closed {
		padding: 0;

		.Tabs__content {
			display: none;
		}
	}

	.Tabs__tab {
		border-bottom-width: 2px;
		border-top-width: 2px;
		position: relative;
		top: 1px;

		&.active a:link,
		&.active a:visited {
			color: $regular-beta;

			&:hover {
				color: $regular-beta;
			}
		}

		a:link,
		a:visited {
			border: 1px solid transparent;
			color: $mid-dark-grey;
			display: inline-block;
			margin: 0;
			min-width: auto;
			position: relative;

			&:hover {
				color: $regular-beta;
			}
		}

		.Badge {
			padding: 2px 0;
			vertical-align: super;
		}
	}

	.Tabs_header {
		overflow-x: hidden;
	}

	.Tabs_extended_badge {
		@include tabs-extended-badge;

		top: 0;
	}

	.TabsContainer[activetab='0'],
	.TabsContainer[activetab='1'] {
		.Tabs_body {
			border-top-left-radius: 0;
		}
	}

	&.Tabs_Extended--actionslasttab {
		.Tabs__tab:last-child {
			float: right;
			pointer-events: none;
		}
		.Tabs__tab:last-child > div {
			display: flex;
			gap: $sapphire-sizes--small
		}
		.Tabs__tab a:link,.Tabs__tab a:visited{
			border: none;
		}
		.Tabs__tab:last-child:hover {
			border-color: transparent;
		}
		.Tabs__tab:last-child a {
			pointer-events: all;
		} 
	}
	
}

.Tabs {
	border: 0px;

	&_header {
		background-color: transparent;
		border-left: none;
	}

	&_body {
		background-color: $regular-white;
		border: 1px solid $light-grey;
		border-radius: $border-radius-medium;
		margin-top: -1px !important;
		padding: 20px;
		position: initial;
	}

	&__tab {
		background-color: transparent;
		border-bottom: 0;
		border-left: 0;
		border-top: 3px solid transparent;
		color: $regular-grey;
		cursor: pointer;
		display: inline-block;
		font-family: $font-family-latin-bold;
		line-height: 37px;
		padding: 0 15px;
		position: relative;
		text-align: center;

		&:hover {
			background: transparent;
		}

		&.active {
			border-bottom: $regular-white;
			border-left: 1px solid $light-grey;
			border-right: 1px solid $light-grey;
			border-top: 3px solid $regular-alpha;
			color: $mid-dark-grey;
			cursor: default;
			font-family: $font-family-latin-regular;
			pointer-events: none;
			position: relative;
			top: 1px;
			z-index: unset;

			&:hover {
				background-color: $regular-white;
			}
		}
	}
}

.Tabs_extended_badge {
	@include tabs-extended-badge;

	top: 5px;
}

.AR,
.FA {
	.Tabs__tab {
		font-family: $font-family-arabic-bold;
	}

	.Tabs_Extended {
		&.Tabs_Extended--Primary .Tabs__tab {
			margin-left: 26px;
			margin-right: auto;
		}

		&.Tabs_Extended--Secondary {
			.Tabs__tab {
				&:first-child {
					&:after {
						display: none;
					}

					&:before {
						display: block;
					}
				}
			}
		}
	}

	.TabsContainer[activetab='0'],
	.TabsContainer[activetab='1'] {
		.Tabs_body {
			border-top-left-radius: $sapphire-sizes--small;
			border-top-right-radius: 0;
		}
	}
}

/* adjustments */
.phone,
.tablet {
	.Tabs__tab {
		width: auto;
	}

	.Tabs_Extended .Tabs_body,
	.Tabs_Extended .Tabs_body {
		padding: 26px 0 26px 0;
	}
}

.tablet {
	.Tabs__content.active .CompLine_actions > div:nth-child(2) {
		margin: 0px;
	}
}

.PopupTimeLine {
	.Tabs_body {
		border: 0;
	}

	.Tabs__tab {
		border-bottom: 1px solid $mid-light-grey;
		width: 50%;
	}

	.Tabs__tab.active {
		border-bottom: 5px solid $regular-alpha;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: $regular-beta;
		font-weight: bold;
		line-height: 34px;
	}
}
