body.ResizeParentIframe {
	height: auto;
	overflow: visible;
	// outline: 1px solid green !important;

	.MainContent {
		padding: 0;
	}
}

iframe {
	// outline: 1px solid red !important;
}

.InlineMenu-Wrapper iframe {
	transition: none !important;
}
