@use '../../components/00-settings/colors' as *;

.LayoutBackoffice {
	.select2-selection__arrow:after {
		top: 50% !important;
		transform: translateY(-50%) !important;
	}

	.select2-selection__rendered {
		line-height: 35px !important;
	}
}

.select2-container {
	&.select2-container--open {
		.select2-search__field {
			padding-left: 15px !important;
		}
	}

	.select2-selection {
		.select2-selection__rendered {
			.select2-selection__choice {
				color: $text-color-regular;
			}
			
			.select2-search:only-child .select2-search__field {
				height: 40px;
			}
		}
	}

	.select2-dropdown {
		.select2-search {
			height: 52px;

			.select2-search__field {
				height: 36px;
				padding-left: 15px !important;
			}
		}

		.select2-search--dropdown:after {
			display: none;
		}
	}
}
