@use '../../../00-settings/colors' as *;

.ScaleFilter {
	position: relative;

	&.open {
		.ScaleFilter_showContent {
			background-color: $regular-white;
			border-bottom: 1px solid $light-grey;
			border-left: 1px solid $light-grey;
			border-right: 1px solid $light-grey;
			display: block;
			left: 0;
			max-height: 500px;
			padding: 10px;
			position: absolute;
			transition: max-height 0.25s ease-in;
			width: 100%;
			z-index: 4;
		}
	}

	&_header {
		border: 1px solid $light-grey;
		display: flex;
		padding: 10px;
		position: sticky;
	}

	&_headerOptions {
		align-items: center;
		display: flex;
		flex: 1;
	}

	&_headerShowHide {
		align-self: center;

		a {
			font-size: 1em;
		}

		.icon {
			margin-left: 10px;
		}

		> a .icon {
			margin: 0;
			padding: 0 10px;
			transition: all 0.4s ease;
		}

		.ScaleFilter_headerShowArrow {
			align-items: center;
			align-self: center;
			justify-content: center;
			margin: 0 auto;
			text-align: center;
			transform: rotate(180deg);
		}
	}

	&_showContent {
		display: none;
		max-height: 0;
		transition: max-height 0.15s ease-out;
	}

	&_footerButton {
		white-space: nowrap;
	}
}
