.IconDropdown {
	cursor: pointer;
	position: relative;
	width: fit-content;

	&.open {
		.IconDropdown {
			&_button.Button {
				background-color: $regular-eta;
				border-color: $regular-alpha;
			}
		}
	}

	&_button.Button {
		@include flex-center-vertically;

		background-color: $regular-white;
		border: 1px solid $light-grey;
		border-radius: 100px;
		height: 36px;
		margin-left: 0;
		min-width: 36px;
		padding: 0 0 0 12px;

		&:hover {
			background-color: $regular-eta;
			border-color: $regular-alpha;
		}

		> span.fa {
			color: $text-color-regular;
			font-size: 1.143em;
		}

		.IconDown {
			@include flex-center-total;

			color: $regular-alpha;
			height: 100%;
			width: 36px;
		}
	}
}

.MoreActions {
	.IconDropdown {
		&_button {
			@include flex-center-total;

			border: none;
			height: 30px;
			min-width: 30px;
			padding: 0;

			span.fa {
				color: $regular-beta;
				font-family: $font-family-icons;

				&::before {
					content: '\e627';
				}
			}
		}

		.IconDown {
			display: none;
		}
	}
}

.AR,
.FA {
	.IconDropdown {
		&_button.Button {
			margin: 0;
			padding-left: 0;
			padding-right: 12px;
		}
	}
}
