@use '../../../00-settings/colors' as *;
@use '../../../00-settings/fonts' as *;

.badge-box {
	flex-direction: row;
	border-radius: 4px;
	border: solid 1px $light-grey;
	display: inline-flex;
	height: 45px;
	text-align: center;
	width: var(--width);

	&-button {
		width: 25px;
		display: none;
		place-items: center;
		cursor: pointer;
		font-weight: 700;
		font-size: 16px;

		&.minus {
			border-right: solid 1px $light-grey;
		}
		&.plus {
			border-left: solid 1px $light-grey;
		}
	}

	&-content {
		flex: 1;
		padding: 4px;
		min-width: 35px;
		display: flex;
		flex-direction: column;
	}

	&-above {
		align-items: center;
		color: $dark-grey;
		display: flex;
		flex: 1;
		font-size: $font-size-heading4;
		font-weight: 700;
		justify-content: center;
		&:empty {
			display: none;
		}
	}
	&-below {
		align-items: center;
		color: $regular-grey;
		display: flex;
		flex: 1;
		font-size: $font-size-micro;
		font-weight: 700;
		justify-content: center;
		&:empty {
			display: none;
		}
	}
}

.badge-box[data-theme~='no-border'] {
	border: none;
}
