@use '../../../00-settings/colors' as *;
@use '../../../00-settings/fonts' as *;

.badge-box {
	border: solid 1px $light-grey;
	border-radius: 4px;
	display: inline-flex;
	flex-direction: row;
	height: 45px;
	text-align: center;
	user-select: none;
	width: var(--width);

	&-button {
		cursor: pointer;
		display: none;
		font-size: 16px;
		font-weight: 700;
		place-items: center;
		width: 25px;

		&.is-disabled {
			color: $light-grey;
			cursor: not-allowed;
			filter: grayscale(100%);
			filter: grayscale(100%);
			opacity: 0.5;
			pointer-events: none;
		}

		&.minus {
			border-right: solid 1px $light-grey;
		}
		&.plus {
			border-left: solid 1px $light-grey;
		}
	}

	&-content {
		display: flex;
		flex: 1;
		flex-direction: column;
		min-width: 35px;
		padding: 4px;
	}

	&-above {
		align-items: center;
		color: $dark-grey;
		display: flex;
		flex: 1;
		font-size: $font-size-heading4;
		font-weight: 700;
		justify-content: center;
		&:empty {
			display: none;
		}
	}
	&-below {
		align-items: center;
		color: $regular-grey;
		display: flex;
		flex: 1;
		font-size: $font-size-micro;
		font-weight: 700;
		justify-content: center;
		&:empty {
			display: none;
		}
	}
}

.badge-box[data-theme~='no-border'] {
	border: none;
}

.badge-box-above[contenteditable='true'] {
	cursor: text;
	&:empty {
		display: flex;
	}
}
