.SapphireHeader {
	background-color: $regular-white;
	position: relative;

	-servicestudio-position: absolute;
    -servicestudio-left: 0;
    -servicestudio-right: 0;

	&.isOpen {
		.SapphireHeader-additional-content {
			display: flex;
		}

		.SapphireHeader-additional-trigger:after {
			display: inline-block;
			transform: rotate(180deg);
		}
	}

	&-body {
		align-items: center;
		border-bottom: solid 1px $light-grey;
		display: flex;
		flex-wrap: wrap;
		gap: $sapphire-sizes--xsmall;
		justify-content: space-between;
		min-height: 80px;
		padding: 11.5px $sapphire-sizes--medium;
	}

	&-navigation {
		font-size: 2.249em;
		
		-servicestudio-margin-top: 18px;

		a .icon {
			color: $dark-grey;
		}

		.AR & {
			> a {
				transform: rotate(90deg);
			}
		}
	}

	&-identification {
		height: $sapphire-sizes--largest;
	}

	&-demographics {
		@include flex-center-vertically;

		flex-grow: 2;
		margin: 0 $sapphire-sizes--xlarge;
		white-space: nowrap;

		.Demographic-item {
			display: none;
			margin-right: $sapphire-sizes--large;

			.AR & {
				margin-left: $sapphire-sizes--large;
				margin-right: 0;
			}
		}
	}

	&-right {
		display: flex;
		gap: $sapphire-sizes--xsmall;
	}

	&-information {
		//flex: 1;
	}

	&-actions {
		//flex: 1;

		> div {
			align-items: center;
			display: flex;
			gap: $sapphire-sizes--xsmall;
			justify-content: flex-end;
			white-space: nowrap;

			.ClinicalBadge {
				height: $sapphire-sizes--largest;
			}
		}

		.IconDropdown {
			margin-left: 6px;

			.AR & {
				margin-left: auto;
				margin-right: 6px;
			}

			&.open {
				.IconDropdown_button {
					background-color: $sapphire-light;
					border: 1px solid $light-grey;
				}
			}

			.IconDropdown_button {
				justify-content: center;
				padding: 0;

				&:hover {
					background-color: $sapphire-light;
					border: 1px solid $light-grey;
				}

				span.fa {
					font-family: $font-family-icons;

					&:before {
						content: '\e627';
					}
				}
			}

			.IconDown {
				display: none;
			}

			.DropdownMenu {
				.AR & {
					left: 0;
					right: auto;
				}
			}
		}

		.PatientDataContainer {
			display: flex;
			gap: $sapphire-sizes--xsmall;
		}
	}

	&-additional-trigger {
		background-color: $regular-white;
		border: 1px solid $light-grey;
		border-radius: 100px;
		cursor: pointer;
		display: none;
		font-size: $font-size-small;
		height: 24px;
		left: 50%;
		line-height: 24px;
		margin-top: -13px;
		padding: 0 $sapphire-sizes--medium;
		position: absolute;
		transform: translateX(-50%);

		&:hover {
			background-color: $sapphire-light;
		}

		&:after {
			color: $regular-grey;
			content: '\e610';
			font-family: $font-family-icons;
			font-size: 10px;

			margin-left: 6px;
		}
	}

	&-additional-content {
		border-bottom: solid 1px $sapphire-light;
		display: none;
		gap: $sapphire-sizes--large;
		min-height: 50px;
		padding: $sapphire-sizes--medium;
		transition: all 0.4s ease;
	}

	& .TransferInProgressBadge {
		display: flex;
		align-items: center;
		height: $sapphire-sizes--largest;
		background-color: $regular-red;
		color: $regular-white;
		padding: $sapphire-sizes--none $sapphire-sizes--small;
		border-radius: $sapphire-sizes--xsmall;
	}
	
}

// UI Adjustments when Sidebar is always opened
.LayoutBase-iframesidebar.notExpandable + .LayoutBase-header {
	.SapphireHeader {
		.DropdownMenu {
			left: auto;
			right: 0;

			.AR & {
				left: 0;
				right: auto;
			}
		}
	}
}

@media (max-width: 1083px) {
	.SapphireHeader-demographics {
		margin-right: 0;

		.AR & {
			margin-left: 0;
			margin-right: $sapphire-sizes--xlarge;
		}
	}

	.SapphireHeader-right {
		flex-basis: 100%;
	}

	.SapphireHeader-actions,
	.SapphireHeader-information {
		border-top: 1px solid $light-grey;
		margin-top: $sapphire-sizes--small;
		padding-top: 11.5px;
	}

	.SapphireHeader-information {
		flex-basis: 50%;
		margin-right: -$sapphire-sizes--xsmall;

		.AR & {
			margin-left: -$sapphire-sizes--xsmall;
			margin-right: 0;
		}

		&[style*='display: none;'] + .SapphireHeader-actions {
			flex-basis: 100%;
		}
	}

	.SapphireHeader-actions {
		flex-basis: 50%;

		> div {
			justify-content: flex-end;
		}
	}
}
