@use '../../../00-settings/colors' as *;
@use '../../../../assets/variables' as *;
@use '../../../00-settings/borders' as *;

.SpinnerInput_Container {
	& > a {
		background-color: $regular-white;
		border: 1px solid $light-grey;
		color: $regular-alpha;
		cursor: pointer;
		display: inline-block;
		height: 36px;
		transition: all 0.2s ease-in;
		width: 36px;

		&:not([disabled]):hover {
			background-color: $regular-eta;
			border: 1px solid $regular-beta;
		}

		&:not([disabled]):focus {
			border: 1px solid $dark-grey;
		}

		&:not([disabled]):active {
			border: 1px solid $regular-alpha;
		}

		&[disabled] {
			background-color: $background-disabled;
			border: 1px solid $border-color-disabled;
			color: $text-color-disabled;
			cursor: default;
		}

		// &[disabled] + .SpinnerInput input[type] {
		// 	pointer-events: none;
		// }

		&.Plus:before,
		&.Minus:before {
			display: block;
			font-family: $font-family-icons;
			font-size: 1.429em;
			line-height: 34px;
			text-align: center;
		}
	}

	.SpinnerInput input[type] {
		border-radius: 0;
		padding: 0 2px;
		text-align: center;
		width: 36px;

		//&:not(:focus),
		&:disabled {
			border-left: none !important;
			border-right: none !important;
		}
	}

	.Minus {
		border-radius: $border-radius-default 0 0 $border-radius-default;

		&:before {
			content: '\e68f';
		}
	}

	.Plus {
		border-radius: 0 $border-radius-default $border-radius-default 0;

		&:before {
			content: '\e698';
		}
	}
}

.FA,
.AR {
	.SpinnerInput_Container {
		.SpinnerInput input.Mandatory {
			border-right: none;
		}

		.Minus {
			border-radius: 0 $border-radius-default $border-radius-default 0;
		}

		.Plus {
			border-radius: $border-radius-default 0 0 $border-radius-default;
		}
	}
}
