@use '../../../00-settings/colors' as *;

div.CircledArrow {
	border: 2px solid $regular-beta;
	border-radius: 50%;
	color: $regular-beta;
	font-size: 0.786em;
	height: 24px;
	line-height: 22px;
	width: 24px;
}
