@use '../../../00-settings/borders' as *;
@use '../../../00-settings/colors' as *;
@use '../../../00-settings/sizes' as *;

.InputUnitWrapper {
	display: table;

	&_input {
		display: table-cell;

		input {
			border-radius: $border-radius-default 0 0 $border-radius-default;
		}

		.ValidationMessage {
			min-width: 60px;
		}
	}

	&_label {
		background-color: $body-color;
		border: 1px solid $light-grey;
		border-left: none;
		border-radius: 0 $border-radius-default $border-radius-default 0;
		line-height: 34px;
		padding: 0 $sapphire-sizes--small;
	}
}

.AR,
.FA {
	.InputUnitWrapper {
		&_input {
			input {
				border-radius: 0 $border-radius-default $border-radius-default 0;
			}
		}

		&_label {
			border-left: 1px solid $light-grey;
			border-radius: $border-radius-default 0 0 $border-radius-default;
			border-right: none;
		}
	}
}
