@use '../../../00-settings/colors' as *;
@use '../../../00-settings/borders' as *;
@use '../../../00-settings/fonts' as *;

@use '../../../01-tools/flex-align' as *;

.ClinicBoxSelectable {
	border: 1px solid $light-grey;
	border-radius: $border-radius-default;
	display: flex;
	flex-direction: column;

	&--selected {
		background-color: $regular-alpha;
		border: 1px solid $regular-alpha;
		color: $regular-white;

		.ClinicBoxSelectable {
			&__ContentLeft {
				&::before {
					background-color: $regular-white;
					border: 1px solid $regular-alpha;
				}

				&::after {
					display: block;
				}
			}

			&__Note,
			&__Subtitle,
			&__FirstSlot,
			&__SecondSlot,
			&__ThirdSlot {
				color: $regular-white;
			}

			&__Values {
				border-top-color: $regular-white;
			}
		}
	}

	&__Content {
		display: flex;
		flex: 1;
		justify-content: space-between;
		min-height: 127px;
		padding: 18px 12px;
		padding-bottom: 12px;
	}

	&__Title {
		font-family: $font-family-latin-bold;
		font-size: 1.143em;
	}

	&__Subtitle {
		color: $regular-grey;
	}

	&__Note {
		color: $regular-grey;
		font-size: 0.857em;
	}

	&__ContentLeft {
		display: flex;
		position: relative;

		&::before {
			border: 1px solid $light-grey;
			border-radius: 50%;
			content: '';
			display: block;
			height: 16px;
			margin-right: 12px;
			margin-top: 3px;
			width: 16px;
		}

		&::after {
			background-color: $regular-alpha;
			border-radius: 50%;
			content: '';
			display: none;
			height: 6px;
			left: 6px;
			position: absolute;
			top: 9px;
			width: 6px;
		}

		> div {
			display: flex;
			flex-direction: column;

			div:not(.ClinicBoxSelectable__Note) {
				flex: 1;
			}
		}
	}

	&__ContentRight {
		@include flex-center-total();

		flex-direction: column;

		> div:last-child {
			margin-bottom: 0;
		}
	}

	&__FirstSlot {
		color: $regular-beta;
	}

	&__SecondSlot {
		color: $regular-red;
	}

	&__FirstSlot,
	&__SecondSlot,
	&__ThirdSlot {
		@include flex-center-total();

		flex-direction: column;
		font-size: 0.857em;
		margin-bottom: 6px;
		padding: 0 12px;

		div:first-child {
			font-size: 1.714em;
		}
	}

	&__Values {
		border-top: 1px solid $light-grey;
		display: flex;
		font-size: 0.857em;
		padding: 6px 12px;

		> div:nth-child(2) {
			&::before {
				content: ':';
				margin-right: 3px;
			}
		}

		> div:nth-child(3) {
			&::before {
				content: '/';
				margin: 0 3px;
			}
		}
	}
}

.AR,
.FA {
	.ClinicBoxSelectable {
		&__ContentLeft {
			&::before {
				margin-left: 12px;
				margin-right: 0;
			}

			&::after {
				left: 0;
				right: 6px;
			}
		}

		&__Values {
			> div:nth-child(2) {
				&::before {
					margin-left: 3px;
					margin-right: 0;
				}
			}
		}
	}
}
