.LayoutBlank {
	&.Page {
		background-color: #fff;
		border: none;

		&.SidebarIframe,
		&.MainInteractiveCard {
			background-color: transparent;
		}

		&.MainInteractiveCard {
			padding: 0;
		}
	}

	&--background-transparent.Page {
		background-color: transparent;
	}
}