.LayoutBlank.Page {
	background-color: #fff;
	border: none;
}

.LayoutBlank.Page.SidebarIframe,
.LayoutBlank.Page.MainInteractiveCard {
	background-color: transparent;
}

.LayoutBlank.Page.MainInteractiveCard {
	padding: 0;
}
