@use '../../../00-settings/colors' as *;
@use '../../../00-settings/borders' as *;
@use '../../../00-settings/sizes' as *;
@use '../../../00-settings/fonts' as *;

@use '../../../01-tools/flex-align' as *;

.LineCardList {
	@include flex-center-vertically;

	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: $border-radius-default;
	cursor: pointer;
	gap: $sapphire-sizes--medium;
	padding: $sapphire-sizes--medium;

	&__Icon {
		text-align: center;
		width: 20px;
	}

	&__Content {
		flex: 1;
	}

	&__Title {
		font-family: $font-family-latin-bold;

		.AR & {
			font-family: $font-family-arabic-bold;
		}
	}

	&__Subtitle {
		color: $regular-grey;
	}

	&__Actions {
		display: flex;
		gap: $sapphire-sizes--small;

		.FlexList {
			justify-content: flex-end;
		}
	}

	&:hover,
	&--selected {
		background-color: $regular-eta;
		border-color: $regular-alpha;
	}
}

.GroupLineCards {
	background-color: $white-grey;

	.LineCardList {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid transparent;
		border-radius: 0;
		border-top: 1px solid transparent;
		position: relative;

		&::after {
			background-color: $light-grey;
			bottom: -1px;
			content: '';
			display: block;
			height: 1px;
			left: 52px;
			position: absolute;
			width: 100%;
		}

		&:hover,
		&--selected {
			background-color: $regular-eta;
		}

		&--selected {
			border-bottom-color: $regular-alpha;
			border-top-color: $regular-alpha;

			&::after {
				display: none;
			}
		}

		&__Actions {
			.BadgeCustom {
				align-items: center;
				font-size: 13px;
				gap: $sapphire-sizes--small;
				height: 26px;
				max-height: unset;
				padding: 0 $sapphire-sizes--small;

				.BadgeCustom__Icon {
					font-size: 16px;
					height: 16px;
				}

				.BadgeCustom__Label {
					color: $dark-grey;
				}
			}
		}

		.AR & {
			&::after {
				left: unset;
				right: 52px;
			}
		}
	}

	//these are different combinations to handle the spans the OS platform adds automatically
	> .LineCardList:last-of-type,
	> .ListRecords > .LineCardList:last-of-type,
	> .ListRecords > span .LineCardList:last-of-type,
	> div .ListRecords > span:last-of-type .LineCardList {
		&::after {
			display: none;
		}
	}
}
