@use '../../../00-settings/colors' as *;

div.SSD_ListLine {
	background-color: $regular-white;
	border-bottom: 1px solid #c9cdce;
	border-top: 0 solid $regular-alpha;
	position: relative;
	-webkit-transition: border 200ms linear, margin 200ms linear;
	-moz-transition: border 200ms linear, margin 200ms linear;
	transition: border 200ms linear, margin 200ms linear;

	div.List-Star {
		font-size: inherit;
	}

	&.WithBorder {
		border: 1px solid $regular-alpha;
		margin-top: -1px;

		&.First {
			margin-top: 0px;
		}
	}

	&.Active {
		border-top: 2px solid $regular-alpha;
		margin-bottom: 20px;
		margin-top: 20px;

		>div.LineHeader {
			pointer-events: none;

			>div.Icon {
				opacity: 0;
				pointer-events: none;
			}

			>div.Label {

				.label-text,
				.detail-text {
					pointer-events: all;
					vertical-align: middle;
				}

				.label-text {
					white-space: normal;
				}

				.other-information {
					display: none;
				}
			}

			>div {

				&.ExpandControl,
				&.OtherControl,
				&.OtherControlLeft {
					min-width: 10rem;
					visibility: hidden;
				}

				&.ExpandControl>a,
				&.ToggleActions>a {
					display: block;
					height: 4.167rem;
					padding: 0.8333rem;
					text-align: right;
				}

				&.Icon {
					display: none;

					+.Label {
						padding-left: 20px;
					}
				}

				&.Label .detail-text {
					display: block;
					margin: 0;
					max-width: 70% !important;
				}
			}
		}

		&.GreyedOut {
			background-color: $regular-white;

			>div.LineHeader {
				background-color: transparent;
			}
		}

		>div.ExpandableContent {
			background-color: $regular-white;
			display: block;
			height: 100%;
			padding: 20px 10px;
		}
	}

	&.WithBorder.First.Active {
		margin-top: 0px;
	}

	&.GreyedOut {
		background-color: transparent;
		border: 1px solid #ebebeb;

		>div.LineHeader {
			background-color: #f5f5f5;

			>div {

				&.OtherControl,
				&.OtherControlLeft {
					cursor: default;
					font-size: 1.1rem;
					padding: 12px;
				}
			}
		}
	}

	&.NoControls.GreyedOut.WithBorder {
		border: 1px solid #ebebeb;
	}

	&.GreaterMarginBottom,
	&.Active.GreaterMarginBottom {
		margin-bottom: 30px;
	}

	>div.LineHeader {
		display: table;
		width: 100%;

		>div:empty {
			display: none;
		}

		>div.Label {

			span[description],
			div[description] {
				color: #7c7f7f;
			}
		}

		>div {

			&.ExpandControl>a,
			&.ToggleActions>a {
				display: block;
				height: 4.167rem;
				padding: 0.8333rem;
			}

			&.Label {
				color: #0c1d22;
				font-size: 1.4rem;
				padding: 5px;
				padding-left: 18px;
				white-space: normal;
				width: 73%;

				span.Heading3 {
					display: inline;
				}
			}

			&.Icon:empty+div.Label {
				padding-left: 10px;
				width: 76%;
			}

			&.ExpandControl>a {
				padding-right: 0;
			}

			&:nth-child(3) {
				/*   width: 27%;
			  float:right;
			  height: 100%;*/
				line-height: 32px;

				.IconVertical {
					line-height: 20px;
				}
			}

			&.Icon {
				&:empty {
					display: none;
				}

				>a {
					display: block;
					height: 4.16rem;
					text-align: center;
				}
			}
		}

		>div.Icon {
			>div:empty {
				width: 50px;
			}
		}

		/*height: 4.167rem;*/
	}

	&.SSD_ListLine-Iframe>div.LineHeader {
		position: relative;
		z-index: 1;

		.ExpandControl {
			.icon-minus {
				position: relative;
				top: 2px;
			}
		}
	}

	&.Disabled>div.LineHeader,
	&:not(.Active):hover>div.LineHeader {
		background-color: #ecf6f8;
	}

	&.Disabled>div.LineHeader>div {

		&.Label,
		&.OtherControl,
		&.OtherControlLeft {
			color: #7bb2bf;
		}

		&.OtherControl,
		&.OtherControlLeft {
			cursor: default;
			padding: 12px;
		}
	}

	>div.LineHeader>div {

		&.OtherControl,
		&.OtherControlLeft {
			cursor: default;
			//padding: 12px;
		}

		display: table-cell;
		vertical-align: middle;
		//width: 68%;

		// &:nth-child(1) {
		// 	width: 1%;
		// }

		// &:nth-child(2) {
		// 	width: 55%;
		// }

		// &:nth-child(3) {
		// 	width: 27%;
		// }

		&:nth-child(4) {
			line-height: 32px;
			//width: 10%;
		}

		&.Icon {
			display: table-cell;
			text-align: -webkit-center;
			transition: opacity 500ms linear;
			width: 48px;

			>a {
				display: block;
				display: table-cell;
				height: 4.16rem;
				text-align: center;
				vertical-align: middle;
				width: 100%;
			}
		}

		&.Icon:empty {
			display: none;
		}

		&.Label {
			color: #0c1d22;
			font-size: 1.4rem;
			padding: 5px;

			span.Heading3 {
				display: inline;
			}
		}

		&.Icon:empty+div.Label {
			padding-left: 10px;
		}
	}

	>div.ExpandableContent {
		display: none;

		.iframe-loading {
			margin-top: 4.167rem;
		}
	}

	&.SSD_ListLine-Iframe>div.ExpandableContent {
		background-color: $regular-white;
		position: relative;
		z-index: 0;
	}
}

.SSD_ListLine {
	.InlineMenu-Wrapper iframe {
		height: 100%;
		width: 100%;
	}

	.Label {
		&.Clickable .detail-text.MultiMarginLeft10.Text_Size14 {
			display: block;
			margin: 0;
			width: 100%;
		}

		.detail-text:empty {
			display: none;
		}
	}
}

.KeyboardNav .SSD-List {

	span.SSD_ListRecords>span.focus div.LineHeader,
	.SSD_ListLine.ShowMore.focus>div.LineHeader {
		background-color: #ecf6f8;
	}
}

.label-text .CareList {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 700px;
}

.LineHeader .OtherControl .labelforStyle {
	padding-left: 5px;
}

.OtherControl {
	padding: 0;
}

.rtl div.SSD_ListLine>div.LineHeader>div.Icon:empty+div.Label {
	padding-left: 0;
	padding-right: 10px;
}

.HospitalizationPlan_Content__Cards .SSD_ListLine.Active>div.LineHeader>div.Label .label-text {
	max-width: 60%;
}

.SectionTitles.Area tr td {
	width: 100%;
}

@media (max-width: 1368px) {
	div.SSD_ListLine>div.LineHeader>div.Label {
		color: #0c1d22;
		font-size: 1.2rem;
		line-height: 18px;
		padding: 12px;
	}

	.label-text .CareList {
		max-width: 520px;
	}
}

.FA,
.AR {
	div.SSD_ListLine>div.LineHeader>div.ExpandControl>a {
		text-align: left;
	}
}