.PersonCardPreInfo {
	background-color: $regular-white;
	border-radius: $border-radius-medium;
	display: flex;
	flex: auto;
	flex-basis: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: $sapphire-sizes--medium;

	> div {
		box-sizing: content-box;
		display: inline-flex;
		flex-basis: 100%;
		flex-direction: column;
		justify-content: center;
		padding-right: $sapphire-sizes--small;
		width: 48px;

		&:last-child {
			padding-right: 0;
		}
	}

	.ColoredBox {
		border-radius: $border-radius-medium;
		font-family: $font-family-latin-bold;
		font-size: $font-size-heading4;
		height: 48px;
		padding: 0;
		width: 48px;

		&--small {
			font-size: $font-size-normal;
		}

		&__Content {
			@include flex-center-total(inline-flex);

			height: 100%;
			width: 100%;
		}
	}

	.PersonCardPreInfo_Time.PreInfoXSmall {
		min-width: 160px;
	}

	.PersonCardPreInfo_Time.PreInfoSmall {
		min-width: 200px;
	}

	.PersonCardPreInfo_Time.PreInfoMedium {
		min-width: 400px;
	}

	.PersonCardPreInfo_Time.PreInfoLarge {
		min-width: 600px;
	}
}

.tablet {
	.PersonCardPreInfo {
		.PersonCardPreInfo_Time.MinWidth150 {
			min-width: auto;
		}

		.PersonCardPreInfo_Time.MinWidth200 {
			min-width: auto;
		}

		.PersonCardPreInfo_Time.MinWidth400 {
			min-width: auto;
		}

		.PersonCardPreInfo_Time.MinWidth600 {
			min-width: auto;
		}
	}
}
