$color-critical-dark: lighten($dark-red, 5%);
$color-critical-medium: lighten($dark-red, 60%);
$color-critical-light: lighten($dark-red, 64%);

$color-high-dark: $regular-red;
$color-high-medium: lighten($regular-red, 35%);
$color-high-light: lighten($regular-red, 40%);

$color-moderate-dark: $regular-orange;
$color-moderate-medium: lighten($regular-orange, 40%);
$color-moderate-light: lighten($regular-orange, 46%);

$color-low-dark: darken($regular-yellow, 10%);
$color-low-medium: lighten($regular-yellow, 33%);
$color-low-light: lighten($regular-yellow, 40%);

$color-info-dark: $regular-blue;
$color-info-medium: lighten($regular-blue, 40%);
$color-info-light: lighten($regular-blue, 45%);

$color-unknown-dark: $regular-grey;
$color-unknown-medium: $body-color;
$color-unknown-light: lighten($body-color, 3%);

@mixin content-themed($dark-color, $medium-color, $light-color) {
	background-color: $light-color;

	.PrescriptionCard__Icon {
		background-color: $medium-color;
		color: $dark-color;
	}

	.PrescriptionCard__InteractionInfo {
		color: $dark-color;
	}

	.PrescriptionCard__Actions {
		.BadgeCustom {
			background-color: $dark-color;
		}
	}
}

.PrescriptionCard {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: $border-radius-medium;
	display: flex;
	gap: $sapphire-sizes--medium;
	padding: $sapphire-sizes--medium;

	&__Icon {
		@include flex-center-total();

		background-color: $sapphire-light;
		border-radius: $border-radius-default;
		color: $regular-grey;
		height: $sapphire-sizes--xxlarge;
		position: relative;
		width: $sapphire-sizes--xxlarge;

		.PrescriptionIcon1 {
			font-size: $font-size-heading3;
		}
	}

	&__Content {
		flex: 1;
	}

	&__InteractionInfo {
		font-family: $font-family-latin-bold;
		font-size: $font-size-small;

		.AR & {
			font-family: $font-family-arabic-bold;
		}
	}

	&__Title {
		@include flex-center-vertically();

		font-family: $font-family-latin-bold;
		height: 22px;

		.PrescriptionCard___CompareIcon {
			padding: 0 $sapphire-sizes--xxsmall;

			.icon-changeleft,
			.icon-changeright {
				font-size: 10px;
			}
		}

		.AR & {
			font-family: $font-family-arabic-bold;
		}
	}

	&__ExpandableContent {
		color: $regular-grey;
		display: none;
	}

	&__Actions {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.PrescriptionCard__Badge {
			text-align: end;
		}

		.PrescriptionCard__ExpandIcon {
			@include flex-center-vertically(inline-flex);

			color: $regular-beta;
			cursor: pointer;

			&::before {
				content: attr(data-title-open);
				font-family: $font-family-latin-bold;
				padding: 0 $sapphire-sizes--small;

				.AR & {
					font-family: $font-family-arabic-bold;
				}
			}

			&::after {
				content: '\e610';
				font-family: $font-family-icons;
				font-size: 10px;
			}
		}
	}

	&--expanded {
		.PrescriptionCard__Actions .PrescriptionCard__ExpandIcon {
			&::before {
				content: attr(data-title-close);
			}

			&::after {
				display: inline-block;
				transform: rotate(180deg);
			}
		}

		.PrescriptionCard__ExpandableContent {
			display: block;
		}
	}

	&--hasInteraction {
		.PrescriptionCard__Icon {
			.PrescriptionIcon1,
			.PrescriptionIcon2 {
				font-size: 13px;
				height: 1em;
				line-height: 1em;
				position: absolute;
				width: 1em;
			}

			.PrescriptionIcon1 {
				left: 6px;
				top: 6px;
			}

			.PrescriptionIcon2 {
				bottom: 6px;
				right: 6px;
			}

			.PrescriptionCard___CompareIcon {
				@include flex-center-total();

				direction: initial;

				.icon-changeleft,
				.icon-changeright {
					font-size: 9px;
				}
			}
		}
	}

	&.Critical {
		@include content-themed($color-critical-dark, $color-critical-medium, $color-critical-light);
	}

	&.High {
		@include content-themed($color-high-dark, $color-high-medium, $color-high-light);
	}

	&.Moderate {
		@include content-themed($color-moderate-dark, $color-moderate-medium, $color-moderate-light);
	}

	&.Low {
		@include content-themed($color-low-dark, $color-low-medium, $color-low-light);
	}

	&.Information {
		@include content-themed($color-info-dark, $color-info-medium, $color-info-light);
	}

	&.Unknown {
		@include content-themed($color-unknown-dark, $color-unknown-medium, $color-unknown-light);
	}
}

.PrescriptionCardList {
	.PrescriptionCard {
		border-bottom-color: transparent;
		border-radius: 0;
	}

	> *:first-child .PrescriptionCard {
		border-top-left-radius: $border-radius-medium;
		border-top-right-radius: $border-radius-medium;
	}

	> *:last-child .PrescriptionCard {
		border-bottom-color: $light-grey;
		border-bottom-left-radius: $border-radius-medium;
		border-bottom-right-radius: $border-radius-medium;
	}
}

// Segmented Control Custom
.SegmentedControl.Filters .SegmentedControlItem {
	&.Critical > input[type='radio']:checked ~ label {
		background-color: $color-critical-dark;
	}

	&.High > input[type='radio']:checked ~ label {
		background-color: $color-high-dark;
	}

	&.Moderate > input[type='radio']:checked ~ label {
		background-color: $color-moderate-dark;
	}

	&.Low > input[type='radio']:checked ~ label {
		background-color: $color-low-dark;
	}

	&.Info > input[type='radio']:checked ~ label {
		background-color: $color-info-dark;
	}

	&.Unknown > input[type='radio']:checked ~ label {
		background-color: $color-unknown-dark;
	}
}
