.BallonContent_wrapper {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: 2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	padding: 20px;
	position: relative;
	z-index: 0;

	&_arrow {
		border-bottom: 8px solid $light-grey;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid transparent;
		height: 0;
		position: relative;
		width: 0;
		z-index: 1;

		&:after {
			border-bottom: 8px solid $regular-white;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid transparent;
			bottom: -9px;
			content: '';
			height: 0;
			left: -8px;
			position: absolute;
			width: 0;
		}
	}
}
