@use '../../../00-settings/sizes' as *;

.Columns2 > .Column {
	padding-left: $sapphire-sizes--large;
	padding-right: $sapphire-sizes--large;
}

.AR,
.FA {
	.Columns2 > .Column {
		&.ColFirst {
			padding-left: $sapphire-sizes--large;
		}

		&.ColLast {
			padding-right: $sapphire-sizes--large;
		}
	}
}
